<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10 margin-top">
    <span>
        {{'history_info.Changed the status of the client'|translate}}
        <span ng-switch="$root.me.personParams.clientAccessLevel">
                <span ng-switch-when="hide">{{history.client.name}}</span>
                <span ng-switch-default>
                    <a href="#/clients/{{history.client.localId}}">{{history.client.name}}</a>
                </span>
        </span>
        <span class="status  passed {{history.stateOld}}">
            {{history.stateOld | translate}}
        </span>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span class="status {{history.stateNew}}">
            {{history.stateNew | translate}}
        </span>
    </span>
    <br/>
     <span ng-show="history.targetDate">
        {{'interview_times'|translate}}:
        {{history.targetDate|dateFormat:true}}
    </span>
</div>