.block-candidate-edit {
	.breadcrumbs {
		margin-top: 20px;
		& > .breadcrumb {
			& > li {
				& > i {
					font-size: 9px;

					padding: 0 5px;
				}
			}
			& > li:before {
				padding: 0;

				content: "";
			}
		}
	}
	.candidate-edit-information {
		@include bt-margins-from-side();

		margin-top: -10px;
		& > .fullName-position {
			float: none;
			& > span {
				@include bold();

				font-size: 20px;
				& > span {
					font-size: 14px;
					font-weight: 500;

					color: #777;
				}
			}
		}
		& > .profile-menu {
			float: none;
			width: 98%;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;

			text-transform: capitalize;

			border-radius: 5px;
			background-color: $theme-white;
			& > ul {
				line-height: 50px;

				display: inline-flex;
				margin-bottom: 0;
				padding: 0;

				list-style-type: none;
				& > li {
					padding-right: 50px;
					& > a {
						cursor: pointer;

						color: $theme-dark;
						& > i {
							margin-right: 10px;

							color: $theme-button-color;
						}
					}
				}
			}
			& > a {
				line-height: 50px;

				outline: none;
				& > i {
					margin-right: 10px;
				}
			}
		}
		& > .candidate-edit-profile-rezume {
			@include bt-margins-from-side();

			margin-top: 15px;
			padding: 0 0 0 15px;
			a {
				outline: none;
			}
			.leftBar {
				border-radius: 5px;
				background-color: $theme-white;
				& > .candidate-edit-foto {
					padding: 0;
					& > div {
						padding: 15px 0;
						& > img {
							width: 100%;
							height: auto;
						}
					}
					& > div ~ div {
						& > div {
							padding-top: 70px;
							padding-bottom: 70px;

							cursor: pointer;
							text-align: center;
							//							background-image: url("../images/sprite/missing-image-640x360.png");

							background-position-x: -8px;
							background-position-y: -5px;
							background-size: 250px 150px;
						}
						a.add-image {
							font-weight: 600;

							display: block;
							margin-top: 15px;

							color: $theme-dark;
							border: 1px solid $theme-dark-green;
							background-color: $theme-white;
						}
					}
				}
				& > .fastCandTextForTxt {
					position: absolute;
					z-index: 9;

					width: 225%;
					padding: 10px 15px;

					border: 1px solid $theme-light-grey;
					border-radius: 5px;
					background-color: $theme-white;
					box-shadow: 0 1px 10px 4px $theme-light-grey;
					.text-center {
						margin-top: 10px;
						a {
							@include button-styling();
						}
					}
				}
				& > .fastCandSiteForSite {
					& > input {
						@include input-styling();
						@include border-radius();

						width: 100%;
						padding: 4px 8px 4px 4px;
						&:focus {
							outline: none;
						}
					}
					.text-center {
						margin-top: 10px;
						a {
							@include button-styling();
						}
					}
				}
				& > .candidate-edit-control {
					padding: 0;
					& > h5 {
						font-weight: 600;
					}
					& > span {
						font-size: 12px;

						margin-left: 10px;

						color: #ccc;
					}
					& > .attachments {
						padding: 0 0 10px 0;

						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						& > .addedFileCandidate {
							clear: none;
							& > .item {
								& > .pull-left {
									width: 90%;
									margin-bottom: 5px;
									& > a {
										cursor: pointer;
									}
								}
								& > .editFileName {
									clear: both;
									height: 68px;
									margin-bottom: 10px;
									padding: 1px 5px;

									background-color: $theme-light-grey-hover;
									& > h5 {
										@include bold();
									}
								}
								& > .fa-times {
									cursor: pointer;
								}
							}
						}
						& > h5 {
							font-weight: 600;
						}
						& > a {
							color: $theme-link-color;
							& > i {
								padding-right: 15px;

								color: $theme-dark-green;
							}
						}
						& > .dropdown-menu {
							& > label {
								@include link-styling();

								margin-bottom: 0;
								margin-left: 15px;
								padding-right: 15px;

								cursor: pointer;
								& > i {
									padding-right: 5px;

									color: $theme-dark-green;
								}
							}
						}
						& > .addLinkFormForLink {
							padding: 0;
							& > div {
								padding: 5px;
								& > form {
									label {
										margin-left: 10px;
									}
									input {
										@include input-styling();
										@include border-radius();
										&:focus {
											outline: none;
										}
									}
								}
							}
							& > div ~ div {
								& > .text-center {
									.btn {
										@include button-styling();
									}
									.accept {
										color: $theme-white;
										background-color: $theme-dark-green;
										&:hover {
											background-color: $theme-light-green-hover;
										}
									}
									.cancel {
										color: #585859;
										background-color: #e3e3e3;
										&:hover {
											background-color: $theme-light-grey-hover;
										}
									}
								}
							}
						}
					}
					& > .profile-percent {
						padding: 0;
						& > div {
							margin-top: 20px;
							.progress-bar-success {
								background-color: #5cb85c!important;
							}
						}
					}
				}
			}
			.centerBar {
				.main-info {
					border-radius: 5px;
					background-color: $theme-white;
					& > .col-lg-4 {
						& > .item {
							width: 100%;
							& > .pull-left {
								width: 74%;
							}
							& > label {
								display: block;
							}
							& > input {
								@include border-radius();

								display: block;
								width: 100%;
								margin-top: 5px;
								padding-left: 15px;

								border: none;
								border-bottom: 1px solid #e3e3e3;
								background-color: #fff;
								box-shadow: none;
								&:focus {
									outline: none;
								}
							}
							& > select {
								display: block;
								width: 100%;

								color: #202021;
								border: none;
								border-bottom: 1px solid #e3e3e3;
								background-color: #fff;
								box-shadow: none;
							}
							& > .widthSelectInput {
								width: 65px!important;
								height: 27px;
								padding: 0;
							}
							& > .widthSelectInput1 {
								height: 27px;
								padding: 0;
							}
						}
						.btn-group {
							margin-top: 15px;
							.btn {
								padding: 5px 30px;

								border-radius: 5px;
								background-color: #e3e3e3;
								&.active {
									color: $theme-white;
									background-color: $theme-dark-green;
								}
							}
						}
					}
					& > .contactCandidate {
						& > .item {
							margin: 30px 0;
						}
					}
					& > .SkillsWithRating {
						margin: 25px 0;
						padding: 25px 10px;

						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						& > .col-lg-5 {
							& > span {
								@include bold();

								display: block;
							}
							& > .floatLeft {
								& > .item-in-table {
									display: block;
									padding-left: 0!important;
									div.stars {
										display: inline-block;
										margin-top: -3px;
										padding-right: 15px;
										& > i {
											margin-top: 7px;

											cursor: pointer;
										}
									}

									input.star {
										display: none;
									}

									label.star {
										font-size: 20px;

										float: right;
										padding-left: 10px;

										transition: all 0.2s;

										color: #444;
									}

									input.star.active ~ label.star:before {
										content: "\f005";
										transition: all 0.25s;

										color: #fd4;
									}

									input.star-5.active ~ label.star:before {
										color: #fe7;
										text-shadow: 0 0 20px #952;
									}

									label.star.editable:hover {
										transform: rotate(-15deg) scale(1.3);
									}

									label.star:before {
										font-family: FontAwesome;

										content: "\f006";
									}
								}
							}
						}
					}
					& > .col-lg-12 {
						& > .text-center {
							margin-top: 20px;
							padding: 20px;

							background-color: $theme-light-orange;
							& > a {
								@include button-styling();
							}
						}
					}
					textarea {
						border: none;
						border-bottom: 1px solid #e3e3e3;
						border-radius: 5px;
						background-color: #fff;
						box-shadow: none;
					}
				}
			}
		}
	}
}