.block-client-add {
	::-webkit-input-placeholder {
		color: $theme-grey;
	}
	::-moz-placeholder {
		color: $theme-grey;
	}/* Firefox 19+ */
	:-moz-placeholder {
		color: $theme-grey;
	}/* Firefox 18- */
	:-ms-input-placeholder {
		color: $theme-grey;
	}
	.breadcrumbs {
		margin-top: 20px;
		& > .breadcrumb {
			& > li {
				& > i {
					font-size: 9px;

					padding: 0 5px;
				}
			}
			& > li:before {
				padding: 0;

				content: "";
			}
		}
	}
	.client-add-information {
		@include bt-margins-from-side();

		margin-top: -10px;
		& > .fullName-position {
			float: none;
			& > span {
				@include bold();

				font-size: 20px;
				& > span {
					font-size: 14px;
					font-weight: 500;

					color: #777;
				}
			}
			&.margin-top {
				display: block;
				margin-top: 10px;
			}
		}
	}
	.client-add-profile-rezume {
		@include bt-margins-from-side();

		margin-top: 15px;
		padding: 0 15px;
		a {
			outline: none;
		}
		.leftBar {
			width: 20%;
			padding: 15px;

			border-radius: 5px;
			background-color: $theme-white;
			& > .client-add-foto {
				padding: 0;
				& > #page-avatar {
					& > img {
						width: 100%;
						height: auto;
					}
				}
				& > div {
					& > div:not(#owner_photo_bubble_wrap):not(#owner_photo_bubble_wrap_for_one_option) {
						padding-top: 70px;
						padding-bottom: 70px;

						cursor: pointer;
						text-align: center;
						//						background-image: url("../images/sprite/missing-image-640x360.png");

						background-position-x: -8px;
						background-position-y: -5px;
						background-size: 250px 150px;
					}
					& > .add-image {
						@include button-styling-cancel();

						font-weight: 600;
					}
				}
			}
			& > .eventDeleted {
				& > label {
					@include button-styling-cancel();

					margin-top: 15px;
				}
			}
		}
		.centerBar {
			margin-right: 15px;
			margin-left: 15px;
			padding: 15px 0;

			border-radius: 5px;
			background-color: $theme-white;
			.main-info {
				& > .col-lg-4 {
					& > .item {
						& > .pull-left {
							width: 74%;
						}
						.alert {
							margin-top: 10px;
							margin-bottom: 0;
						}
						label {
							font-size: 12px;
							font-weight: normal;

							display: block;
							margin: 4px 0 0 8px;

							color: $theme-light-grey;
						}
						.find-button {
							line-height: 2;

							display: table;
							padding: 0;

							color: $theme-link-color;
							&:hover {
								text-decoration: underline;
							}
						}
						input {
							@include border-radius();

							display: block;
							width: 100%;
							padding-left: 9px;

							border: none;
							border-bottom: 1px solid #e3e3e3;
							background-color: #fff;
							box-shadow: none;
							&:focus {
								outline: none;
							}
						}
						select {
							font-size: 14px;

							display: block;
							width: 100%;
							height: 28px;
							padding: 0 0 0 5px;

							color: #202021;
							border: none;
							border-bottom: 1px solid #e3e3e3;
							background-color: #fff;
							box-shadow: none;
						}
						.hoverIcon {
							.showIcon {
								margin-top: -26px;
								margin-right: 15px;

								cursor: pointer;

								opacity: 0;
								color: $theme-green;
							}
							.editDate {
								display: block;
								padding: 6px 0 3px 7px;
								i {
									color: $theme-green;
								}
								span {
									cursor: pointer;
								}
							}
						}
						&:hover .showIcon {
							opacity: 1;
						}
						&.industry {
							.select2-container {
								font-size: 14px;

								padding-right: 0;
								padding-left: 0;

								border: none;
								box-shadow: none;
							}
							.select2-search-choice-close {
								margin-top: -2px;
							}
							.select2-search-choice-edit-origin {
								display: none;
							}
						}
					}
					.error {
						color: $theme-red;
						input {
							border-color: $theme-red;
						}
					}
					.btn-group {
						margin-top: 15px;
						.btn {
							padding: 5px 30px;

							border-radius: 5px;
							background-color: #e3e3e3;
							&.active {
								color: $theme-white;
								background-color: $theme-dark-green;
							}
						}
					}
				}
				& > .col-lg-12 {
					& > .text-center {
						margin-top: 20px;
						padding: 20px;

						& > a {
							@include button-styling();
						}
					}
				}
				textarea {
					@include border-radius();

					overflow: hidden;
					width: 100%;
					height: 42px;
					min-height: 42px;
					margin-top: 3px;
					padding-left: 9px;

					resize: vertical;

					border: 1px solid rgb(238, 238, 238);
					border-bottom: 1px solid #e3e3e3;
					background-color: $theme-white;
					box-shadow: none;
				}
				.form-description {
					font-size: 12px;
					font-weight: normal;

					color: #b8b8b8;
				}
			}
			.tinyMCE-for-block {
				border-right: 2px solid #e3e3e3;
				border-left: 1px solid #e3e3e3;
			}
		}
	}
}

@media (max-width: $screen-sm) {
	.no-padding-sm {
		padding: 0!important;
	}
}
