.block-contact-add {
	.custom-alert {
		position: absolute;
		z-index: 9999;
		top: 43px;
		right: 0;
		left: 0;

		width: 52%;
		margin-right: auto;
		margin-left: auto;
		padding: 3px 5px;
	}
	.col-lg-12 {
		& > span {
			& > h3 {
				@include bold();

				padding-left: 15px;
			}
		}
		.contactForm {
			background-color: $theme-white;
			.AddingContact {
				@include border-radius();

				margin-top: 20px;
				padding: 15px;
				&:last-child {
					margin-top: 0;
				}

				.error {
					label {
					}
				}
				.field {
					margin-top: 10px;
					.redStar {
						color: $theme-red;
					}
					.errorInput {
						border: 1px solid $theme-red;
					}
					.errorTxt {
						color: $theme-red;
					}
					label {
						font-weight: 400;

						margin: 0;

						color: $theme-light-grey;
					}
					input {
						@include input-styling();
						@include border-radius();

						clear: both;
						width: 100%;
						padding-left: 10px;
						&:focus {
							outline: none;
						}
					}
					.btn-group {
						margin: 15px 0 1px 20px;
						.btn {
							@include button-switch-styling();
							&:first-child {
								margin-right: 55px;
							}
							&.active {
								background-color: $theme-light-green-hover;
							}
						}
					}
				}
				.errorTxt {
					color: $theme-red!important;
				}
				p {
					margin-bottom: 10px;
				}
				& > .text-center {
					margin-top: 5px;
					.btn-danger {
						padding: 3px 12px;

						border: none;
					}
					.btn:not(.btn-danger) {
						@include button-styling();
						&.accept {
							color: $theme-white;
							background-color: $theme-dark-green;
							&:hover {
								background-color: $theme-light-green-hover;
							}
						}
					}
				}
				.switch {
					margin-bottom: 15px;
					padding-top: 4px;
					.grey {
						color: #999;
					}
					label {
						font-weight: 500;

						margin-bottom: 0;
					}
				}
				input.cmn-toggle-round + label:before {
					background-color: #8ce196;
				}
				.cmn-toggle + label {
					display: inline-block;
					margin-bottom: -6px;
				}
				.title-header {
					@include bold();

					font-size: 18px;
				}
				.please-fill {
					color: $theme-light-grey;
				}
				#s2id_vacancyToAddAutocompleaterModal {
					width: 25%;
				}
				.infoForVacancy {
					margin-top: 20px;
				}
			}
		}
	}
}