.custom-fields {
	.field {
		height: 34px;
		margin-top: 5px;
		padding: 6px 16px 0 0;
	}
	.select-field {
		select {
			width: 100%;
			margin-top: 5px;
			padding-left: 15px;

			color: #202021;
			border: none;
			border-bottom: 1px solid #e3e3e3;
			background-color: #fff;
			box-shadow: none;
			option[disabled] {
				color: #d3d3d3;
			}
		}
	}
	.date-field {
		input {
			width: calc(100% - 18px);
			padding: 0 0 6px 15px;

			border: none;
			border-bottom: 1px solid lightgrey;
		}
		i.fa-calendar {
			color: #00b549;
		}
	}
}

.block-candidates .candidates-statuses .candidates-search-table > .AdvancedSearchCandidate > .boxThreeColumn .col-lg-4.field {
	padding: 6px 16px 0 0;
}