.disabled-btn-for-test-account {
	position: absolute;
	top: 150px;

	border: 1px solid $theme-red;
	background-color: $theme-yellow;
	h4 {
		@include bold();

		margin: 20px 0;
	}
	p {
		margin: 25px 0;
		padding: 0 45px;
	}
	.btn {
		@include button-styling();
	}
	.accept {
		@include button-styling();
	}
	i {
		cursor: pointer;

		color: $theme-red;
	}
}