.emailIntegration-edit-block {
	letter-spacing: 0.6px;
	header {
		padding-left: 5px;
		h4 {
			font-family: "Helvetica-6-Medium";

			margin-top: 30px;
			margin-bottom: 20px;
			.title-text {
				color: #666;
			}
			.email-name {
				color: #333;
			}
		}
	}
	.main-block {
		font-family: "Helvetica-6-Medium";
		.main-params {
			font-family: "Helvetica-Light";

			margin: 0;
			padding: 20px 10px;

			letter-spacing: 0.6px;

			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: white;
			.password {
				color: #999;
				background-color: #f0f0f0;
			}
		}
		.permissions {
			display: flex;
			height: 40px;
			margin: 20px 0;
			padding: 10px;

			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: white;

			align-items: center;
			justify-content: space-between;
			.sent-permission,
			.mailing-permission,
			.import-permission {
				position: relative;

				display: flex;
				label {
					font-weight: normal;
					line-height: 22px;

					margin-right: 10px;
					margin-bottom: 0;
				}
				.mailing-denied-message {
					display: none;
				}
				&.mailing-permit-denied {
					input.cmn-toggle-round:checked + label:before {
						padding-right: 37px;
						padding-bottom: 18px;

						border: 2px solid $theme-red;
					}
					.mailing-denied-message {
						position: absolute;
						top: 31px;
						right: -10px;

						display: inline-block;

						white-space: nowrap;

						color: $theme-red;
					}
				}
			}
		}
		.mailing-info {
			position: relative;

			padding: 10px;

			border: 1px solid $theme-green;
			border-radius: 5px;
			background-color: $theme-subtitle-background;
			h4 {
				font-size: 16px;

				margin-bottom: 12px;
			}
			p {
				font-family: "Helvetica-Light";

				margin: 0 0 8px;

				letter-spacing: 1.2px;
			}
			.show-settings {
				font-family: "Helvetica-Light";
			}
			.button-block {
				margin-bottom: 10px;
				.buttons-container {
					display: flex;

					justify-content: space-between;
				}
			}
			&::after {
				position: absolute;
				top: 10px;
				right: 10px;

				width: 39px;
				height: 33px;

				content: "";

				background: url("/images/sprite/icons/attention-icon.svg") no-repeat;
				background-size: cover;
			}
			.dkim-settings {
				font-family: "Courier New";

				overflow: hidden;
				height: 0;
				margin: 10px 0;

				-webkit-transition: height 1s;
				transition: height 1s;

				border: 1px solid #ccc;
				background-color: white;
				&.show {
					height: 300px;
				}
				h5 {
					font-weight: bold;

					padding-left: 20px;
				}
				ul {
					padding-left: 30px;
					li {
						list-style: none;

						white-space: nowrap;
					}
				}
			}
			.buttons-block {
				margin-top: 30px;
				margin-bottom: 10px;
				.success-verification-message {
					margin-top: 20px;
				}
				.buttons-container {
					display: flex;

					align-items: center;
					justify-content: space-between;
					.dkim-status,
					.spf-status {
						font-family: "Helvetica-6-Medium";
						font-size: 16px;

						position: relative;

						&::after {
							position: absolute;
							top: 1px;
							right: -30px;

							display: inline-block;
							width: 20px;
							height: 20px;

							content: "";

							background: url("/images/sprite/icons/status-error.svg") no-repeat;
							background-size: cover;
						}
						&.status-ok {
							&::after {
								background: url("/images/sprite/icons/status-ok.svg") no-repeat;
							}
						}
					}
					.check-settings {
						font-size: 14px;

						display: flex;
						padding: 5px 10px;

						border: 1px solid #666;
						border-radius: 5px;
						background: transparent;
						&:focus {
							outline: none;
						}
						span {
							padding-right: 10px;
						}
						i {
							display: inline-block;
							width: 18px;
							height: 18px;

							background-image: url("/images/sprite/icons/button-loader.svg");
							&.updating {
								-webkit-animation: updating 2s linear infinite;
								animation: updating 2s linear infinite;
								@keyframes updating {
									from {
										-webkit-transform: rotate(0deg);
										transform: rotate(0deg);
									}
									to {
										-webkit-transform: rotate(360deg);
										transform: rotate(360deg);
									}
								}
							}
						}
					}
				}
			}
		}
		.bottom-buttons {
			font-family: "Helvetica-Light";

			margin-top: 20px;
			margin-bottom: 40px;
			button {
				letter-spacing: 0.8px;
				&.orange {
					@include button-styling();
				}
				&.cancel {
					@include button-styling-cancel();

					margin-right: 20px;
				}
			}
		}
	}
	#dkim-settings-text {
		opacity: 0;
	}
}