.block-candidates-excel-history {
	.candidates-statuses {
		@include bt-margins-from-side;
		.statuses {
			padding: 0 15px;
		}
		.reload {
			text-align: right;
			&-inner {
				display: inline-block;
				padding: 5px 15px;

				cursor: pointer;

				border: 1px solid #666;
				border-radius: 5px;
			}
		}
		.candidates-search-table {
			.breadcrumbs {
				margin-top: 20px;
				& > .breadcrumb {
					& > li {
						& > i {
							font-size: 9px;

							padding: 0 5px;
						}
					}
					& > li:before {
						padding: 0;

						content: "";
					}
					& > .breadcrumb {
						width: 250px;
						margin: 0;
						padding: 0;
						& > li {
							margin-left: 10px;

							cursor: pointer;
							& > i {
								margin-left: 10px;

								color: $theme-dark-green;
							}
							& > a {
								font-weight: 600;

								color: $theme-link-color;
							}
						}
						& > li:before {
							padding: 0;

							content: "";
						}
					}
				}
			}
			h3 {
				@include bold();
			}
			.blockCheckoutTable {
				@include border-radius();

				margin-top: 15px;
				padding: 20px;

				background-color: $theme-white;
				& > .checkoutTable {
					@include flex(row, space-between, flex-start);
					.block-download {
						@include flex(column, center, flex-end);
					}
					.not-download-btn {
						font-weight: bold;

						padding: 5px 15px;

						text-align: center;

						color: rgb(159, 159, 159);
						border: 1px solid rgb(159, 159, 159);
						border-radius: 10px;
						&:hover {
							color: rgb(159, 159, 159);
						}
					}
					.download-btn {
						font-weight: bold;

						padding: 5px 15px;

						text-align: center;

						border: 1px solid rgb(12, 150, 243);
						border-radius: 10px;
						&:hover {
							background-color: rgba(12, 150, 243,0.1);
						}
					}
					&:not(:first-child) {
						margin-top: 20px;
					}
					& > div {
						.criterionOuter {
							.criterionValue {
								display: block;
							}
						}
						& > i {
							color: $theme-link-color;
						}
						& > a {
							@include link-styling();
						}
					}
				}
			}
			.historyBtn {
				margin-top: 10px;
				padding: 0;
				.more-history {
					@include button-green-styling();

					display: block;
					width: 100%;
					padding: 6px 12px;
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
