.block-finishreg {
	display: flex;
	min-height: 92vh;
	padding-top: 0;
	.row {
		@include disabled-margins-for-row();
		.finishregYou {
			margin-top: 40px;
			a {
				@include link-styling();
			}
		}
		.alreadyRegistered {
			strong {
				color: #000;
			}
			span {
				display: block;
				margin: 20px 0;

				color: #000;
			}
			.buttons {
				text-align: center;
				a {
					font-family: "Helvetica-Medium";
					font-size: 18px;

					display: inline-block;
					margin-top: 8px;
					padding: 4px 20px;

					transition: all 0.3s;
					text-align: center;
					text-decoration: none;

					color: #fff;
					border: 1px solid #00b549;
					border-radius: 27px;
					background-color: #00b549;
					&:hover {
						color: #00b549;
						border: 1px solid #00b549;
						background-color: #fff;
					}
				}
			}
		}
	}
	.background-animations {
		img.position {
			&.cloud-1 {
				top: 22%;
			}
			&.cloud-3 {
				top: 15%;
			}
			&.plane {
				top: 45%;
			}
			&.ball {
				top: 60%;
				left: 50%;
			}
			&.calendar {
				top: 80%;
				right: 60%;
			}
			&.cloud-2,
			&.cloud-4 {
				display: none;
			}
		}
	}
	&.block-public {
		background-color: #eef2ed;
	}
}