@font-face {
	font-family: "Helvetica-Bold";

	src: url("/fonts/inner/Helvetica-Bold.otf");
}

@font-face {
	font-family: "Helvetica-Regular";

	src: url("/fonts/inner/HelveticaRegular.ttf");
}

@font-face {
	font-family: "Helvetica-Medium";

	src: url("/fonts/inner/HelveticaNeueCyr-Medium.otf");
}