@font-face {
	font-family: "Helvetica-Bold";

	src: url("/fonts/inner/Helvetica-Bold.otf");
}

@font-face {
	font-family: "Helvetica-Regular";

	src: url("/fonts/inner/HelveticaRegular.ttf");
}

@font-face {
	font-family: "Helvetica-Medium";

	src: url("/fonts/inner/HelveticaNeueCyr-Medium.otf");
}

@font-face {
	font-family: "Helvetica-Light";

	src: url("/fonts/inner/HelveticaLight.ttf");
}

@font-face {
	font-family: "Helvetica-Heavy";

	src: url("/fonts/inner/HelveticaHeavy.ttf");
}

@font-face {
	font-family: "Helvetica-6-Medium";

	src: url("/fonts/inner/Helv-6-Medium.ttf");
}

@font-face {
	font-family: "Courier New";

	src: url("/fonts/inner/Courier New Regular.ttf");
}
