body {
	padding-bottom: 30px;
	.loader-outer {
		position: fixed;
		z-index: 1060;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;

		justify-content: center;
		align-items: center;
		.loader {
			width: 120px;
			height: 120px;
			margin-top: -120px;

			animation: spin 2s linear infinite;

			border: 16px solid #f3f3f3;
			border-top: 16px solid $theme-dark-green;
			border-radius: 50%;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	.backdrop-custom-fields {
		position: fixed;
		z-index: 1040;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: none;

		opacity: 0.5;
		background-color: $theme-dark;
	}
}

.trial {
	@include top-menu-font();

	display: flex;
	height: 30px;
	margin: 0 30px;

	color: #fff;
	border: 1px solid;
	border-radius: 5px;

	align-items: center;
	.trial-info {
		position: relative;

		display: flex;
		width: 30px;
		height: 30px;

		border-right: 1px solid;

		align-items: center;
		justify-content: center;
		i {
			display: flex;

			align-items: center;
			.st0 {
				fill: #9fa3a8;
			}
		}
		.hoverExtension {
			@include border-radius();

			font-size: 13px;
			line-height: 1.4;

			position: absolute;
			z-index: 10;
			top: 33px;
			right: 20%;

			width: 480px;
			padding: 10px;

			opacity: 1;
			color: $theme-dark;
			border: 1px solid #00b549;
			background-color: $theme-white;
			box-shadow: none;
			ul {
				margin: 0;
				padding-left: 17px;
			}
		}
	}
	.digit {
		@include bold();
	}
	.tooltip.bottom {
		padding: 0;
	}
	span {
		margin-right: 5px;

		align-items: center;
	}
}

.navbar {
	color: $theme-white;
	border: 0;
	background-color: $theme-top-menu;
	.first-navbar {
		display: flex;
		height: 55px;
		padding: 0 20px 0 30px;
	}
	.responsive-nav {
		position: absolute;
		z-index: 99;
		right: 0;

		background-color: $theme-light-green;
		ul {
			li {
				&:last-child {
					margin-top: -15px;
				}
				.boldText {
					@include bold();
				}
				a {
					font-size: 14px;

					display: flex;
					flex-direction: column;
					margin: 15px 0;
					padding: 15px 35px;

					color: $theme-dark;
					background-color: $theme-white;

					align-items: center;
					&:hover {
						color: $theme-dark;
					}
					i {
						&.sprite {
							display: block;

							background-image: url(../../images/sprite/icons/top-menu-colored-sprite.svg);
							background-repeat: no-repeat;
							background-size: 142px auto;
							svg {
								.st0 {
									fill: #5ebb52;
								}
								.st1 {
									fill: #f8991d;
								}
								.st3 {
									fill: #5a5e63;
								}
							}
						}
						&.sprite-calendar {
							width: 18px;
							height: 19px;

							background-position: 3% 47%;
						}
						&.sprite-vacancy {
							width: 21px;
							height: 18px;

							background-position: 21% 46%;
						}
						&.sprite-candidates {
							width: 21px;
							height: 17px;

							background-position: 42% 47%;
						}
						&.sprite-clients {
							width: 22px;
							height: 18px;

							background-position: 60% 47%;
						}
						&.sprite-company {
							width: 20px;
							height: 19px;

							background-position: 78% 46%;
						}
						&.sprite-reports {
							width: 21px;
							height: 24px;

							background-position: 94% 40%;
						}
					}
				}
				.dropdown {
					width: 100%;
					.dropdown-menu {
						left: -215px;
					}
				}
			}
		}
	}
	.navbar-header {
		display: flex;
		margin-top: 0;
		margin-right: 30px;

		align-items: center;
		.navbar-brand {
			@include bold();

			font-family: Roboto, sans-serif;
			font-size: 48px;

			display: inline-block;
			height: 32px;
			margin: 0;
			padding: 0;

			color: $theme-white;
			.logo {
				display: inline-block;
				width: 32px;
				height: 32px;

				background: url(/images/sprite/favicon.png) no-repeat;
				background-size: cover;
			}
		}
		.brand-text {
			font-size: 16px;
			font-weight: 600;

			display: block;
			margin-top: 6px;

			color: $theme-white;
			span {
				&:last-child {
					display: block;
					margin-top: -5px;
				}
			}
		}
	}
	#navbar-main {
		display: flex !important;
		width: 100%;
		height: 55px !important;

		justify-content: space-between;
		align-items: center;
		.fa-bars {
			font-size: 26px;
		}
		.flex-ul {
			display: flex;
			height: 55px !important;
			& > li {
				display: flex;

				align-items: center;
			}
			&.navigation {
				& > li {
					align-items: stretch;
				}
			}
			.navbar-toggle-custom {
				display: none;
				margin-right: 10px;
				margin-left: 10px;

				border: none;
				outline: none;
				background: transparent;
			}
			@media (max-width: 1200px) {
				.navbar-toggle-custom {
					display: block;
				}
			}
		}
		& > .right-block {
			display: flex;

			align-items: center;
		}
		@media (max-width: 1200px) {
			.navigation {
				display: none;
			}
			span.active-page {
				display: inline-block;
				margin-top: 0;
			}
			a.mobile-notices {
				margin-top: 0;
			}
		}
		@media (max-width: $screen-xs) {
			.active-page {
				max-width: 120px;
			}
		}
		.active-page {
			display: none;
			float: none;
			margin-top: 24px;
			margin-left: 15px;
		}
	}
	.nav {
		&.navigation {
			a {
				font-weight: 600;

				display: flex;
				flex-direction: row;
				min-height: 48px;
				margin-top: 2px;
				padding: 10px;

				color: $theme-white;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				align-items: center;
				&:not(.active) {
					&:focus {
						.sprite svg {
							-webkit-transform: scale(1.2) translateZ(0);
							transform: scale(1.2) translateZ(0);
						}
					}
					&:hover {
						.sprite svg {
							-webkit-transform: scale(1.2) translateZ(0);
							transform: scale(1.2) translateZ(0);
						}
					}
					i.sprite svg {
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
						-webkit-transition-duration: 0.3s;
						transition-duration: 0.3s;
						-webkit-transition-property: transform;
						transition-property: transform;
						-webkit-transform: translateZ(0);
						transform: translateZ(0);
					}
				}
				&:focus {
					outline: none;
					background-color: transparent;
				}
				span {
					@include top-menu-font();

					margin-left: 5px;
				}
				i {
					font-size: 17px;
					&.sprite {
						display: block;

						svg {
							.st0 {
								fill: #5ebb52;
							}
							.st1 {
								fill: #f8991d;
							}
							.st3 {
								fill: #5a5e63;
							}
						}
					}
					&.sprite-calendar {
						width: 18px;
						height: 20px;
					}
					&.sprite-vacancy {
						width: 24px;
						height: 24px;
					}
					&.sprite-candidates {
						width: 23px;
						height: 23px;
					}
					&.sprite-clients {
						width: 20px;
						height: 22px;
					}
					&.sprite-company {
						width: 21px;
						height: 23px;
					}
					&.sprite-reports {
						width: 21px;
						height: 24px;
					}
				}
				&:hover {
					background-color: $theme-top-menu-hover;
				}
				&:not(.active):hover {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
				&.active {
					color: $theme-top-menu-hover;
					background-color: $theme-substrate;
					i {
						font-size: 17px;
						&.sprite {
							svg {
								//-webkit-transform: scale(1.2) translateZ(0);
								//transform: scale(1.2) translateZ(0);
								.st0 {
									fill: #5a5e63;
								}
								.st1 {
									fill: #5a5e63;
								}
								.st3 {
									fill: #5a5e63;
								}
							}
						}
						&.sprite-calendar {
							width: 20px;
							height: 20px;
							svg {
								width: 23px;
								height: 20px;
							}
						}
						&.sprite-vacancy {
							width: 26px;
							height: 24px;
							svg {
								width: 28px;
								height: 22px;
							}
						}
						&.sprite-candidates {
							width: 25px;
							height: 24px;
							svg {
								width: 28px;
								height: 22px;
							}
						}
						&.sprite-clients {
							width: 23px;
							height: 21px;
							svg {
								width: 25px;
								height: 20px;
							}
						}
						&.sprite-company {
							width: 22px;
							height: 24px;
							svg {
								width: 28px;
								height: 22px;
							}
						}
						&.sprite-reports {
							width: 22px;
							height: 24px;
							svg {
								width: 24px;
								height: 22px;
							}
						}
					}
				}
			}
		}
		&.information {
			&.margin-bot {
				margin-top: -2.5px;
				margin-bottom: -3.5px;
			}
			a {
				font-weight: 600;

				display: flex;
				padding-top: 14px;
				padding-bottom: 14px;

				color: #fff;

				align-items: center;
				&.main-link {
					padding-top: 15px;
					padding-bottom: 15px;
				}
				&:hover {
					background-color: transparent;
				}
				&:focus {
					background-color: transparent;
				}
				&.mobile-notices {
					margin-top: 7px;
				}
				i {
					font-size: 9px;

					width: 25px;
					height: 25px;
					padding: 7px 0 0 0;

					text-align: center;
					vertical-align: middle;

					color: $theme-green;
					border-radius: 50%;
					background: $theme-white;
				}
				.fa-info-circle {
					font-size: 12px;
				}
				.fa-bell-o {
					position: relative;
					top: 0;

					padding-top: 8px;

					&:before {
						position: relative;
						left: 0.4px;
					}
				}
				.fa-usd {
					padding-top: 8px;
				}
				&.payment {
					@include top-menu-font();

					height: 30px;
					padding: 0;
					padding-right: 5px;

					border: 1px solid white;
					border-radius: 5px;
					.coins {
						display: inline-block;
						width: 30px;
						height: 30px;
						margin-right: 15px;

						border-right: 1px solid white;
						.usd-icon {
							display: flex;
							height: 30px;

							justify-content: center;
							align-items: center;
							.st0 {
								fill: $theme-green;
							}
						}
					}
					&.low-low-balance {
						color: $theme-red;
						border: 1px solid $theme-red;
						.fa-usd {
							color: #d9534f;
						}
						span {
							color: #d9534f;
						}
					}
				}
				&.notice-button {
					width: 45px;
					height: 45px;
					margin-right: 8px;
					padding: 0;

					border: none;
					border-radius: 45px;
					background-color: transparent;
					&:hover {
						background-color: #32393f;
					}
					.notices-icon {
						display: inline-block;
						width: 30px;
						height: 30px;
						margin: 0 auto;
						span {
							display: flex;

							justify-content: center;
							align-items: center;
							.st0 {
								fill: #fff;
							}
						}
					}
					.label {
						top: -2px;
						right: -4px;
					}
				}
			}
			.activeTrial a.payment {
				padding-right: 0;
				.coins {
					margin-right: 0;

					border-right: none;
				}
				&.low-low-balance {
					color: $theme-red;
					border: 1px solid $theme-red;
					.fa-usd {
						color: #d9534f;
					}
					span {
						color: #d9534f;
					}
				}
			}
			.fa-cog {
				font-size: 25px;

				width: 25px;
				height: 25px;
			}
			img.margin-left {
				margin-left: 15%;
			}
			li {
				float: left;
				& > .navbar-nav > li > a {
					padding-top: 14px;
					padding-bottom: 14px;
				}
			}
			.payMoney {
				@include top-menu-font();

				padding: 0 30px 0 0;
			}
			.showFeedbackMenu {
				.btn-group {
					height: 30px;
					padding-right: 17px;
					button {
						font-size: 13px;

						width: 30px;
						height: 30px;

						border: 1px solid white;
						border-radius: 5px;
						background-color: transparent;
						i {
							display: flex;

							justify-content: center;
							align-items: center;
							.st0 {
								fill: #fff;
							}
						}
					}
					.boldText {
						@include bold();
					}
					.fa {
						font-size: 9px;

						position: relative;
						top: -1px;
						left: -1px;

						width: 20px;
						padding: 5px;

						text-align: center;
						vertical-align: middle;

						color: #00b549;
						border-radius: 50%;
						background: #fff;
						&::before {
							position: relative;
							left: -0.4px;
						}
						&.fa-question {
							top: 0;

							width: 25px;
							height: 25px;
							padding: 8px 0 0 1px;
						}
					}
				}
				ul {
					li {
						&:first-child,
						&:last-child {
							text-decoration: underline;
							& > a {
								color: #0096f5;
								&:hover {
									color: #fdd14a;
								}
							}
						}
					}
				}
			}
			.newDesignPage {
				width: 140px;
				a {
					@include border-radius();

					font-size: 12px;
					font-weight: 500;
					line-height: 15px;

					margin: 5px 10px 0 0;
					padding: 5px;

					border: 1px solid $theme-yellow;
				}
			}
			.profile {
				display: flex;
				width: 45px;
				height: 45px;
				padding: 0;

				border: none;
				border-radius: 30px;
				background-color: transparent;

				align-items: center;
				&:hover {
					background-color: #32393f;
				}
				.profile-button-icon {
					display: flex;
					width: 25px;
					height: 25px;
					margin: 0 auto;

					align-items: center;
					.st0 {
						fill: #fff;
					}
				}
			}
			.dropdown-menu {
				position: absolute;
				right: 0;
				left: auto;

				background-color: $theme-white;
				li {
					float: none;
					a {
						font-size: 13px;
						font-weight: 300;

						padding: 5px 10px;

						cursor: pointer;

						color: $theme-dark;
						.extension {
							margin-top: 1px;
							padding: 0;

							color: $theme-blue;
							&.full-size {
								font-size: 14px;

								width: 12px;
								height: 14px;
								margin-left: 8px;
							}
						}
					}
					.hoverExtension {
						@include border-radius();

						position: absolute;
						z-index: 10;
						right: 0;

						width: 480px;
						padding: 10px;

						color: $theme-dark;
						border: 1px solid #00b549;
						background-color: $theme-white;
						box-shadow: none;
						a {
							display: inline-block;
							padding: 0;
						}
					}
					.menuPlugin {
						position: absolute;

						display: none;
						width: 100%;
						padding: 5px 0;

						list-style-type: none;

						color: $theme-dark;
						background-color: $theme-white;
						box-shadow: 0 0 6px 2px $theme-light-grey;
					}
				}
			}
		}
	}
	.second-navbar {
		@include flex(row, space-between);

		width: 100%;

		background-color: $theme-substrate;

		align-items: flex-end;
		&.container-fluid {
			height: 60px;

			border-bottom: 1px solid #ccc;
		}
		.nav {
			display: flex;
			float: left;
			height: 45px;
			margin: 0;

			align-items: stretch;
			li {
				display: flex;
				margin-bottom: -1px;
				margin-left: 10px;

				border: 1px solid #ccc;
				background-color: $theme-second-nav-tab;

				align-items: center;
				&:hover {
					border-bottom-color: #f1f1f1;
					background-color: $theme-substrate;
					a {
						background-color: $theme-substrate;
					}
				}
				&.selected {
					border-bottom-color: $theme-substrate;
					background-color: $theme-substrate;
					&.news-tab {
						border-bottom-color: $theme-subtitle-background;
						background-color: $theme-subtitle-background;
					}
				}
				a {
					position: relative;

					color: $theme-grey;
					border-bottom: none;
					.new-label {
						font-size: 9px;

						position: absolute;
						top: 0;
						right: -15px;

						color: red;
					}
					&:hover,
					&:focus {
						background-color: transparent;
					}
				}
				&.invite-button {
					margin-right: 20px;

					white-space: nowrap;

					border: none;
					background: transparent;
				}
				.inviteUserClientHideTariff {
					@include center-block;
					@include button-styling-cancel();

					font-family: "Helvetica-Normal";
					font-weight: normal;

					margin: 4px 0 0 10px;
					&:hover {
						border: none;
					}
					&:focus {
						outline: none;
					}
				}
			}
			&.right-nav {
				justify-content: flex-end;
				align-items: center;
				& > li .acc-view-wrapper {
					height: 30px;

					border: 1px solid $theme-top-menu;
					border-radius: 5px;
					background-color: $theme-substrate;
				}
			}
		}
		.search-header {
			margin-right: 0;
			input {
				width: 300px;
				padding-left: 0;

				border: none;
				border-bottom: 1px solid #e3e3e3 ;
				background-color: $theme-white;
				box-shadow: none;
			}
			.input-group-addon {
				border: none;
				border-bottom: 1px solid #e3e3e3 ;
				background-color: $theme-white;
				box-shadow: none;
			}
		}
		a {
			@include top-menu-font();

			margin-left: 2px;
			padding: 4px;
			&.no-margin {
				margin-left: 0;
			}

			&.disabled {
				@include disabled-button();

				margin-top: -2px;

				border: 1px solid #ccc;
			}
		}

		#disabledBtn,
		#disabledBtn-2,
		#disabledBtn-3 {
			@include disabled-button();

			margin-left: 30px;
		}
		#disabledBtn-2.less-margin {
			margin-left: 25px;
		}
	}
}
.breadcrumb {
	a {
		@include link-styling;
	}
}
#owner_photo_wrap:hover #owner_photo_bubble {
	margin-top: 0;

	opacity: 1;

	filter: none;
}
#owner_photo_bubble_wrap {
	position: relative;

	overflow: hidden;
	margin-top: -64px;
}
#owner_photo_bubble_wrap_for_one_option {
	position: relative;

	overflow: hidden;
	margin-top: -38px;
}
#owner_photo_bubble {
	z-index: 450;

	padding: 4px 0;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

	opacity: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);

	filter: alpha(opacity=0);
}

.owner_photo_bubble_action {
	/*text-align: center;*/
	overflow: hidden;
	padding: 5px 10px;

	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;

	text-shadow: 0 1px 0 #262626;

	-o-text-overflow: ellipsis;
}
.owner_photo_bubble_action:hover .owner_photo_bubble_action_in {
	opacity: 1;

	filter: none;
}
.owner_photo_bubble_action_in {
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;

	opacity: 0.7;

	filter: none;
}
highlight {
	background-color: #ff0;
}
.overModal {
	z-index: 9999;
}
.modal.middle-modal {
	padding: 0!important;

	text-align: center;
}

.modal.middle-modal:before {
	display: inline-block;
	height: 100%;
	margin-right: -4px;

	content: "";
	vertical-align: middle;
}

.middle-modal .modal-dialog {
	display: inline-block;

	text-align: left;
	vertical-align: middle;
}
.new-label {
	font-size: 9px;

	position: absolute;

	margin-left: 2px;

	color: red;
}
.supportCS {
	position: fixed;
	z-index: 9999;
	right: 30px;
	bottom: 0;

	width: 306px;
	height: 38px;
	padding-top: 0;

	cursor: pointer;

	border-radius: 2px 27px 0 0;
	background-color: rgb(97, 97, 97);
	.jivochat {
		font-size: 15px;

		margin: 10px 35px 0 0;

		color: $theme-white;
	}
	.fa-envelope-o {
		font-size: 16px;

		float: left!important;
		padding: 10px 10px 10px 15px;

		color: $theme-white;
	}
	.sendMessage {
		float: left!important;
		padding: 9px;

		color: rgb(240, 241, 241);
	}
}
#arrowFeedback {
	position: absolute;
	z-index: 10000;
	top: 125px;
	right: 65px;

	display: none;
	width: 200px;
	height: 10px;

	transform: rotate(-44deg);

	background: $theme-red;
	&:before,
	&:after {
		position: absolute;

		display: block;
		width: 0;
		height: 0;

		content: "";

		border: 40px solid transparent;
		border-right: 0;
	}
	&:after {
		top: -7px;
		right: -25px;

		border-width: 12px 0 12px 60px;
		border-left-color: $theme-red;
	}
}
.tooltip.customClass .tooltip-inner {
	width: 200px;

	opacity: 1!important;
	color: $theme-dark;
	background-color: $theme-white;
	box-shadow: none;
}
.tooltip.in {
	opacity: 1!important;
}
.pagination-block {
	i:hover {
		cursor: pointer;
	}
}
.tooltip-icon {
	@include tooltip-icon-styling();
}
.tooltip-outer {
	font-size: 13px;

	width: 335px;
	padding: 10px;

	opacity: 1;
	border: 1px solid #00b549;
	border-radius: 5px;
	background: #fff;
	box-shadow: none;
	.tooltip-arrow {
		display: none;
	}
	.tooltip-inner {
		max-width: 100%;

		text-align: left;

		opacity: 1!important;
		color: $theme-dark;
		background-color: $theme-white;
		img {
			max-width: 100%;
		}
	}
}
.mistake {
	color: red;
}

ul.nav.navbar-nav {
	li {
		i.margin-left {
			display: inline-block;
			margin-left: 16px;
		}
	}
}

.navbar .nav.information .dropdown-menu li .hoverExtension {
	border: 1px solid green;
	background: #fff;
	box-shadow: none;
}

@media(max-width: $screen-md) {
	.navbar .nav.information img.margin-left {
		margin-left: 5%;
	}
}

@media (max-width: $screen-sm) {
	.no-padding-sm {
		padding: 0;
	}
}
@media (min-width:1200px) and (max-width:1350px) {
	.navbar .first-navbar {
		padding: 0 10px 0 15px;
	}
	.navbar .navbar-header {
		margin-right: 15px;
	}
	.trial span:not(.trial-info) {
		display: none;
	}
	.trial .trial-info {
		border-right: none;
		background-position: 94.4% 97%;
	}
	.trial {
		& > span {
			margin: 0;
		}
	}
	.navbar .nav.information a.payment {
		padding-right: 0;
		& > span:not(.coins) {
			display: none;
		}
		& > .coins {
			margin-right: 0;

			border-right: none;
		}
	}
}

@media (min-width:1200px) and (max-width:1280px) {
	.trial {
		margin-right: 15px;
	}
	.navbar .nav.information .payMoney {
		padding: 0 15px 0 0;
	}
}

@-moz-document url-prefix() {
	.navbar .nav.navigation a i.sprite-calendar {
		background-position: 38% 87%;
	}
	.navbar .nav.navigation a:hover i.sprite-calendar,
	.navbar .nav.navigation a.active i.sprite-calendar {
		background-position: 57% 87%;
	}
}

@media (max-width: 500px) {
	.trial .trial-info .hoverExtension {
		left: -150px;

		width: 300px;
	}
}

@media (max-width: $screen-xs) {
	.trial {
		padding: 5px 7px;
	}
	.navbar .second-navbar.container-fluid {
		height: auto;
	}
	.navbar .second-navbar .nav {
		height: auto;

		flex-wrap: wrap;
		li {
			flex-grow: 1;
		}
	}
}