.payment {
	display: flex;
	flex-direction: column;
	padding-top: 55px;

	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	.wrapper {
		display: flex;
		flex-direction: row;
		margin-right: 0;
		margin-left: 0;

		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		section {
			position: relative;

			width: 49%;
			padding: 19px 9px 10px 9px;

			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #fff;
			.section__intro {
				font-family: "Helvetica-Medium";

				position: relative;

				display: flex;
				flex-direction: column;

				color: #666;

				align-items: flex-start;
				justify-content: center;
				.intro__title {
					font-family: "Helvetica-Medium";

					margin: 0 0 25px 0;
				}
				.intro__descr {
					font-family: "Helvetica-Light";
				}
			}
			&.payment__acc-info {
				margin-right: 1%;
				.info__item {
					display: flex;
					flex-direction: row;
					margin-bottom: 10px;

					border: 1px solid #ccc;
					border-radius: 5px;

					justify-content: space-between;
					align-items: center;
					span {
						font-family: "Helvetica-Medium";
						font-size: 19px;
						line-height: 40px;

						position: relative;

						display: inline-block;
						height: 40px;

						color: #666;
						&.info__value {
							padding-right: 10px;
						}
						&.into__title {
							padding-left: 10px;

							border-radius: 3px 0 0 3px;
							background-color: #f1f1f1;
							&:after,
							&:before {
								position: absolute;
								left: 100%;

								display: block;
								width: 0;
								height: 0;

								content: "";

								border-style: solid;
							}
							&:after {
								top: 0;

								border-width: 20px 0 20px 14px;
								border-color: transparent transparent transparent #f1f1f1;
							}
							&:before {
								position: absolute;
								top: -1px;
								left: calc( 100% + 0.4px);

								border-width: 21px 0 21px 15px;
								border-color: transparent transparent transparent #ccc;
							}
						}
					}
				}
			}
			&.payment__pay {
				border: 1px solid #00b549;
				img.security {
					position: absolute;
					top: 12px;
					right: 9px;
				}
				.pay-data__wrapper {
					width: 100%;

					border: 1px solid #ccc;
					border-radius: 5px;
				}
				.pay__data {
					position: relative;

					display: flex;
					flex-direction: row;
					width: 100%;
					padding: 18px 10px 4px 10px;

					justify-content: space-between;
					align-items: center;
					.title {
						font-family: "Helvetica-Light";

						padding-bottom: 10px;

						color: #666;
					}
					.data__item {
						display: flex;
						flex-direction: column;

						justify-content: center;
						align-items: flex-start;
						.data {
							display: flex;
							flex-direction: row;
							margin-top: 15px;

							align-items: center;
							justify-content: center;
							span {
								&.bonus {
									font-family: "Helvetica-Bold";

									min-width: 60px;
									margin-right: 5px;
									padding: 5px 14px;

									color: #00b549;
									border: 1px solid #00b549;
									border-radius: 5px;
								}
								&.total {
									font-family: "Helvetica-Bold";
									font-size: 25px;

									min-width: 130px;

									color: #666;
								}
							}
						}
					}
					&:before {
						position: absolute;
						top: 46px;
						left: 9px;

						width: calc(100% - 15px);
						height: 1px;

						content: "";

						background-color: #ccc;
					}
					//table {
					//	width: 100%;
					//	& > tr {
					//		border-bottom: 1px solid #ccc;
					//	}
					//	tr {
					//		th {
					//			font-family: "Helvetica-Light";
					//
					//			color: #666;
					//		}
					//		td {
					//			.wrap {
					//				display: flex;
					//				flex-direction: row;
					//				height: 60px;
					//				margin-top: 10px;
					//
					//				border-top: 1px solid #ccc;
					//				border-bottom: 1px solid #ccc;
					//
					//				align-items: center;
					//				justify-content: flex-start;
					//				select {
					//					width: 90px;
					//				}
					//				span {
					//					&.bonus {
					//						font-family: "Helvetica-Bold";
					//
					//						min-width: 60px;
					//						margin-right: 5px;
					//						padding: 5px 14px;
					//
					//						color: #00b549;
					//						border: 1px solid #00b549;
					//						border-radius: 5px;
					//					}
					//					&.total {
					//						font-family: "Helvetica-Bold";
					//						font-size: 25px;
					//
					//						min-width: 130px;
					//
					//						color: #666;
					//					}
					//				}
					//			}
					//		}
					//	}
					//}
				}
				.pay__types {
					display: flex;
					flex-direction: row;
					margin-top: 25px;
					padding-bottom: 25px;

					border-bottom: 1px solid #ccc;

					align-items: center;
					justify-content: space-around;
					.pay__type {
						display: flex;
						flex-direction: row;
						max-width: 320px;
						height: 55px;

						align-items: center;
						justify-content: center;
						span {
							font-family: "Helvetica-Bold";

							display: flex;
							width: 100%;
							min-width: 230px;
							height: 55px;
							padding: 18px 10px;

							transition: 0.15s all ease;
							text-align: center;
							letter-spacing: 0.6px;
							text-transform: uppercase;

							color: #fff;
							border: 1px solid #00b549;
							border-right: none;
							border-radius: 5px 0 0 5px;
							background-color: #00b549;

							align-items: center;
							justify-content: center;
						}
						.type__image {
							padding: 7px 9px;

							border: 1px solid #00b549;
							border-radius: 0 5px 5px 0;
							img {
								display: block;
								width: 40px;
								height: 39px;
							}
							&.invoice-payment {
								padding: 12.5px 9px;
								img {
									height: 28px;
								}
							}
						}
						&:first-child {
							margin-right: 20px;
						}
						&:hover {
							cursor: pointer;
							span {
								color: #00b549;
								background-color: #fff;
							}
						}
					}
				}
				.pay_faq {
					display: flex;
					flex-direction: row;
					margin-top: 10px;

					align-items: center;
					justify-content: center;
					span {
						&.bold {
							font-family: "Helvetica-Medium";

							color: #666;
						}
					}
					a {
						text-decoration: none;

						color: #33c;
						&:hover {
							text-decoration: none;

							color: #1a18cc;
						}
					}
				}
				.total-info {
					font-family: "Helvetica-Regular";

					display: block;
					margin: 6px 0 0 10px;
					padding: 5px 10px;

					text-align: right;

					color: #00b549;
					border-top: 1px solid #ccc;
				}
			}
			&.payment__history {
				position: relative;
				top: -43px;

				margin-right: auto;
				margin-left: 9px;
				padding: 0;
				.section__intro {
					flex-direction: row;
					padding: 12px 20px 12px 9px;

					border-bottom: 1px solid #ccc;

					align-items: center;
					justify-content: flex-start;
					.intro__title {
						margin: 0;
					}
				}
				.history-data {
					overflow-y: scroll;
					width: 100%;
					height: 283px;
					padding: 10px;

					background-color: #f1f1f1;
					table {
						width: 100%;
						tr {
							border-bottom: 1px solid #ccc;
							th {
								font-family: "Helvetica-Medium";

								padding-bottom: 7px;

								letter-spacing: 0.6px;

								color: #666;
							}
							td {
								font-family: "Helvetica-Light";

								padding: 5px 0;
								span {
									&.danger {
										color: #fe4545;
									}
								}
								.fa-question {
									padding: 0 3px;

									color: #999;
									border: 1px solid #999;
									border-radius: 50%;
								}
								.fa-times {
									&:hover {
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
		}
		.payment__toggle {
			position: absolute;
			top: -60px;
			left: 0;

			display: flex;
			flex-direction: row;

			justify-content: center;
			align-items: center;
			.history-toggle,
			.write-offs-toggle {
				display: flex;
				width: auto;
				padding: 7px 7px 7px 15px;

				border: 1px solid #ccc;
				border-radius: 25px;

				align-items: center;
				justify-content: space-between;
				label {
					margin: 0;
				}
				& > label {
					font-family: "Helvetica-Bold";

					margin-right: 10px;

					color: #666;
				}
			}
			.history-toggle {
				margin-right: 20px;
			}
		}
	}
	.tooltip-dark {
		margin-top: -20px;

		text-align: left;

		border: 1px solid #333;
		border-radius: 5px;
		background-color: #e6e6e6;
		.tooltip-inner {
			font-family: "Helvetica-Light";
			font-size: 14px;

			text-align: left;

			color: #333;
			background-color: #e6e6e6;
		}
	}
}

.my-select-label {
	font-family: "Helvetica-Bold";

	display: flex;
	flex-direction: row;
	width: 90px;

	cursor: pointer;

	.my-select-label-text {
		font-family: "Helvetica-Bold";

		overflow-x: hidden;
		padding: 6px 12px;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: #666;
		border: 1px solid #ccc;
		border-radius: 5px 0 0 5px;

		flex: 1;
	}
	.my-select-caret {
		font-size: 29px;
		line-height: 1em;

		width: 30px;

		text-align: center;

		color: white;
		border: 1px solid #ccc;
		border-left: none;
		border-radius: 0 5px 5px 0;
		background-color: #f1f1f1;
		i {
			font-size: 12px;

			position: relative;
			top: -4px;

			color: #999;
		}
	}
	&:focus {
		outline: none;
		.my-select-label-text {
			border-radius: 5px 0 0 0;
		}
		.my-select-caret {
			border-radius: 0 5px 0 0;
		}
	}
}
.my-select-ops {
	font-family: "Helvetica-Bold";

	position: absolute;
	z-index: 5;

	display: none;
	overflow-y: auto;
	width: 90px;
	max-height: 300px;

	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #ccc;
	background: white;

	&.active {
		display: inline-block;
	}

	& > div {
		overflow-x: hidden;
		padding: 7px 14px;

		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;
		&.preselected {
			background-color: #f5f5f5;
		}
		&:hover {
			background-color: #e3e4e8;
		}
	}
}
.my-select-backdrop {
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 100%;
	&.active {
		display: block;
	}
}
select,
.my-select-mobile-input {
	position: absolute;
	z-index: 10;

	display: none;

	opacity: 0;
	&.active {
		display: block;
	}
}


@media screen and (max-width: 1300px) {
	.payment .wrapper section {
		&.payment__pay {
			.pay__types {
				.pay__type {
					span {
						font-size: 12px;

						width: auto;
						min-width: 100px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-lg) {
	.payment {
		.wrapper {
			flex-direction: column;

			align-items: center;
			justify-content: flex-start;
			section {
				width: 80%;
				margin-bottom: 30px;
				&.payment__history {
					position: relative;
					top: 0;

					margin-top: 55px;
					margin-right: 0;
				}
				&.payment__pay {
					.pay_faq {
						width: 100%;

						text-align: center;
					}
					.pay__types {
						width: 100%;

						justify-content: center;
					}
				}
				.payment__toggle {
					position: relative;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	.payment {
		.wrapper {
			section {
				width: 100%;
				&.payment__acc-info {
					margin-right: 0;
					.info__item {
						span.into__title {
							font-size: 15px;
						}
					}
				}
				&.payment__history {
					display: none;
				}
				&.payment__pay {
					.pay_faq {
						span {
							&.bold {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.payment .wrapper section {
		&.payment__pay {
			padding-top: 50px;
			.section__intro {
				width: 100%;

				align-items: center;
				.intro__descr {
					width: 100%;
					margin-bottom: 20px;

					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 520px) {
	.payment .wrapper section {
		padding: 19px 4px 10px 4px;
		&.payment__pay {
			.pay__data {
				flex-wrap: wrap;
				.title {
					&.border-xs {
						width: 100%;
						padding-top: 10px;

						text-align: center;

						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
					}
				}
				.data__item {
					width: 50%;

					justify-content: space-between;
					align-items: center;
					.data {
						height: 33px;
					}
					&.margin-xs {
						margin-bottom: 15px;
					}
				}
			}
			.pay__types {
				flex-direction: column;
				.pay__type {
					margin-bottom: 20px;
					span {
						width: 260px;
					}
					&:first-child {
						margin-right: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.container-fluid {
		padding: 0;
	}
	.payment .wrapper section {
		padding: 19px 0 10px 0;
	}
}

//.block-pay {
//	& > .row {
//		@include bt-margins-from-side();
//
//		padding: 0 15px;
//		& > .col-lg-12 {
//			padding: 0;
//			& > h2 {
//				@include bold();
//
//				font-size: 20px;
//
//				margin: 15px 0 15px 15px;
//			}
//			& > p {
//				line-height: 30px;
//
//				margin: 0 0 20px 15px;
//				& > span {
//					@include bold();
//				}
//			}
//		}
//		& > .leftBar {
//			margin-bottom: 20px;
//			padding: 0;
//			& > .blockedAccount {
//				@include border-radius();
//
//				margin-bottom: 15px;
//				padding: 15px;
//
//				background-color: $theme-light-red;
//				& > p {
//					& > span {
//						@include bold();
//					}
//				}
//				& > i {
//					position: absolute;
//					top: 0;
//					right: 0;
//
//					margin: 10px;
//
//					cursor: pointer;
//				}
//			}
//			& > .payForMonth {
//				@include border-radius();
//
//				padding: 1px 10px 15px 10px;
//
//				background-color: $theme-white;
//				p {
//					width: 85%;
//					margin-top: 15px;
//					padding: 0 15px;
//				}
//				p ~ p {
//					width: initial;
//					margin-top: 0;
//					padding: 0 15px;
//				}
//				& > .payFor {
//					max-height: 145px;
//					padding: 10px 15px;
//
//					background-color: $theme-light-orange;
//					& > .checkoutSelectOuter {
//						& > .checkoutInner {
//							& > h4 {
//								@include bold();
//							}
//						}
//						& > .checkoutInner {
//							& > .paySelectOuter {
//								width: 25%;
//								min-width: 118px;
//								padding-left: 10px;
//								& > select {
//									@include select-styling();
//									@include border-radius();
//
//									clear: both;
//
//									border-bottom: 1px solid $theme-dark;
//									background-color: $theme-light-orange;
//									&:focus {
//										outline: none;
//									}
//								}
//								& > span {
//									text-transform: capitalize;
//								}
//							}
//						}
//						& > .payButtonOuter {
//							margin-top: 10px;
//							& > span {
//								font-weight: 400;
//							}
//							& > span ~ span {
//								@include bold();
//
//								font-size: 23px;
//
//								margin-left: 5px;
//							}
//						}
//					}
//				}
//				& > .creditCards {
//					margin-top: 15px;
//					padding: 0 15px;
//					& > img {
//						width: 140px;
//					}
//					& > .text-center {
//						margin-top: 10px;
//						.btn {
//							@include button-styling();
//						}
//						.accept {
//							@include button-styling();
//						}
//					}
//					.important-text {
//						font-size: 14px;
//
//						margin: 5px 0;
//						padding: 5px;
//
//						color: #a94442;
//					}
//				}
//			}
//			& > .payHistory {
//				table {
//					tr {
//						td {
//							.paymentStatus {
//								display: inline-block;
//							}
//							.paymentStatus::first-letter {
//								text-transform: uppercase;
//							}
//							.fa-check {
//								color: $theme-dark-green;
//							}
//							.failure {
//								color: $theme-red;
//							}
//							&.delete-icon {
//								i {
//									cursor: pointer;
//
//									opacity: 0;
//								}
//							}
//						}
//						&:hover {
//							.delete-icon {
//								i {
//									opacity: 1;
//								}
//							}
//						}
//					}
//				}
//			}
//		}
//		.blockPay {
//			float: none;
//			margin: 0 auto;
//		}
//		& > .rightBar {
//			padding: 0 0 0 15px;
//			.balance {
//				padding: 0 15px 15px;
//
//				background-color: $theme-white;
//				h4 {
//					margin: 0 -15px 15px -15px;
//					padding: 15px;
//
//					background-color: $theme-light-green;
//				}
//			}
//			.expenses {
//				margin-top: 15px;
//				margin-bottom: 15px;
//				padding: 0;
//
//				background-color: $theme-white;
//				h4 {
//					margin-top: 0;
//					margin-bottom: 0;
//					padding: 15px;
//
//					background-color: $theme-light-green;
//				}
//				.blue {
//					font-weight: 600;
//
//					color: #0c13e8;
//				}
//				.tooltip-outer {
//					max-width: 220px;
//				}
//			}
//			& > .table {
//				@include border-radius();
//				@include table-styling();
//
//				margin-bottom: 0 !important;
//
//				background-color: $theme-white;
//				& > thead {
//					& > tr {
//						height: 50px;
//						& > th {
//							vertical-align: inherit;
//							&:first-child {
//								border-top-left-radius: 5px;
//							}
//							&:last-child {
//								width: 51px;
//								padding: 0;
//
//								border-top-right-radius: 5px;
//							}
//						}
//					}
//				}
//				& > tbody {
//					& > tr {
//						& > td {
//							& > span {
//								& > i {
//									color: $theme-dark-green;
//								}
//							}
//							&:first-child {
//								@include bold();
//							}
//							&:last-child {
//								color: $theme-dark-green;
//							}
//						}
//					}
//				}
//			}
//		}
//		& > .unlockAllCleverstaff {
//			.blockUnlockAllCleverstaff {
//				@include border-radius();
//
//				padding: 15px;
//
//				background-color: #fff;
//				h3 {
//					@include bold();
//
//					font-size: 20px;
//
//					margin-top: 0;
//					margin-bottom: 25px;
//				}
//				ul {
//					@include bold();
//
//					list-style-type: decimal;
//					span {
//						font-weight: 500;
//					}
//				}
//				.boldText {
//					@include bold();
//				}
//			}
//		}
//		& > .mail-us {
//			p:first-child {
//				font-weight: 600;
//
//				margin-bottom: 15px;
//			}
//		}
//		& > .no-amount {
//			padding-left: 80px;
//		}
//	}
//}
//
//.creditCards {
//	#bonuce {
//		font-weight: bold;
//
//		width: 100%;
//		margin: 0 0 7px 0;
//
//		color: #00b549;
//	}
//}
//
//.wrap-table {
//	overflow-y: auto;
//	height: 300px;
//}
//
//.scrollForTbody {
//	width: 100%;
//	margin-bottom: 0 !important;
//	thead {
//		width: 100%;
//	}
//	tbody {
//		display: block;
//		overflow: auto;
//		max-height: 300px;
//	}
//	thead,
//	tbody {
//		tr {
//			display: table;
//			width: 100%;
//
//			table-layout: fixed;
//		}
//	}
//}