.payment {
	display: flex;
	flex-direction: column;
	padding-top: 55px;

	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	.wrapper {
		display: flex;
		flex-direction: row;
		margin-right: 0;
		margin-left: 0;

		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		section {
			position: relative;

			width: 49%;
			padding: 19px 9px 10px 9px;

			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #fff;
			.section__intro {
				position: relative;

				display: flex;
				flex-direction: column;

				align-items: flex-start;
				justify-content: center;
				.intro__title {
					font-family: "Helvetica-Medium";

					margin: 0 0 25px 0;
				}
				.intro__descr {
					font-family: "Helvetica-Light";
				}
			}
			&.payment__acc-info {
				.info__item {
					display: flex;
					flex-direction: row;
					margin-bottom: 10px;

					border: 1px solid #ccc;
					border-radius: 5px;

					justify-content: space-between;
					align-items: center;
					span {
						font-family: "Helvetica-Medium";
						font-size: 19px;
						line-height: 40px;

						position: relative;

						display: inline-block;
						height: 40px;

						color: #666;
						&.info__value {
							padding-right: 10px;
						}
						&.into__title {
							padding-left: 10px;

							border-radius: 3px 0 0 3px;
							background-color: #f1f1f1;
							&:after,
							&:before {
								position: absolute;
								left: 100%;

								display: block;
								width: 0;
								height: 0;

								content: "";

								border-style: solid;
							}
							&:after {
								top: 0;

								border-width: 20px 0 20px 14px;
								border-color: transparent transparent transparent #f1f1f1;
							}
							&:before {
								position: absolute;
								top: -1px;
								left: calc( 100% + 0.4px);

								border-width: 21px 0 21px 15px;
								border-color: transparent transparent transparent #ccc;
							}
						}
					}
				}
			}
			&.payment__pay {
				border: 1px solid #00b549;
				img.security {
					position: absolute;
					top: 12px;
					right: 9px;
				}
				.pay__data {
					padding: 18px 10px 4px 10px;

					border: 1px solid #ccc;
					border-radius: 5px;
					table {
						width: 100%;
						& > tr {
							border-bottom: 1px solid #ccc;
						}
						tr {
							th {
								font-family: "Helvetica-Light";

								color: #666;
								//&:last-child {
								//	text-align: right;
								//}
							}
							td {
								.wrap {
									display: flex;
									flex-direction: row;
									height: 60px;
									margin-top: 10px;

									border-top: 1px solid #ccc;
									border-bottom: 1px solid #ccc;

									align-items: center;
									justify-content: flex-start;
									select {
										width: 90px;
									}
									span {
										&.bonus {
											font-family: "Helvetica-Bold";

											margin-right: 5px;
											padding: 5px 14px;

											color: #00b549;
											border: 1px solid #00b549;
											border-radius: 5px;
										}
										&.total {
											font-family: "Helvetica-Bold";
											font-size: 16px;

											color: #666;
										}
									}
								}
							}
						}
					}
				}
				.pay__types {
					display: flex;
					flex-direction: row;
					margin-top: 25px;
					padding-bottom: 25px;

					border-bottom: 1px solid #ccc;

					align-items: center;
					justify-content: space-around;
					.pay__type {
						display: flex;
						flex-direction: row;
						min-width: 290px;
						height: 55px;

						transition: 0.15s all ease;

						align-items: center;
						justify-content: space-around;
						span {
							font-family: "Helvetica-Bold";

							display: block;
							width: 100%;
							height: 55px;
							padding: 18px 50px;

							text-align: center;
							letter-spacing: 0.6px;
							text-transform: uppercase;

							color: #fff;
							border: 1px solid #00b549;
							border-right: none;
							border-radius: 5px 0 0 5px;
							background-color: #00b549;
						}
						.type__image {
							padding: 7px 9px;

							border: 1px solid #00b549;
							border-radius: 0 5px 5px 0;
							img {
								display: block;
								width: 40px;
								height: 39px;
							}
							&.invoice-payment {
								padding: 12.5px 9px;
								img {
									height: 28px;
								}
							}
						}
						&:first-child {
							margin-right: 20px;
						}
						&:hover {
							cursor: pointer;
							span {
								color: #00b549;
								background-color: #fff;
							}
						}
					}
				}
				.pay_faq {
					display: flex;
					flex-direction: row;
					margin-top: 10px;

					align-items: center;
					justify-content: center;
					span {
						&.bold {
							font-family: "Helvetica-Medium";

							color: #666;
						}
					}
					a {
						text-decoration: none;

						color: #33c;
						&:hover {
							text-decoration: none;

							color: #1a18cc;
						}
					}
				}
				.total-info {
					font-family: "Helvetica-Regular";

					display: block;
					margin-top: 2px;

					text-align: right;

					color: #00b549;
				}
			}
			&.payment__history {
				padding: 0;
				.section__intro {
					flex-direction: row;
					padding: 12px 20px;

					align-items: center;
					justify-content: flex-start;
					border-bottom: 1px solid #ccc;
					.intro__title {
						margin: 0;
					}
				}
				.history-data {
					width: 100%;
					padding: 10px;
					table {
						width: 100%;
						tr {
							border-bottom: 1px solid #ccc;
							td {
								padding-bottom: 10px;
							}
						}
					}
				}
			}
			&:nth-child(odd) {
				margin-right: 1%;
			}
		}
		.payment__toggle {
			position: relative;
			top: -105px;

			display: flex;
			flex-direction: row;

			justify-content: center;
			align-items: center;
			.history-toggle,
			.write-offs-toggle {
				display: flex;
				width: auto;
				padding: 7px 7px 7px 15px;

				border: 1px solid #ccc;
				border-radius: 25px;

				align-items: center;
				justify-content: space-between;
				label {
					margin: 0;
				}
				& > label {
					font-family: "Helvetica-Bold";

					margin-right: 10px;

					color: #666;
				}
			}
			.history-toggle {
				margin-right: 20px;
			}
		}
	}
}

.my-select-label {
	font-family: "Helvetica-Bold";

	display: flex;
	flex-direction: row;
	width: 90px;

	cursor: pointer;

	.my-select-label-text {
		font-family: "Helvetica-Bold";

		overflow-x: hidden;
		padding: 6px 12px;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: #666;
		border: 1px solid #ccc;
		border-radius: 5px 0 0 5px;

		flex: 1;
	}
	.my-select-caret {
		font-size: 29px;
		line-height: 1em;

		width: 30px;

		text-align: center;

		color: white;
		border: 1px solid #ccc;
		border-left: none;
		border-radius: 0 5px 5px 0;
		background-color: #f1f1f1;
		i {
			font-size: 12px;

			position: relative;
			top: -4px;

			color: #999;
		}
	}
	&:focus {
		outline: none;
		.my-select-label-text {
			border-radius: 5px 0 0 0;
		}
		.my-select-caret {
			border-radius: 0 5px 0 0;
		}
	}
}
.my-select-ops {
	font-family: "Helvetica-Bold";

	position: absolute;
	z-index: 5;

	display: none;
	overflow-y: auto;
	width: 90px;
	max-height: 300px;

	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #ccc;
	background: white;

	&.active {
		display: inline-block;
	}

	& > div {
		overflow-x: hidden;
		padding: 7px 14px;

		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;
		&.preselected {
			background-color: #f5f5f5;
		}
		&:hover {
			background-color: #e3e4e8;
		}
	}
}
.my-select-backdrop {
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 100%;
	&.active {
		display: block;
	}
}
select,
.my-select-mobile-input {
	position: absolute;
	z-index: 10;

	display: none;

	opacity: 0;
	&.active {
		display: block;
	}
}