body {
	height: 100%;

	background-color: $theme-light-grey-hover;
}
.block-test-candidate-public {
	.row {
		margin: 0;
		.publicTest {
			position: absolute;
			right: 0;
			left: 0;

			display: flex;
			height: 100%;
			margin: 0 auto;
			padding: 15px;

			align-items: start;
			justify-content: center;
			.tests {
				h3 {
					font-size: 37px;

					margin-top: 45px;
					margin-bottom: 60px;
					span {
						font-size: 18px;

						display: block;
						margin-top: 15px;
					}
				}
				h4 {
					margin: 0;
				}
				.startTest {
					@include button-styling();

					margin: 60px 0;

					white-space: normal;
				}
				.minWidth {
					width: 62%;
					margin: 0 auto 25px;
				}
				.error-message {
					margin-top: 60px;

					color: #ff636d;
				}
				.time {
					font-size: 17px;

					.fa-clock-o {
						margin-right: 5px;
					}
					.fa-info-circle {
						margin-left: 5px;
					}
				}
				.showPrompt {
					@include border-radius();

					position: absolute;
					z-index: 10;
					right: 0;

					width: 480px;
					padding: 10px;

					color: $theme-dark;
					border: 1px solid $theme-light-grey-hover;
					background-color: $theme-white;
					box-shadow: 0 0 5px 2px $theme-light-grey;
				}
			}
			.powered-by {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;

				margin: 0 auto;
				padding-bottom: 15px;

				background-color: transparent;
				.logo-cs {
					margin: 20px 90px 1px auto;
					.new-logo-cs {
						position: relative;
						top: -2px;
						left: 5px;

						display: inline-block;
						width: 32px;
						height: 31px;

						color: $theme-dark;
						background: url(../images/sprite/people.svg) no-repeat;
						background-size: cover;
						span {
							font-size: 18px;

							position: relative;
							top: 2px;

							margin-left: 40px;
						}
					}
					a:hover {
						text-decoration: none;
					}
				}
				:last-child {
					font-size: 11px;

					margin-bottom: 0;
				}
			}
		}
		.publicTest2 {
			position: absolute;
			right: 0;
			left: 0;

			margin: 0 auto;
			padding: 15px;
			.padding {
				padding: 0;
			}
			.bold {
				@include bold();
			}
			.tests2 {
				margin-top: 45px;
				padding: 30px 40px;

				background-color: $theme-white;
				h4 {
					margin-bottom: 25px;
				}
				img {
					max-width: 100%;
				}
				.checkboxBlock {
					p {
						color: $theme-light-grey;
					}
					span {
						display: block;

						cursor: pointer;
						input {
							margin-right: 5px;
						}
					}
					textarea {
						height: 150px;

						resize: none;
					}
				}
				.text-center {
					margin-top: 25px;
					.btn {
						@include button-styling();
					}
					.accept {
						@include button-styling();
					}
					.cancel {
						@include button-styling-cancel();
					}
				}
			}
			footer {
				.logo-cs {
					margin: 20px 90px 1px 0;
					.new-logo-cs {
						position: relative;
						top: -2px;
						left: 5px;

						display: inline-block;
						width: 32px;
						height: 31px;

						color: $theme-dark;
						background: url(../images/sprite/people.svg) no-repeat;
						background-size: cover;
						span {
							font-size: 18px;

							position: relative;
							top: 2px;

							margin-left: 40px;
						}
					}
					a:hover {
						text-decoration: none;
					}
				}
				:last-child {
					font-size: 11px;

					margin-bottom: 0;
				}
			}
		}
		.publicTest3 {
			position: absolute;
			right: 0;
			left: 0;

			margin: 0 auto;
			padding: 15px;
			.tests3 {
				h3 {
					margin-top: 50px;
					margin-bottom: 60px;
				}
				.minWidth {
					width: 50%;
					margin: 0 auto 45px;
				}
				.btn {
					@include button-styling();
				}
				.accept {
					@include button-styling();
				}
				.cancel {
					@include button-styling-cancel();
				}
			}
			.powered-by {
				position: fixed;
				bottom: 0;

				width: 73%;
				padding-bottom: 15px;

				background-color: transparent;
				.logo-cs {
					margin: 20px 90px 1px 0;
					.new-logo-cs {
						position: relative;
						top: -2px;
						left: 5px;

						display: inline-block;
						width: 32px;
						height: 31px;

						color: $theme-dark;
						background: url(../images/sprite/people.svg) no-repeat;
						background-size: cover;
						span {
							font-size: 18px;

							position: relative;
							top: 2px;

							margin-left: 40px;
						}
					}
					a:hover {
						text-decoration: none;
					}
				}
				:last-child {
					font-size: 11px;

					margin-bottom: 0;
				}
			}
		}
		.publicTest4 {
			position: absolute;
			top: 135px;
			right: 0;
			left: 0;

			margin: 0 auto;
			padding: 15px;
			.tests4 {
				h3 {
					margin-bottom: 45px;
				}
				.minWidth {
					width: 50%;
					margin: 0 auto 45px;
				}
			}
			.powered-by {
				position: fixed;
				bottom: 0;

				width: 73%;
				padding-bottom: 15px;

				background-color: transparent;
				.logo-cs {
					margin: 20px 90px 1px 0;
					.new-logo-cs {
						position: relative;
						top: -2px;
						left: 5px;

						display: inline-block;
						width: 32px;
						height: 31px;

						color: $theme-dark;
						background: url(../images/sprite/people.svg) no-repeat;
						background-size: cover;
						span {
							font-size: 18px;

							position: relative;
							top: 2px;

							margin-left: 40px;
						}
					}
					a:hover {
						text-decoration: none;
					}
				}
				:last-child {
					font-size: 11px;

					margin-bottom: 0;
				}
			}
		}
	}
}