.block-public-test {
	position: relative;

	min-height: 100vh;
	padding: 30px;
	.companyInfo {
		position: absolute;
		top: 100px;
	}
	.absolute {
		position: absolute;
		bottom: 0;
		left: calc(50% - 93px);
	}
	.block-intro {
		margin-top: 0;
		.intro-text {
			max-width: 50%;
		}
	}
	.block-info {
		display: flex;
		flex-direction: column;
		max-width: 55%;
		min-height: 380px;
		margin: 0 auto 40px;
		padding-bottom: 0;

		transition: none;

		justify-content: space-between;
		&.thanks-message {
			height: 320px;
			min-height: 0;

			align-items: center;
			justify-content: center;
			.success {
				h3 {
					margin: 0 auto 10px;
				}
			}
			h3 {
				font-family: "Helvetica-Bold";
				font-weight: 600;

				margin: 20px auto;

				text-align: center;
			}
			span {
				font-family: "Helvetica-Regular";
				font-size: 17px;
			}
		}
		&.finish-test {
			min-height: 0;

			h3 {
				font-family: "Helvetica-Bold";
				font-weight: 600;

				text-align: center;
			}
			.block-accent.small {
				width: 75%;
				margin: 20px auto 5px;
				span.warning {
					font-family: "Helvetica-Regular";
					font-size: 13px;
					line-height: 26px;

					display: block;
					min-height: 26px;
					padding-left: 32px;

					background-image: url("/images/sprite/public-test/placeholder.svg");
					background-repeat: no-repeat;
					background-position: center left;
					background-size: 26px;
				}
			}
			.buttons-wrap {
				.cancel {
					left: 12%;
				}
			}
		}
		&.question {
			.question-header {
				display: flex;
				flex-direction: row;

				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.time-limit {
					line-height: 26px;

					display: block;
					min-height: 26px;
					padding-left: 35px;

					background-image: url("/images/sprite/public-test/timer.svg");
					background-repeat: no-repeat;
					background-position: center left;
					background-size: 26px;
					.disabled-color {
						color: #666;
					}
				}
				.questions-amount {
					span {
						font-family: "Helvetica-Bold";
					}
				}
			}
			.question-name {
				font-family: "Helvetica-Bold";

				margin: 40px auto 20px;

				text-align: center;
			}
			.question-answers {
				display: flex;

				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				.multi-answers {
					display: flex;
					flex-direction: column;

					justify-content: center;
					flex-wrap: wrap;
					align-items: flex-start;
					> p {
						font-family: "Helvetica-Regular";
						font-size: 14px;

						margin-bottom: 15px;
						padding-left: 28px;

						color: #757775;
					}
					textarea {
						height: 150px;

						resize: vertical;
						transition: none;
					}
					label {
						font-family: "Helvetica-Regular";
						font-weight: normal;

						color: #000;
					}
				}
				.question-image {
					display: flex;
					flex-direction: column;
					max-width: 220px;

					justify-content: center;
					align-items: center;
					img {
						max-width: 100%;
						height: auto;
						&.zoom {
							width: 21px;
							height: auto;
							margin: 0 8px 0 0;
						}
						&:hover {
							cursor: pointer;
						}
					}
					span {
						font-family: "Helvetica-Regular";

						display: flex;
						flex-direction: row;
						margin-top: 15px;
						padding-right: 30px;

						color: #666;

						justify-content: center;
						align-items: center;
					}
				}
				&.center {
					justify-content: center;
				}
			}
		}
		.info-additional {
			margin-top: 15px;
			> span {
				line-height: inherit;

				margin-bottom: 18px;
				padding-left: 35px;
			}
			.time-limit {
				background-image: url("/images/sprite/public-test/timer.svg");
				i.tooltip-icon {
					margin-left: 5px;

					color: #000;
				}
				.tooltip-inner {
					text-align: left;
				}
			}
			.warning {
				background-image: url("/images/sprite/public-test/placeholder.svg");
			}
		}
		button.send-test {
			align-self: center;
		}
		.buttons-wrap {
			position: relative;

			display: flex;
			flex-direction: row;
			margin-top: 20px;
			padding-bottom: 15px;

			justify-content: center;
			.next-question {
				align-self: center;
				&.cancel {
					position: absolute;
					top: calc(50% - 31px);
					left: 15%;
				}
				&.left-side {
					left: 0;
				}
			}
			&.in-column {
				flex-direction: column-reverse;
				.next-question.cancel {
					position: static;
				}
			}
		}
		.btn-primary-new {
			@include btn-primary-new();

			margin-bottom: 10px;

			&.cancel {
				@include btn-cancel();

				padding: 6px 17px;
			}
			&.small {
				padding: 9px 28px;
			}
		}
	}
	.question-modal-image {
		position: fixed;
		z-index: 9999;
		top: 0;
		right: 0;

		display: none;
		overflow: auto;
		flex-direction: row;
		width: 100%;
		height: 100%;
		padding: 50px 0;

		animation-duration: 0.6s;

		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.9);

		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&.visible {
			display: flex;

			animation-name: zoom-in;
		}
		&.hidden {
			display: none;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
		.close {
			font-size: 40px;
			font-weight: bold;

			position: absolute;
			top: 15px;
			right: 35px;

			transition: 0.3s;

			opacity: 0.8;
			color: #f1f1f1;
		}
		@keyframes zoom-in {
			from {
				display: flex;

				transform: scale(0);
			}
			to {
				transform: scale(1);
			}
		}
	}
	.background-animations img.finger-up {
		top: 65%;
		right: 14%;
	}
}

@media (max-width: 1330px) {
	.block-public-test .block-info.question .question-answers {
		justify-content: center;
		.question-image {
			margin-top: 10px;
		}
	}
}

@media (max-width: 1250px) {
	.block-public-test.block-public .companyInfo {
		width: 16%;
	}
	.block-public-test .block-info.finish-test {
		max-width: 65%;
	}
}

@media (max-width: 1100px) {
	.block-public-test.block-public .companyInfo {
		width: 17%;
	}
	.block-public-test .block-info .buttons-wrap {
		flex-direction: column-reverse;
		.next-question.cancel {
			position: static;
		}
	}
}

@media (max-width: 1050px) {
	.block-public-test .block-info.question .question-answers .question-image {
		margin: 10px auto 0;
	}
}


@media (max-width: $screen-md) {
	.block-public-test .block-info {
		max-width: 80%;
	}
	.block-public-test.block-public .companyInfo {
		position: static;

		width: 319px;
		margin: 0 auto 30px;
		padding: 15px 50px 30px 50px;
		.img.logo {
			max-width: 90%;
		}
	}
	.block-public .block-intro .intro-text {
		max-width: none;
	}
}

@media (max-width: $screen-sm) {
	.block-public-test .block-info.finish-test {
		max-width: 100%;
	}
}

@media (max-width: $screen-xs) {
	.block-public-test .block-info {
		max-width: 95%;
	}
	.block-public-test .block-info.question .question-header {
		flex-direction: column;

		justify-content: center;
		align-items: center;
		.time-limit {
			margin-bottom: 15px;
		}
	}
	.block-public-test.block-public .companyInfo {
		width: 250px;
	}
	.block-public-test .block-info.finish-test .block-accent.small {
		width: 90%;
		margin: 20px 5px 5px;
	}
}

// animations

//.block-public-test *.ng-hide.animate {
//	opacity: 0;
//}
//
//.block-public-test *.ng-hide-add.animate,
//.animate-show-hide *.ng-hide-remove.animate {
//	transition: all linear 0.3s;
//}
