.sendTestCandidateToEmail {
	.blockTestCandidate {
		margin: 0;
		h3 {
			font-size: 24px;

			margin: 10px 0;
			padding-left: 0;
		}
		p {
			font-size: 19px;

			clear: both;
			a {
				@include link-styling();
			}
			span {
				text-transform: lowercase;
			}
		}
		.padding-right {
			padding-right: 0;
			.text-right {
				margin: 20px 0;
				.btn {
					@include button-styling();
				}
				.accept {
					@include button-styling();
				}
				.cancel {
					color: #585859;
					background-color: #e3e3e3;
					&:hover {
						background-color: $theme-light-grey-hover;
					}
				}
			}
		}
		.addChancelBtn {
			.text-right {
				margin: 0;
				.btn {
					@include button-styling();
				}
				.accept {
					@include button-styling();

					margin-left: 5px;
				}
				.cancel {
					@include button-styling-cancel();
				}
			}
		}
		.btnForCandidate {
			margin: 20px 0;
		}
	}
	.addCandidate {
		.mrgTop {
			.autoSelect {
				margin-bottom: 20px;
				.select2-search-choice {
					padding: 3px 5px;

					background-color: inherit;
					.select2-search-choice-close {
						display: none;
					}
				}
			}
			.email {
				margin-bottom: 20px;
				padding: 0;
				.item {
					a {
						@include link-styling();
					}
					&.link-input {
						label {
							@include link-styling();
						}
					}
					&.mail-checkbox {
						.checkbox {
							display: inline;
							margin-right: 15px;
						}
					}
					input {
						margin-right: 5px;
					}
				}
				.alert-danger {
					margin-bottom: 0;
					a {
						@include link-styling();
					}
				}
			}
			.padding {
				padding: 0;
			}
			.testCandidateBlock {
				.candidateString {
					.padding {
						padding: 0;
						.bold {
							@include link-styling();
							@include bold();
						}
					}
					.padding-right {
						padding-right: 0;
						a {
							@include link-styling();
						}
					}
					.grey {
						word-break: break-word;
					}
					.iconsStyle {
						.text_change {
							cursor: pointer;

							color: $theme-green;
						}
						.edit {
							display: none;
							margin-left: -14px;

							cursor: pointer;

							color: $theme-green;
						}
						.delete {
							display: none;

							cursor: pointer;

							color: $theme-green;
						}
						.showEmails {
							position: relative;
							right: 202px;

							padding: 2px 7px;
							span {
								width: 100%;
								padding: 2px 7px;

								background-color: beige;
							}
						}
					}
					&:hover {
						.iconsStyle > .edit,
						.delete {
							display: inline-block;
							margin-right: 2px;
						}
					}
				}
			}
			.testCandidateBlock2 {
				max-height: 170px;
				padding: 0;
			}
			.testCandidateFromVacancy {
				.checkboxes {
					padding-left: 25px;
					h4 {
						@include bold;
					}
					.checkbox {
						label {
							display: block;
							margin: 5px 0;
							i {
								margin-right: 3px;
								margin-left: -20px;

								color: #f09c99;
							}
							a {
								@include link-styling();
							}
						}
					}
				}
			}
			.testCandidateFromVacancy2 {
				display: none;
				max-height: 240px;
				padding: 0;
			}
			.testCandidateFromCandidate {
				padding: 15px 0;

				background-color: $theme-white;
			}
		}
		.mrgTop2 {
			padding-left: 0;
			.background {
				padding: 15px;

				background-color: $theme-white;
				input {
					@include input-styling();
				}
				select {
					@include select-styling();
				}
				.item:not(:first-child) {
					margin-top: 15px;
				}
				.item {
					input {
						margin-right: 5px;
					}
					.title {
						color: $theme-light-grey;
					}
					textarea {
						width: 100%;
					}
					#testCandidateMCE_ifr {
						height: 335px!important;
					}
					#testCandidateMCE2_ifr {
						height: 200px!important;
					}
				}
			}
		}
		.showLetter {
			display: none;
		}
	}
}
#candidate_preview {
	position: absolute;
	z-index: 1001;

	display: none;
	width: 500px;
	min-height: 280px;

	border: 1px solid $theme-grey;
	border-radius: 15px;
	background: $theme-white;
	box-shadow: 0 0 13px 2px rgb(0, 0, 0);
	&.less-width {
		width: 320px;
	}
	.vertically-divided {
		a {
			@include link-styling();

			font-size: 15px;
			font-weight: bold;
		}
	}
	.ui.vertically.divided-grid {
		position: relative;
		//overflow-x: hidden;

		overflow-y: auto;
		min-height: 175px;
		max-height: 320px;
		.candidatePreview-info {
			font-size: 85%;
		}
	}
	.divided-grid {
		.candidate-img-wrap {
			position: absolute;
			top: 5px;
			left: 10px;

			width: 33%;
			max-height: 190px;
			margin: 0 2% 0 0;
			img {
				width: 100%;
				height: auto;

				border-radius: 15%;
			}
		}
		.twelve-wide {
			float: right;
			width: 63%;
			padding-left: 0;
			table.table {
				margin-bottom: 10px;
			}
			tbody {
				tr {
					word-break: break-word;
					.item-in-table {
						position: relative;

						vertical-align: middle;
						.absolute-right {
							font-size: 16px;

							position: absolute;
							top: 9px;
							right: 2px;

							color: #b8b8b8;
						}
						.employment-type {
							display: block;
						}
						&.langs {
							display: flex;
							flex-direction: column;
						}
						.relocated {
							& img.relocate {
								position: absolute;
								top: calc(50% - 9.5px);
								right: 10px;

								width: 8%;
							}
							& .regions {
								position: absolute;
								z-index: 999;
								top: 3px;
								right: 12%;

								display: none;
								padding: 5px;

								border-radius: 5px;
								background-color: #fff;
								box-shadow: 0 0 5px 2px #b8b8b8;
								&.inline {
									position: static;

									display: block;
									padding: 0;

									background-color: #fff;
									box-shadow: none;
									& .region {
										margin-left: 0;
									}
								}
								&.flex {
									display: flex;
								}
								& .region {
									display: block;
									margin-left: 60px;
									&.first {
										display: inline-block;
										margin-left: 6px;
									}
									&.last {
										display: inline-block;
									}
								}
								& .dots {
									display: inline-block;
								}
							}
							&:hover {
								.regions {
									display: block;
								}
								.regions.flex {
									display: flex;
								}
							}
						}
					}
					.content-header {
						width: 21%;

						text-align: center;
						vertical-align: middle;
						img {
							width: 40%;
							height: auto;
							&.exp {
								width: 60%;
							}
							&.lang {
								width: 53%;
							}
							.lang-long {
								width: 54%;
							}
						}
						i {
							font-size: 22px;

							color: $theme-dark-green;
							&.fa-phone {
								font-size: 23px;
							}
						}
					}
					a {
						@include link-styling();
					}
					.non-hover {
						&:hover {
							color: #0096f5;
						}
						& > .email-hover:hover {
							color: gold;
						}
					}
				}
				&:first-child {
					border-top-style: hidden;
				}
			}
			&.left-side {
				float: left;
				width: 100%;

				text-align: left;
			}
		}
	}
}