.suggested-candidates {
	overflow-x: hidden;
	.matching-tabs {
		margin-top: 20px;

		background-color: #fff;
		ul {
			display: flex;
			flex-direction: row;
			margin: 10px 0 10px 20px;
			padding: 0;

			list-style-type: none;

			flex-wrap: wrap;
			li {
				display: flex;
				margin-right: 15px;

				border: 2px solid #fff;
				border-radius: 5px;
				a {
					font-weight: bold;

					padding: 5px;

					text-decoration: none;

					color: #000;
				}
				&:hover {
					border: 2px solid #ffe9a6;
				}
				&.active {
					background-color: #ffe9a6;
				}
			}
		}
	}
	.container-fluid.margin {
		margin-top: 30px;
		//width: 95%;
		//margin: 30px 0 0 36px;
	}
	.header {
		@include disabled-margins-for-row;

		margin-bottom: 10px;
		padding: 10px 0 10px 15px;

		border-radius: 5px 5px 0 0;
		background-color: $theme-subtitle-background;
		h4 {
			font-weight: 600;

			margin-top: 0;
			margin-bottom: 0;
		}
	}
	table {
		@include table-styling();
		tr {
			th {
				position: relative;

				text-align: left;
				vertical-align: middle;
				&.salary {
					text-align: center;
				}
				.flex-inline {
					display: flex;
					flex-direction: row;

					justify-content: center;
					align-content: center;
					span {
						min-width: 100px;
					}
					i {
						display: flex;
						margin-left: 10px;

						align-items: center;
					}
				}
				img {
					position: relative;
					left: -5px;

					width: 35px;
				}
			}
			td {
				a.btn {
					@include button-green-styling();

					transition: 0.5s;

					opacity: 0;
					&.disabled {
						opacity: 1;
						color: #000;
						background-color: #ffc100;
					}
				}
				&.number {
					width: 20px;
				}
				&.preview {
					width: 25px;
					.fa-address-card-o {
						cursor: pointer;

						color: #74b832;
					}
				}
				&.name {
					width: 26%;
					a {
						font-weight: 600;
					}
				}
				&.salary {
					font-weight: 600;

					width: 65px;

					text-align: center;
				}
				&.position {
					width: 20%;
					span {
						font-weight: 600;
					}
				}
				&.button-outer {
					width: 165px;

					text-align: center;
				}
				&.scorePersent {
					width: 65px;

					span {
						font-weight: 600;

						color: #74b832;
					}
				}
				&.empty-fields {
					i {
						font-size: 22px;

						margin-left: 5px;

						color: #d22b2b;
					}
				}
			}
			&:hover {
				.button-outer {
					a {
						opacity: 1;
					}
				}
			}
			&.disabled {
				background-color: #e1e1e1;
			}
		}
	}
}