//
// Variables
// --------------------------------------------------


// Theme Global variables
// -------------------------
$theme-white: #fff !default;
$theme-border-color-base: #e5e4e4 !default;
$theme-button-color: #ffc100 !default;
$theme-link-color: #0096f5 !default;
$theme-link-hover-color: #fdd14a !default;
$theme-grey: #666666 !default;
$theme-green: #00B549 !default;
$theme-green-hover: #a3e8a7 !default;
$theme-light-grey: #b8b8b8 !default;
$hover-subunit-button: #ffe9a6 !default;
$theme-subtitle-background: #E3F2DD !default;
$theme-light-grey-hover: rgba(227,227,227,0.5) !default;
$theme-dark: #202021 !default;
$theme-light-green: #E3F2DD !default;
$theme-dark-green: #00B549 !default;
$theme-light-green-hover: #a3e8a7 !default;
$theme-purple: #6953CC !default;
$theme-light-purple: #D4CBF6 !default;
$theme-light-pink: #FF99C2 !default;
$theme-pink: #FF0066 !default;
$theme-light-blue: #C2E7FF !default;
$theme-blue: #45AAEC !default;
$theme-red: #F44F43 !default;
$theme-light-red: #FFECEC !default;
$theme-yellow: #FFFF00 !default;
$theme-light-orange: rgba(255,235,205,0.3) !default;
$btn-accent: #ffc100
// Block
// -------------------------
//$block-

// Mixins
// -------------------------