<div id="candidate_preview" ng-class="{'less-width': !$root.candidatePreview.photo || !$root.candidatePreviewAdditional}">
    <div class="arrow_preview" id="arrow_preview"></div>
    <div class="ui bottom attached segment red"
         style="padding: 6px 6px 3px 6px;"
         ng-show="!$root.candidatePreview.showDocument">
        <div ng-show="!loadingPriview" class="ui vertically divided grid">
            <div class="ui vertically-divided grid">
                <div class="sixteen wide column"
                     style="padding-left:0px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding-left: 6px;">
                    <span class="ui small header" style="margin: 0px;">
                        <div>
                            <a style="margin-right: -4px;" href="#/candidates/{{$root.candidatePreview.localId}}">
                                {{$root.candidatePreview.fullName}}</a>
                            <span ng-show="$root.candidatePreview.db">, {{$root.candidatePreview.db|ageOfDate}}</span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            {{$root.candidatePreview.position}}
                            <span ng-show="$root.candidatePreview != undefined && $root.candidatePreview.salary">,
                                <span ng-show="$root.candidatePreview.salary != 0">{{$root.candidatePreview.salary}} {{$root.candidatePreview.currency}}</span>
                            </span>

                            <span ng-switch="$root.candidatePreview.sex">
                                <span ng-switch-when="true"><i title="{{'male'|translate}}" class="male large icon"                                                               style="color: #808080;margin-bottom: 7px;"></i></span>
                                <span ng-switch-when="false"><i title="{{'female'|translate}}" class="female large icon" style="color: #808080;margin-bottom: 7px;"></i></span>
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            <div class="ui vertically divided-grid">
                <div class="candidate-img-wrap" ng-if="$root.candidatePreview.photo!=undefined">
                    <img id="photo-preview" ng-if="$root.candidatePreview.photo!=undefined"
                         ng-src="{{$root.serverAddress}}/getapp?id={{$root.candidatePreview.photo}}&d={{$root.me.personId}}"
                         alt="" class="pull-left"/>
                </div>
                <!--<img ng-if="$root.candidatePreview.photo==undefined" border="5" src="img/missing-image-640x360.png" alt=""-->
                <!--style="margin:10px 10px 10px 3px;width: 172px;height: 115px; border-radius: 15%;border: 7.2em solid #E78409 !important;"/>-->

                <div class="twelve-wide column" ng-class="{'pull-right': $root.candidatePreview.photo, 'left-side': !$root.candidatePreview.photo}">

                    <table class="ui basic without_tr_border table">
                        <tbody class="$root.candidatePreview-info">
                        <tr ng-show="$root.candidatePreview != undefined && $root.candidatePreview.region.city">
                            <td class="content-header">
                                <img src="/images/sprite/location-g.svg" alt="">
                            </td>
                            <td class="item-in-table" style="padding: 0.5em 0.3em">
                                <div>
                                    <span>{{$root.candidatePreview.region.displayCity}}</span>
                                    <div class="relocated" ng-show="$root.candidatePreview != undefined && $root.candidatePreview.readyRelocate && $root.candidatePreview.relatedRegions!=undefined">
                                        <img class="relocate" src="/images/sprite/relocate-g.svg">
                                        <span class="regions">
                                            <span ng-if="$root.candidatePreview.relatedRegions.length">{{'Relocate' | translate}}:</span>
                                            <span ng-if="!$root.candidatePreview.relatedRegions.length">{{'ready_to_relocate2' | translate}}</span>
                                            <span ng-class="{'first' : $root.candidatePreview.relatedRegions.indexOf(region) === 0,
                                                             'last' : $root.candidatePreview.relatedRegions.indexOf(region) === 1}"
                                                  class="region"
                                                  ng-repeat="region in $root.candidatePreview.relatedRegions | limitTo: 2">
                                                <span>
                                                    {{region.fullName}}{{$last ? '' : ','}}
                                                </span>
                                            </span>
                                            <span class="dots">{{$root.candidatePreview.relatedRegions.length > 2 ? '...' : ''}}</span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="$root.candidatePreview != undefined && $root.candidatePreview.expirence">
                            <td class="content-header">
                                <img class="exp" src="/images/sprite/exp-g.svg" alt="">
                            </td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                {{'experience_assoc.'+$root.candidatePreview.expirence|translate}}
                            </td>
                        </tr>
                        <tr ng-show="$root.candidatePreview != undefined && $root.candidatePreview.languages.length > 0">
                            <td class="content-header">
                                <img ng-class="{'lang-long': $root.candidatePreview.languages.length > 4}" class="lang" src="/images/sprite/lang-g.svg" alt="">
                            </td>
                            <td class="item-in-table langs" style=" padding: 0.5em 0.3em">
                                <span class="inlineLang" ng-repeat="lang in $root.candidatePreview.languages">{{lang.name}}: <span translate="{{lang.level}}"></span><br/></span>
                            </td>
                        </tr>
                        <tr ng-show="$root.candidatePreview != undefined && $root.candidatePreview.employmentType">
                            <td class="content-header">
                                <img src="/images/sprite/employment-g.svg" alt="">
                            </td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em;word-break: break-all;"
                                ng-show="$root.candidatePreview.employmentType">
                                    <span class="employment-type" ng-repeat="emplType in $root.candidatePreview.employmentType.split(',')">
                                        {{emplType|translate}}
                                    </span>
                            </td>
                        </tr>
                        <tr ng-show="!$root.candidatePreview.region.city && $root.candidatePreview != undefined && $root.candidatePreview.readyRelocate && $root.candidatePreview.relatedRegions!=undefined">
                            <td class="content-header" ng-if="$root.candidatePreview.relatedRegions.length > 0">
                                <img tooltip-class="customClass" uib-tooltip="{{'ready_to_relocate2' | translate}}" src="/images/sprite/relocate-g.svg" alt="">
                            </td>
                            <td class="content-header" ng-if="$root.candidatePreview.relatedRegions.length === 0">
                                <img tooltip-class="customClass" uib-tooltip="{{'ready_to_relocate2' | translate}}" src="/images/sprite/relocate-g.svg" alt="">
                            </td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div class="relocated">
                                    <span class="regions inline" ng-class="{'flex' : $root.candidatePreview.relatedRegions.length <= 1}">
                                        <span class="region"
                                              ng-class="{'last' : $root.candidatePreview.relatedRegions.indexOf(region) === 1}"
                                              ng-repeat="region in $root.candidatePreview.relatedRegions | limitTo: 2">
                                            <span>
                                                {{region.fullName}}{{$last ? '' : ','}}
                                            </span>
                                        </span>
                                        <span class="dots">{{$root.candidatePreview.relatedRegions.length > 2 ? '...' : ''}}</span>
                                        <span ng-if="$root.candidatePreview.relatedRegions.length === 0">{{'ready_to_relocate2' | translate}}</span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'mphone').length > 0">
                            <td class="content-header"><i class="fa fa-phone" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div ng-repeat=" contact in $root.candidatePreview.contacts|filter:type = 'mphone'">
                                    <span class="phone" ng-show="contact.valueList[0]">
                                        {{contact.valueList[0]}}
                                        <i class="fa fa-star pull-right" title="{{'Preferable contact method'|translate}}" ng-if="$root.candidatePreview.preferableContact == 'phone'"></i>
                                    </span>
                                    <span class="phone" ng-show="contact.valueList[1]">
                                        {{contact.valueList[1]}}
                                        <i class="fa fa-star pull-right" title="{{'Preferable contact method'|translate}}" ng-if="$root.candidatePreview.preferableContact == 'phone2'"></i>
                                    </span>
                                    <span class="phone" ng-show="contact.valueList[2]">
                                        {{contact.valueList[2]}}
                                        <i class="fa fa-star pull-right" title="{{'Preferable contact method'|translate}}" ng-if="$root.candidatePreview.preferableContact == 'phone3'"></i>
                                    </span>
                                </div>
                                <!--<i style="color: #ffc100" class="fa fa-star absolute-right"-->
                                <!--ng-show="$root.candidatePreview.preferableContact === 'phone' || $root.candidatePreview.preferableContact === 'phone2' || $root.candidatePreview.preferableContact === 'phone3'"></i>-->
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'email').length > 0">
                            <td class="content-header"><i class="fa fa-envelope" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em; position: relative;">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'email'">
                                    <a class="non-hover" href="mailto:{{contact.value}}" style="display: flex; flex-direction: column;">
                                        <span class="email-hover" ng-repeat="email in ::contact.value.split(',') track by $index" >
                                            {{::email}}
                                        </span>
                                    </a>
                                </div>
                                <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact == 'mail'"></i>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'skype').length > 0">
                            <td class="content-header"><i class="fa fa-skype" aria-hidden="true"></i> </td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div ng-repeat=" contact in $root.candidatePreview.contacts|filter:type = 'Skype'">
                                    {{contact.value}}
                                </div>
                                <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='skype'"></i>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'linkedin').length > 0">
                            <td class="content-header" style="padding: 0.5em 0.3em"><i class="fa fa-linkedin" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'linkedin'">
                                    <a target="_blank" href="{{contact.value}}">{{contact.value|cut:true:30}}</a>
                                </div>
                                <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='linkedin'"></i>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'telegram').length > 0">
                            <td class="content-header"><img  src="../../images/sprite/vectorpaint.svg" alt="telegram"></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em;word-break: break-word;">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'telegram'" style="position: relative;">
                                    <div ng-repeat="item in contact.value.split(' ') track by $index">
                                        <a target="_blank" style="display: inline;" href="{{item|makeLink}}">{{item|cut:true:30}}</a>
                                    </div>
                                    <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='telegram'"></i>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'facebook').length > 0">
                            <td class="content-header"><i class="fa fa-facebook" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'facebook'">
                                    <a target="_blank" href="{{contact.value}}">{{contact.value|cut:true:30}}</a>
                                </div>
                                <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='facebook'"></i>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'googleplus').length > 0">
                            <td class="content-header"><i class="fa fa-google-plus" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'googleplus'">
                                    <a target="_blank" href="{{contact.value}}">{{contact.value|cut:true:30}}</a>
                                </div>
                                <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='google'"></i>
                            </td>
                        </tr>
                        <tr ng-show="($root.candidatePreview.contacts|filter:type = 'homepage').length > 0">
                            <td class="content-header"><i class="fa fa-home" aria-hidden="true"></i></td>
                            <td class="item-in-table" style=" padding: 0.5em 0.3em;word-break: break-word;">
                                <div ng-repeat="contact in $root.candidatePreview.contacts|filter:type = 'homepage'">
                                    <a target="_blank" href="{{contact.value}}">{{contact.value|cut:true:30}}</a>
                                    <i style="color: #ffc100" class="fa fa-star absolute-right" ng-show="$root.candidatePreview.preferableContact =='home'"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="margin-left: 27%;margin-top: 14%;" ng-show="$root.previewInfoIsMissing">Информация
                        отсутствует
                    </div>
                </div>


            </div>
            <div class="ui vertically-divided-grid ">
                <div class="sixteen wide column">
                    <div class="ui feed">
                        <ng-include src="'partials/activity/preview_candidate.html'"></ng-include>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="ui bottom attached segment red"
         style="padding: 6px 6px 3px 6px;"
         ng-show="$root.candidatePreview.showDocument">
        <div ng-show="$index == currentDocPreviewPage" ng-repeat="file in $root.candidatePreview.files" style="position: relative;">
            <i ng-show="currentDocPreviewPage > 0" class="fa fa-angle-left prevDoc" aria-hidden="true" ng-click="prevDoc()"></i>
            <i ng-show="!$last" class="fa fa-angle-right nextDoc" aria-hidden="true" ng-click="nextDoc()"></i>
            <iframe ng-src="{{file.linkFileForShow}}" frameborder="0" style="width: 100%; height: 400px;"></iframe>
        </div>
    </div>
</div>