<div class="controller-view">
    <div class="block-candidates-archive-history">
        <div class="row candidates-statuses">
            <div class="col-lg-12 candidates-search-table">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="#/organizer">{{'activity'|translate}}</a></li>
                        <li><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li class="active">{{'candidates'|translate}}</li>
                    </ol>
                </div>
                <h3 class="text-center">{{'Database export log' | translate}}</h3>
                <div class="col-lg-6 col-lg-offset-3 blockCheckoutTable">
                    <div ng-show="history.type == 'backup'" ng-repeat="history in history" class="checkoutTable">
                        <div class="col-lg-12 status" ng-show="history.status == 'Processing' || history.status == 'Error' || history.status == 'Deleted'">
                            <span ng-show="history.status == 'Processing'" class="processing">{{'Candidate database archive is processing and will be available soon'|translate}}</span>
                            <div class="col-lg-6 text-left time" ng-show="history.status == 'Deleted' || history.status == 'Error'">
                                <span class="date">{{history.dc|dateFormat:true}}</span>
                            </div>
                            <div class="col-lg-6 text-right file deleted" ng-show="history.status == 'Deleted'">
                                <span class="deleteArchive">{{'Resume archive'|translate}}</span>
                                {{'archived'|translate}}
                            </div>
                            <div class="col-lg-6 text-right file deleted" ng-show="history.status == 'Error'">
                                <span class="errorArchive">{{'error. try again'|translate}}</span>
                            </div>
                            <!--<span ng-show="history.status == 'Error'" class="error">Errorrrrrrrrrrrrrrrrr !!!!!!!!!!!!!!!!!</span>-->
                            <!--<span ng-show="history.status == 'Deleted'" class="deleted">Deletedddddddddddddddddd !!!!!!!!!!!!!!!!!</span>-->
                        </div>
                        <div class="col-lg-12 timeFile" ng-show="history.status == 'Finished'">
                            <div class="col-lg-6 text-left time">
                                <span class="date">{{history.dc|dateFormat:true}}</span>
                            </div>
                            <div class="col-lg-6 text-right file">
                                <a ng-click="downloadArchive(history.fileId)" href="">
                                    {{'Resume archive'|translate}}
                                </a>
                                <span ng-show="history.foundCount">({{'candidates__2'|translate}}: {{history.foundCount}})</span>
                            </div>
                        </div>
                        <div class="col-lg-12 nameCriteria">
                            <div class="col-lg-6 text-left name">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <a href="#/users/{{history.creator.userId}}">
                                    <span once-text="history.creator.firstName"></span>
                                    <span once-text="history.creator.lastName"></span>
                                </a>
                                <!--<br>-->
                            </div>
                            <div class="col-lg-6 text-right criteria">
                                {{'All the default search criteria'|translate}}
                            </div>
                        </div>
                        <!--<div>-->
                            <!--<span ng-if="history.words || history.country || history.city || history.ageFrom || history.ageTo ||-->
                            <!--history.employmentType || history.group || history.industry || history.sex || history.salary ||-->
                            <!--history.status || history.sex || history.position || history.name || history.experience ||-->
                            <!--history.lang || history.candidateGroupList || history.origin || history.skillList ||-->
                            <!--history.withPersonalContacts == true || history.responsibleContent">-->
                                <!--{{'Search criteria'|translate}}:-->
                            <!--</span>-->
                            <!--<span ng-if="!history.words && !history.country && !history.city && !history.ageFrom && !history.ageTo &&-->
                            <!--!history.employmentType && !history.group && !history.industry && !history.sex && !history.salary &&-->
                            <!--!history.status && !history.sex && !history.position && !history.name && !history.experience &&-->
                            <!--!history.lang && !history.candidateGroupList && !history.origin && !history.skillList &&-->
                            <!--!history.withPersonalContacts && !history.responsibleContent">-->
                                <!--<span style="color: #999999">{{'All the default search criteria'|translate}}</span>-->
                                <!--<br/>-->
                            <!--</span>-->
                            <!--<div class="criterionOuter">-->
                                <!--<span class="criterionValue" ng-if='history.words'><span class="criterion">{{'full_text'|translate}}:</span> {{history.words}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.country'><span class="criterion">{{'country'|translate}}:</span> {{history.country}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.name'><span class="criterion">{{'name'|translate}}:</span> {{history.name}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.position'><span class="criterion">{{'position'|translate}}:</span> {{history.position}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.experience'><span class="criterion">{{'experience'|translate}}:</span> {{'experience_assoc.' + history.experience|translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.city'><span class="criterion">{{'city'|translate}}:</span> {{history.city}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.ageFrom'><span class="criterion">{{'From(Age)'|translate}}:</span> {{history.ageFrom}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.ageTo'><span class="criterion">{{'To(Age)'|translate}}:</span> {{history.ageTo}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.employmentType'><span class="criterion">{{'employment_type'|translate}}:</span> {{'employment_type_assoc.' + history.employmentType|translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.group'><span class="criterion">{{'Reserve'|translate}}:</span> {{history.group.name}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.industry'><span class="criterion">{{'industry'|translate}}:</span> {{'industries_assoc.' + history.industry|translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.sex == true'><span class="criterion">{{'sex'|translate}}:</span> {{'male' | translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.sex == false'><span class="criterion">{{'sex'|translate}}:</span> {{'female' | translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.salary'><span class="criterion">{{'salary_before'|translate}}:</span> {{history.salary}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.status'><span class="criterion">{{'status'|translate}}:</span> {{'candidate_status_assoc.' +history.status|translate}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.lang'><span class="criterion">{{'languages'|translate}}:</span> {{history.lang}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.origin'><span class="criterion">{{'source'|translate}}:</span> {{history.origin}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.skillList'><span class="criterion">{{'Skill with rating'|translate}}:</span> <span ng-repeat="skillList in history.skillList">{{skillList.name}} ({{'skills_rating_assoc.' + skillList.type|translate}})</span></span>-->
                                <!--<span class="criterionValue" ng-if='history.candidateGroupList'><span class="criterion">{{'Tag'|translate}}:</span><span ng-repeat="groupList in history.candidateGroupList"> {{groupList.name}}{{$last ? '' : ', '}}</span></span>-->
                                <!--<span class="criterionValue" ng-if='history.responsibleContent'><span class="criterion">{{'responsible'|translate}}:</span> {{history.responsibleContent.fullName}}</span>-->
                                <!--<span class="criterionValue" ng-if='history.withPersonalContacts == true'><span class="criterion">{{'Personal contacts'|translate}}:</span> {{'Available Email and/or Skype'|translate}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3 historyBtn">
                    <button class="btn more-history" ng-click="getMoreHistoryArchive()" ng-show="historyTotalExcel > historyLimitExcel">
                        {{'Show more'|translate}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>