<div class="controller-view">
    <div class="block-feedback-page-new-design-thanks">
        <div class="row">
            <form class="feedbackForm">
                <div class="form-group">
                    <h2 class="text-center">{{'Thank you so much! We appreciate your feedback'|translate}}</h2>
                    <h5 class="text-center">{{'We almost sure you will have new ideas on how to improve CleverStaff.'|translate}}</h5>
                    <p>
                        {{'Since now, the Feedback Page will be always here to help you share your ideas and attach screenshots in seconds. Just click on a Feedback Button:'|translate}}
                    </p>
                    <div ng-show="currentLang == 'en'" class="imgForFeedbackEn"></div>
                    <div ng-show="currentLang == 'ru'" class="imgForFeedbackRu"></div>
                    <div ng-show="currentLang == 'ua'" class="imgForFeedbackUa"></div>
                    <p class="haveIdea text-center">{{'New ideas appeared? Share them right now'|translate}}.</p>
                    <a href="#/feedback" class="btn btn-primary text-center">{{'Suggest improvement'|translate}}</a>
                    <a href="#/organizer" class="homePage text-center">{{'Return to home page'|translate}}</a>
            </form>
        </div>
    </div>
</div>