<div class="controller-view">
    <div class="block-company-history">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 blockHistory">
                    <!--<div class="breadcrumbs">-->
                        <!--<ol class="breadcrumb">-->
                            <!--<li><a href="#">Органайзер</a></li>-->
                            <!--<li class="active">Компании</li>-->
                        <!--</ol>-->
                    <!--</div>-->
                    <div class="history-outer">
                        <div class="row events-header last-actions-header">
                            <div class="col-lg-12">
                            <span class="title-header">
                                {{'All Users Actions History'|translate}}
                            </span>
                            </div>
                        </div>
                        <!---------------------------------------------- to repeat-->
                        <div class="row event last-action " ng-repeat="history in history" ng-switch="history.type">
                            <div class="col-lg-12 hidden" ng-switch-default></div>
                            <div class="col-lg-12 not-for-print" ng-switch-when="candidate_test_send">
                                <ng-include src="'partials/history/full-history/candidate_test_send.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_deleted">
                                <ng-include src="'partials/history/full-history/candidate_deleted.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_test_passed">
                                <ng-include src="'partials/history/candidate/candidate_test_passed.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add">
                                <ng-include src="'partials/history/full-history/candidate_add.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_edit">
                                <ng-include src="'partials/history/full-history/candidate_edit.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_merge">
                                <ng-include src="'partials/history/full-history/candidate_merge.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_file">
                                <ng-include src="'partials/history/full-history/candidate_add_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_advice">
                                <ng-include src="'partials/history/full-history/candidate_add_from_advice.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_cvlv">
                                <ng-include src="'partials/history/full-history/candidate_add_from_cvlv.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_jobkg">
                                <ng-include src="'partials/history/full-history/candidate_add_from_jobkg.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_email">
                                <ng-include src="'partials/history/full-history/candidate_add_from_email.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_edit_from_email">
                                <ng-include src="'partials/history/full-history/candidate_edit_from_email.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_hh">
                                <ng-include src="'partials/history/full-history/candidate_add_from_hh.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_linkedin">
                                <ng-include src="'partials/history/full-history/candidate_add_from_linkedin.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_rabotaua">
                                <ng-include src="'partials/history/full-history/candidate_add_from_rabotaua.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_superjob">
                                <ng-include src="'partials/history/full-history/candidate_add_from_superjob.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_from_workua">
                                <ng-include src="'partials/history/full-history/candidate_add_from_workua.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_link">
                                <ng-include src="'partials/history/full-history/candidate_add_link.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_add_to_group">
                                <ng-include src="'partials/history/full-history/candidate_add_to_group.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_change_state">
                                <ng-include src="'partials/history/full-history/candidate_change_state.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_message">
                                <ng-include src="'partials/history/full-history/candidate_message.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="employee_deleted">
                                <ng-include src="'partials/history/full-history/employee_deleted.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="task_create">
                                <ng-include src="'partials/history/full-history/task_create.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_add_show_in_candidate">
                                <ng-include src="'partials/history/full-history/interview_add_show_in_candidate.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_interview_remove">
                                <ng-include src="'partials/history/full-history/candidate_interview_remove.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_remove_file">
                                <ng-include src="'partials/history/full-history/candidate_remove_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_remove_from_group">
                                <ng-include src="'partials/history/full-history/candidate_remove_from_group.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_remove_link">
                                <ng-include src="'partials/history/full-history/candidate_remove_link.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_set_responsible">
                                <ng-include src="'partials/history/full-history/candidate_set_responsible.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_cvlv">
                                <ng-include src="'partials/history/full-history/candidate_update_from_cvlv.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_jobkg">
                                <ng-include src="'partials/history/full-history/candidate_update_from_jobkg.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_hh">
                                <ng-include src="'partials/history/full-history/candidate_update_from_hh.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_linkedin">
                                <ng-include src="'partials/history/full-history/candidate_update_from_linkedin.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_rabotaua">
                                <ng-include src="'partials/history/full-history/candidate_update_from_rabotaua.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_superjob">
                                <ng-include src="'partials/history/full-history/candidate_update_from_superjob.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_update_from_file">
                                <ng-include src="'partials/history/full-history/candidate_update_from_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidate_was_sent_to_client">
                                <ng-include src="'partials/history/full-history/candidate_was_sent_to_client.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="candidates_was_sent_to_client">
                                <ng-include src="'partials/history/full-history/candidates_was_sent_to_client.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_add">
                                <ng-include src="'partials/history/full-history/client_add.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_add_file">
                                <ng-include src="'partials/history/full-history/client_add_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_add_link">
                                <ng-include src="'partials/history/full-history/client_add_link.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_remove_file">
                                <ng-include src="'partials/history/full-history/client_remove_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_remove_link">
                                <ng-include src="'partials/history/full-history/client_remove_link.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_edit">
                                <ng-include src="'partials/history/full-history/client_edit.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_change_state">
                                <ng-include src="'partials/history/full-history/client_change_state.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_message">
                                <ng-include src="'partials/history/full-history/client_message.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="contact_client_add">
                                <ng-include src="'partials/history/full-history/contact_client_add.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="contact_client_edit">
                                <ng-include src="'partials/history/full-history/contact_client_edit.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_add">
                                <ng-include src="'partials/history/full-history/interview_add.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_add_from_advice">
                                <ng-include src="'partials/history/full-history/interview_add_from_advice.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_add_show_in_candidate">
                                <ng-include src="'partials/history/full-history/interview_add_show_in_candidate.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_edit">
                                <ng-include src="'partials/history/full-history/interview_edit.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_edit_date">
                                <ng-include src="'partials/history/full-history/interview_edit_date.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_message">
                                <ng-include src="'partials/history/full-history/interview_message.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="interview_remove">
                                <ng-include src="'partials/history/full-history/interview_remove.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="sent_candidate_to_client">
                                <ng-include src="'partials/history/full-history/sent_candidate_to_client.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="sent_candidates_to_client">
                                <ng-include src="'partials/history/full-history/sent_candidates_to_client.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="set_interview_status">
                                <ng-include src="'partials/history/full-history/set_interview_status.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="task_change_status">
                                <ng-include src="'partials/history/full-history/task_change_status.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="task_change">
                                <ng-include src="'partials/history/full-history/task_change.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_add">
                                <ng-include src="'partials/history/full-history/vacancy_add.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_add_file">
                                <ng-include src="'partials/history/full-history/vacancy_add_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_change_state">
                                <ng-include src="'partials/history/full-history/vacancy_change_state.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_edit">
                                <ng-include src="'partials/history/full-history/vacancy_edit.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_message">
                                <ng-include src="'partials/history/full-history/vacancy_message.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_remove_file">
                                <ng-include src="'partials/history/full-history/vacancy_remove_file.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_remove_responsible">
                                <ng-include src="'partials/history/full-history/vacancy_remove_responsible.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="vacancy_set_responsible">
                                <ng-include src="'partials/history/full-history/vacancy_set_responsible.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="person_change_role">
                                <ng-include src="'partials/history/full-history/person_change_role.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="change_org_name">
                                <ng-include src="'partials/history/full-history/user_change_org_name.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="user_is_block">
                                <ng-include src="'partials/history/user/user_is_block.html'"></ng-include>
                            </div>
                            <div class="col-lg-12" ng-switch-when="client_set_responsible">
                                <ng-include src="'partials/history/full-history/client_set_responsible.html'"></ng-include>
                            </div>
                        </div>
                        <!-------------------------------------------------------end-->
                        <button class="btn more-history" ng-click="getMoreHistory()" ng-show="historyTotal > historyLimit">
                            {{'previous_history'|translate}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
