<div class="block-hr-module-info">
    <div class="container-fluid">
            <h4 class="text-center">{{'HR Module' | translate}}</h4>
            <h4 class="text-center">{{'One common place for recruiters and HRs' | translate}}</h4>
            <h4 class="text-center">{{'Hire people and store your employees’ personal data with all records and documents in one place' | translate}}</h4>
        <div class="row main-info">
            <div class="col-lg-4 text-center item">
                <h4>{{'Directory of Departments' | translate}}</h4>
                <div>
                    {{'Add units, set their hierarchy and attach employees' | translate}}
                </div>
            </div>
            <div class="col-lg-4 text-center item">
                <h4>{{'Employees’ personal profiles' | translate}}</h4>
                <div>
                    {{'Keep all the information, skills, contacts, and documents in the personal profile employee' | translate}}
                </div>
            </div>
            <div class="col-lg-4 text-center item">
                <h4>{{'Combine recruiting and HR' | translate}}</h4>
                <div>
                    {{'Add hired employees in 1 click' | translate}}
                </div>
            </div>
        </div>
        <h4 class="text-center">{{'Do not separate the recruiting and HR management' | translate}}</h4>
        <h4 class="text-center">{{'Activate the HR module for $200 / year' | translate}}</h4>
        <a type="button" ng-click="payClick()" class="btn btn-primary">{{'Pay and activate HR Module' | translate}}</a>
    </div>
</div>
