<div class="block-public invoice-generation">

    <div class="container">

        <section class="invoice__intro">
            <a class="btn-transparent" href="#/pay">
                {{'Go back' | translate}}
            </a>
            <h2 class="title" translate="Wire Transfer Invoice Generation"></h2>
        </section>

        <section class="section__block invoice__order-info">
            <h2 class="title" translate="Order Information"></h2>

            <table class="order-info__data">
                <thead>
                    <tr>
                        <th>
                            <span translate="Product"></span>
                        </th>
                        <th>
                            <span translate="Paid users"></span>
                        </th>
                        <th>
                            <span translate="Month"></span>
                        </th>
                        <th>
                            <span translate="Currency"></span>
                        </th>
                        <th>
                            <span translate="Total"></span>
                        </th>
                    </tr>
                </thead>
                
                <tr>
                    <td class="limit-width">
                        <span translate="The access to use Cleverstaff software"></span>
                    </td>
                    <td>
                        <span class="bold">{{invoice.users}}</span>
                        <!--<div class="wrapper">-->
                            <!--<custom-select-new disabled="true" options="paidUsers" model="invoice.users"></custom-select-new>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <span class="bold">{{invoice.months}}</span>
                        <!--<div class="wrapper">-->
                            <!--<custom-select-new disabled="true" options="months" model="invoice.months"></custom-select-new>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <div class="wrapper">
                            <custom-select-new options="currencies" model="invoice.currency"></custom-select-new>
                        </div>
                    </td>
                    <td>
                        <span class="bold">{{ invoice.price() }}</span>
                        <!--<span class="currency">{{ currenciesSigns[invoice.currency] + invoice.price() }}</span>-->
                    </td>
                </tr>
            </table>
        </section>

        <section class="section__block invoice__customer-information">
            <span translate="Please fill in all the fields below" class="section__tooltip"></span>
            <h2 class="title" translate="Customer Information"></h2>
            <form name="customerForm">
                <div class="form-group">
                    <label for="fullName" translate="Representative Full Name"></label>
                    <input ng-class="{'error' : customerForm.fullName.$invalid && validation.checking}" ng-model="customer.fullName" name="fullName" type="text" id="fullName" placeholder="{{'full_name' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="position" translate="Representative Position"></label>
                    <input ng-class="{'error' : customerForm.position.$invalid && validation.checking}" ng-model="customer.position" name="position" type="text" id="position" placeholder="{{'position' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="companyName" translate="Company Name"></label>
                    <input ng-class="{'error' : customerForm.companyName.$invalid && validation.checking}" ng-model="customer.companyName" name="companyName" type="text" id="companyName" placeholder="{{'Company Name' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="companyId" translate="Company Registration short"></label>
                    <input ng-class="{'error' : customerForm.companyId.$invalid && validation.checking}" ng-model="customer.companyId" name="companyId" type="text" id="companyId" placeholder="{{'Company Registration' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="address" translate="Address"></label>
                    <input ng-class="{'error' : customerForm.address.$invalid && validation.checking}" ng-model="customer.address" name="address" type="text" id="address" placeholder="{{'Address' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="city" translate="city"></label>
                    <input ng-class="{'error' : customerForm.city.$invalid && validation.checking}" ng-model="customer.city" name="city" type="text" id="city" placeholder="{{'city' | translate}}" required>
                </div>
                <div class="form-group">
                    <label for="country" translate="country"></label>
                    <select ng-class="{'error' : customerForm.country.$invalid && validation.checking}" name="country" id="country"  ng-model="customer.country" required>
                        <option value="" disabled translate="country" selected="selected"></option>
                        <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="postalCode" translate="Postal Code"></label>
                    <input ng-class="{'error' : customerForm.postalCode.$invalid && validation.checking}" ng-model="customer.postalCode" name="postalCode" type="text" id="postalCode" placeholder="{{'Postal Code' | translate}}" required>
                </div>
                <div class="form-group error" ng-show="customerForm.$invalid && validation.checking">
                    <span class="error_message" ng-show="validation.invalidFields.length === 1" translate="Please fill in the field" translate-values='{ name: validation.invalidFields[0]}'></span>
                    <span class="error_message" ng-show="validation.invalidFields.length > 1" translate="Please fill all the fields"></span>
                </div>
            </form>
        </section>

        <section class="invoice__generate">
            <a href="" id="downloadInvoice" style="display:none"></a>
            <button translate="Generate invoice" ng-click="generateInvoice()" class="btn-primary-new"></button>
        </section>

    </div>

</div>