<div class="block-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 fbGroupPage" ng-show="$root.currentLang == 'ru'">
                <div class="fb-page" data-href="https://www.facebook.com/cleverstaff.users.ru/" data-tabs="timeline" data-width="800" data-height="645" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/cleverstaff.users.ru/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/cleverstaff.users.ru/">Пользователи CleverStaff</a>
                    </blockquote>
                </div>
                <div class="info">
                    <a ng-click="CSNewsFeed('sharesPostsFromCS');">{{'Info'|translate}}</a>
                    <br/>
                    <!--<i class="fa fa-info-circle" ng-click="CSNewsFeed('sharesPostsFromCS');" aria-hidden="true"></i>-->
                    <a ng-click="CSNewsFeed('someRulesFbPosts')">
                        {{'Rules'|translate}}
                    </a>
                </div>
                <div class="sharesPostsFromCS">
                    <p>{{'CleverStaff News Feed shares posts from the CleverStaff Users facebook page. We created the news feed to'|translate}}:</p>
                    <ul>
                        <li>&nbsp;<span>{{'Share important news, updates and improvements which happen at CleverStaff'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Share questionnaires and understand which features to add first and which ones you like'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Build the CleverStaff community where our users can meet, friend and cooperate'|translate}}.</span></li>
                    </ul>
                    <p>{{'You can freely interact with the news feed and post content, which will be published after a review to guarantee its quality'|translate}}</p>
                </div>
                <div class="someRulesFbPosts">
                    <p>{{'Here are some rules which make the news feed content useful and interesting'|translate}}:</p>
                    <ul>
                        <li>&nbsp;<span>{{'If you have any tech. or support requests, please contact our support at'|translate}} <a href="mailto:contact@cleverstaff.net">contact@cleverstaff.net</a> {{'or'|translate}} Skype: <a href="skype:cleverstaff?chat">cleverstaff</a></span>.</li>
                        <li>&nbsp;<span>{{'If you want to share feedback, report a problem, or suggest improvements please fill the'|translate}} <a href="#/feedback">{{'feedback form'|translate}}</a></span>.</li>
                        <li>&nbsp;<span>{{'No panic if your post did not publish instantly: we moderate all content. Thats why you can not find any intrusive, annoying and unpleasant content'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Please use English in group posts and conversations so that everyone could understand you'|translate}}.</span></li>
                    </ul>
                    <p>{{'Thank you for your understanding. We appreciate it'|translate}}</p>
                </div>
            </div>

            <div class="col-lg-12 fbGroupPage" ng-show="$root.currentLang == 'en'">
                <div class="fb-page" data-href="https://www.facebook.com/cleverstaff.users/" data-tabs="timeline" data-width="800" data-height="645" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/cleverstaff.users/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/cleverstaff.users/">Пользователи CleverStaff</a>
                    </blockquote>
                </div>
                <div class="info">
                    <a ng-click="CSNewsFeed('sharesPostsFromCS');">{{'Info'|translate}}</a>
                    <br/>
                    <!--<i class="fa fa-info-circle" ng-click="CSNewsFeed('sharesPostsFromCS');" aria-hidden="true"></i>-->
                    <a ng-click="CSNewsFeed('someRulesFbPosts')">
                        {{'Rules'|translate}}
                    </a>
                </div>
                <div class="sharesPostsFromCS">
                    <p>{{'CleverStaff News Feed shares posts from the CleverStaff Users facebook page. We created the news feed to'|translate}}:</p>
                    <ul>
                        <li>&nbsp;<span>{{'Share important news, updates and improvements which happen at CleverStaff'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Share questionnaires and understand which features to add first and which ones you like'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Build the CleverStaff community where our users can meet, friend and cooperate'|translate}}.</span></li>
                    </ul>
                    <p>{{'You can freely interact with the news feed and post content, which will be published after a review to guarantee its quality'|translate}}</p>
                </div>
                <div class="someRulesFbPosts">
                    <p>{{'Here are some rules which make the news feed content useful and interesting'|translate}}:</p>
                    <ul>
                        <li>&nbsp;<span>{{'If you have any tech. or support requests, please contact our support at'|translate}} <a href="mailto:contact@cleverstaff.net">contact@cleverstaff.net</a> {{'or'|translate}} Skype: <a href="skype:cleverstaff?chat">cleverstaff</a></span>.</li>
                        <li>&nbsp;<span>{{'If you want to share feedback, report a problem, or suggest improvements please fill the'|translate}} <a href="#/feedback">{{'feedback form'|translate}}</a></span>.</li>
                        <li>&nbsp;<span>{{'No panic if your post did not publish instantly: we moderate all content. Thats why you can not find any intrusive, annoying and unpleasant content'|translate}}.</span></li>
                        <li>&nbsp;<span>{{'Please use English in group posts and conversations so that everyone could understand you'|translate}}.</span></li>
                    </ul>
                    <p>{{'Thank you for your understanding. We appreciate it'|translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>