<div class="container-fluid block-pipeline">
    <div class="col-lg-12 return-on-report-page">
        <a href="#/reports"
           class="hidden-xs hidden-sm"
           style="position: relative;">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px"
                     viewBox="0 0 3.069 3.418" style="enable-background:new 0 0 3.069 3.418;" xml:space="preserve">
                <path class="st0" d="M0.055,1.843L0.048,1.835L0.045,1.832L0.041,1.827L0.037,1.821C0.031,1.815,0.027,1.807,0.023,1.8l-0.001,0
                    L0.019,1.792L0.017,1.786C0.013,1.778,0.01,1.77,0.008,1.762L0.006,1.758L0.003,1.742L0.001,1.725L0,1.713V1.704v0l0.001-0.011
                    l0.002-0.017l0.003-0.017l0.002-0.002C0.01,1.648,0.013,1.639,0.017,1.632l0.002-0.006l0.003-0.007l0.001-0.001
                    C0.027,1.61,0.031,1.604,0.037,1.597l0.004-0.005l0.004-0.005l0.003-0.003l0.007-0.008L0.06,1.571l1.516-1.516
                    c0.074-0.074,0.194-0.074,0.268,0c0.074,0.074,0.074,0.195,0,0.269L0.649,1.519h2.23c0.104,0,0.189,0.085,0.189,0.19
                    c0,0.104-0.085,0.19-0.189,0.19h-2.23l1.194,1.194c0.074,0.075,0.074,0.195,0,0.269c-0.074,0.074-0.194,0.074-0.268,0L0.055,1.843
                    L0.055,1.843z M0,1.713L0,1.713V1.709V1.704V1.713L0,1.713z"/>
            </svg>
            {{"go back to reports menu"|translate}}
        </a>
    </div>
    <h3 class="pull-left">
        Pipeline
    </h3>
    <div class="clearfix"></div>
    <a class="description-link" href="" ng-click="showPipelineDescr()">{{'Show the report description' | translate}}</a>
    <table class="table" columns="10" second-columns="8" id="table-1" vacancies="vacancies" fixed-header-table Table>
        <tbody>
        <tr class="main-header text-center" id="main-header">
            <td rowspan="2" style="width: 95px">{{'Client' | translate}}</td>
            <td rowspan="2" style="width: 95px">{{'Vacancy' | translate}}</td>
            <td rowspan="2" style="width: 95px">{{'region' | translate}}</td>
            <td rowspan="2" style="width: 121px">{{'responsible' | translate}}</td>
            <td rowspan="2" style="width: 88px">{{'Date of creation' | translate}}</td>
            <td rowspan="2" style="width: 82px">{{'finish_vacancy' | translate}}</td>
            <td colspan="2" style="width: 215px">{{'Last active stage' | translate}}</td>
            <td colspan="2" style="width: 210px">{{'Previous active stage' | translate}}</td>
            <td colspan="2" style="width: 135px">{{'approved'|translate}}</td>
            <td colspan="2" style="width: 170px">{{"Refused candidates" | translate}}</td>
        </tr>
        <tr class="second_header main-header text-center" id="second_header">
            <td style="width: 116px">{{'interview_status' | translate}}</td>
            <td style="width: 107px">{{'Candidates added' | translate}}</td>
            <td style="width: 130px">{{'interview_status' | translate}}</td>
            <td style="width: 108px">{{'Candidates added' | translate}}</td>
            <td style="width: 56px" translate="Count2"></td>
            <td style="width: 84px">{{'Last date' | translate}}</td>
            <td style="width: 56px" translate="Count2"></td>
            <td style="width: 84px">{{'Last date' | translate}}</td>
        </tr>
        <tr ng-repeat="vacancy in vacancies" ng-class="{'Warning':vacancy.warning && !vacancy.approved.candidates && !vacancy.strongWarning,
                                                        'strongWarning':vacancy.strongWarning && !vacancy.approved.candidates,
                                                        'green':vacancy.approved.candidates > 0}">
            <td><span ng-show="vacancies[$index - 1].client != vacancy.client">{{vacancy.client}}</span></td>
            <td><a href="#/vacancies/{{vacancy.vacancyId}}">{{vacancy.position}}</a></td>
            <td>{{vacancy.region}}</td>
            <td>
                <a href="#/users/responsible.localId" ng-repeat="responsible in vacancy.responsibles">
                    {{responsible.cutFullName}}
                    <br/>
                </a>
            </td>
            <td class="text-center">{{vacancy.vacancyCreated | dateFormat2}}</td>
            <td class="text-center"><span>{{vacancy.deadline | dateFormat2}}</span></td>
            <td>{{vacancy.lastActiveStage.stage | translate}}</td>
            <td>
                <span>
                    <span ng-show="vacancy.lastActiveStage.lastDayCandidates">+</span>
                    {{vacancy.lastActiveStage.lastDayCandidates}}
                    <span ng-show="vacancy.lastActiveStage.lastDayCandidates">{{'from2' | translate}}</span>
                    {{vacancy.lastActiveStage.candidates}}
                </span>
                <br/>
                <span ng-show="vacancy.lastActiveStage.differenceInDays">{{vacancy.lastActiveStage.differenceInDays}} {{'days ago' | translate}}</span>
            </td>
            <td>{{vacancy.previousActiveStage.stage | translate}}</td>
            <td>
                <span ng-show="vacancy.previousActiveStage.lastDayCandidates">+</span>
                {{vacancy.previousActiveStage.lastDayCandidates}}
                <span ng-show="vacancy.previousActiveStage.lastDayCandidates">{{'from2' | translate}}</span>
                {{vacancy.previousActiveStage.candidates}}
                <br/>
                <span>{{vacancy.previousActiveStage.lastAction | dateFormat2}}</span>
            </td>
            <td class="text-center">
                <span>{{vacancy.approved.candidates}}</span></td>
            <td class="text-center">{{vacancy.approved.lastAction | dateFormat2}}</td>
            <td class="text-center">{{vacancy.refusal.candidates}}</td>
            <td class="text-center">{{vacancy.refusal.lastAction | dateFormat2}}</td>
        </tr>
        </tbody>
    </table>
</div>