<div class="container-fluid block-pipeline">
    <div class="col-lg-12 return-on-report-page">
        <a href="#/reports"
           class="hidden-xs hidden-sm"
           style="position: relative;">
            <img style="position: relative;top: -1px;" src="images/reports-img/long-arrow.png" alt="">
            {{"go back to reports menu"|translate}}
        </a>
    </div>
    <h3 class="pull-left">
        Pipeline
    </h3>
    <div class="clearfix"></div>
    <a class="description-link" href="" ng-click="showPipelineDescr()">{{'Show the report description' | translate}}</a>
    <table class="table" columns="10" second-columns="8" id="table-1" vacancies="vacancies" fixed-header-table Table>
        <tbody>
        <tr class="main-header text-center" id="main-header">
            <td rowspan="2" style="width: 95px">{{'Client' | translate}}</td>
            <td rowspan="2" style="width: 95px">{{'Vacancy' | translate}}</td>
            <td rowspan="2" style="width: 95px">{{'region' | translate}}</td>
            <td rowspan="2" style="width: 121px">{{'responsible' | translate}}</td>
            <td rowspan="2" style="width: 88px">{{'Date of creation' | translate}}</td>
            <td rowspan="2" style="width: 82px">{{'finish_vacancy' | translate}}</td>
            <td colspan="2" style="width: 215px">{{'Last active stage' | translate}}</td>
            <td colspan="2" style="width: 210px">{{'Previous active stage' | translate}}</td>
            <td colspan="2" style="width: 135px">{{'approved'|translate}}</td>
            <td colspan="2" style="width: 170px">{{"Refused candidates" | translate}}</td>
        </tr>
        <tr class="second_header main-header text-center" id="second_header">
            <td style="width: 116px">{{'interview_status' | translate}}</td>
            <td style="width: 107px">{{'Candidates added' | translate}}</td>
            <td style="width: 130px">{{'interview_status' | translate}}</td>
            <td style="width: 108px">{{'Candidates added' | translate}}</td>
            <td style="width: 56px" translate="Count2"></td>
            <td style="width: 84px">{{'Last date' | translate}}</td>
            <td style="width: 56px" translate="Count2"></td>
            <td style="width: 84px">{{'Last date' | translate}}</td>
        </tr>
        <tr ng-repeat="vacancy in vacancies" ng-class="{'Warning':vacancy.warning && !vacancy.approved.candidates && !vacancy.strongWarning,
                                                        'strongWarning':vacancy.strongWarning && !vacancy.approved.candidates,
                                                        'green':vacancy.approved.candidates > 0}">
            <td><span ng-show="vacancies[$index - 1].client != vacancy.client">{{vacancy.client}}</span></td>
            <td><a href="#/vacancies/{{vacancy.vacancyId}}">{{vacancy.position}}</a></td>
            <td>{{vacancy.region}}</td>
            <td>
                <a href="#/users/responsible.localId" ng-repeat="responsible in vacancy.responsibles">
                    {{responsible.cutFullName}}
                    <br/>
                </a>
            </td>
            <td class="text-center">{{vacancy.vacancyCreated | dateFormat2}}</td>
            <td class="text-center"><span>{{vacancy.deadline | dateFormat2}}</span></td>
            <td>{{vacancy.lastActiveStage.stage | translate}}</td>
            <td>
                <span>
                    <span ng-show="vacancy.lastActiveStage.lastDayCandidates">+</span>
                    {{vacancy.lastActiveStage.lastDayCandidates}}
                    <span ng-show="vacancy.lastActiveStage.lastDayCandidates">{{'from2' | translate}}</span>
                    {{vacancy.lastActiveStage.candidates}}
                </span>
                <br/>
                <span ng-show="vacancy.lastActiveStage.differenceInDays">{{vacancy.lastActiveStage.differenceInDays}} {{'days ago' | translate}}</span>
            </td>
            <td>{{vacancy.previousActiveStage.stage | translate}}</td>
            <td>
                <span ng-show="vacancy.previousActiveStage.lastDayCandidates">+</span>
                {{vacancy.previousActiveStage.lastDayCandidates}}
                <span ng-show="vacancy.previousActiveStage.lastDayCandidates">{{'from2' | translate}}</span>
                {{vacancy.previousActiveStage.candidates}}
                <br/>
                <span>{{vacancy.previousActiveStage.lastAction | dateFormat2}}</span>
            </td>
            <td class="text-center">
                <span>{{vacancy.approved.candidates}}</span></td>
            <td class="text-center">{{vacancy.approved.lastAction | dateFormat2}}</td>
            <td class="text-center">{{vacancy.refusal.candidates}}</td>
            <td class="text-center">{{vacancy.refusal.lastAction | dateFormat2}}</td>
        </tr>
        </tbody>
    </table>
</div>