<div class="controller-view">
    <div class="block-vacancy-reports">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/vacancies">{{'all_vacancies'|translate}}</a></li>
                <li class="active">
                    <a href="#/vacancies/{{vacancy.localId}}">{{vacancy.position}}</a>
                </li>
                <li>{{"Vacancy report" | translate}}</li>
            </ol>
        </div>
        <h3 class="main-title">
            {{'Vacancy report' | translate}} <a href="#/vacancies/{{vacancy.localId}}">{{vacancy.position}}</a><span ng-show="vacancy.clientId.name">, {{vacancy.clientId.name}}</span>
        </h3>
        <div class="row">
            <div class="col-xs-12 responsible">
                <h4>{{'Responsible' | translate}}:</h4>
                <div ng-repeat="respPerson in vacancy.responsiblesPerson" class="resp-preson">
                    <a href="#/users/{{respPerson.responsible.userId}}">{{respPerson.responsible.cutFullName}}</a>
                    <span ng-hide="$last">,</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 report-info">
                <div class="clearfix"></div>
                <div class="pull-left dateFrom">
                    <div class="field pull-left">
                        <label class="pull-left">{{'Date from' | translate}}</label>
                        <input id="dateFrom" class="datePicker pull-left" readonly placeholder="{{'day/month/year'|translate}}" type="text">
                        <div class="clearfix"></div>
                    </div>
                    <div class="field pull-left">
                        <label class="pull-left">{{'date to' | translate}}</label>
                        <input id="dateTo" class="datePicker pull-left" readonly placeholder="{{'day/month/year'|translate}}" type="text">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="filter">
                    <span>{{'Show reports by users' | translate}}</span>
                    <div class="switch">
                        <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="showUserReports">
                        <label for="cmn-toggle-9"></label>
                    </div>
                    <div class="responsible-list" ng-show="showUserReports">
                        <div class="responsible" ng-repeat="user in actionUsers track by $index">
                            <label for="'user'-{{$index}}">{{user.name}}</label>
                            <input id="'user'-{{$index}}" ng-click="pushUserInFunnelActionUsersList(user)" ng-model="user.selected" type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="update">
                    <div class="field pull-left">
                        <label class="btn btn-primary search pull-right ng-binding" ng-click="updateData()">{{'Update data' | translate}}</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="funnel-types">
                    <div class="funnel-type" ng-click="setStatisticsType('default')">
                        <h5>General Statistics</h5>
                    </div>
                    <!--<div class="funnel-type"  ng-click="setStatisticsType('responsible')">-->
                        <!--<h5>Statistics for {{responsible.name}}</h5>-->
                    <!--</div>-->
                    <div class="funnel-type" ng-repeat="user in funnelActionUsersList track by $index" ng-click="setStatisticsType('userFunnel', user)">
                        <h5>Statistics for {{user.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 funnelPanel">
                <div id="funnel">
                    <div style="min-height:150px">
                        <div class="ui vertically divided grid ">
                            <div class="sixteen wide column funnel-header">
                                <span class="text-center">{{'Recruiting funnel'|translate}}</span>
                            </div>
                        </div>
                        <div class="myChartFunnel" ng-show="statisticsType === 'default' && hasFunnelChart">
                            <div id="myChartDiv" class="text-center"></div>
                        </div>
                        <div class="myChartFunnel" ng-show="statisticsType === 'userFunnel' && hasFunnelChart">
                            <div id="myChartDiv2" class="text-center"></div>
                        </div>

                        <div class="ui vertically divided grid ">
                            <div class="sixteen wide column" style="padding-left:0px;padding-right:0px">
                                <div style="padding:6px;text-align: center;" ng-show="!hasFunnelChart">
                                    ({{'No data for display'|translate}})
                                </div>
                                <p>{{'The recruiting funnel is based on the number of candidates on vacancy and on transitions between statuses'|translate}}</p>
                                <p>{{'The recruiting is funnel calculated considering the fact that all vacancy stages are consistent'|translate}}</p>
                                <p>{{'You can add/remove, swap, and customize all your vacancy stages, except Long list and Hired, in the Stages block on a vacancy page'|translate}}</p>
                                <p>{{'Recruiting funnel shows the conversion between the stages. Vacancy stages with the lowest conversion are the zone of growth. Thus recruiting funnel helps to identify bottlenecks and to focus on them'|translate}}</p>
                                <p>{{'It is useful to compare the recruiting funnel different recruiters to funnel recruiting of the company'|translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a style="display: none;" id="downloadPDF"></a>
                    <div class="text-center">
                        <a type="button" ng-click="dawnloadPDF()" class="btn btn-primary accept">
                            <span ng-show="!downloadPDFisPressed">{{'Download PDF' | translate}}</span>
                            <i ng-show="downloadPDFisPressed" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 tableUpdate" ng-repeat="item in detailInterviewInfo">
                <table class="table">
                    <thead>
                    <tr ng-class="{'hidden': $index != 0}">
                        <th>{{'Candidate'|translate}}</th>
                        <th>{{'salary'|translate}}</th>
                        <th>{{'Current company'|translate}}</th>
                        <th>{{'added_by_male'|translate}}</th>
                    </tr>
                    <tr>
                        <th class="no-background">
                            {{'Were on the stage' | translate}} {{item.key | translate}} - {{item.value.length}}
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="candidate in item.value">
                    <tr ng-show="!candidate.descr">
                        <td><span style="display: inline-flex"><a href="#/candidates/{{candidate.localId}}">{{candidate.fullName}}<span ng-show="candidate.db">88</span><span ng-show="candidate.position">, {{candidate.position}}</span></a></span></td>
                        <td><span ng-show="candidate.salary > 0">{{candidate.salary}} {{candidate.currency}}</span></td>
                        <td>{{candidate.currentWorkPlace}}</td>
                        <td>{{candidate.dm | dateFormat2:true}}</td>
                    </tr>
                    <tr ng-show="candidate.descr" style="border-bottom: none">
                        <td><span><a href="#/candidates/{{candidate.localId}}">{{candidate.fullName}}<span ng-show="candidate.db">, {{candidate.db | ageOfDate}}</span><span ng-show="candidate.position">, {{candidate.position}}</span></a></span></td>
                        <td><span ng-show="candidate.salary > 0">{{candidate.salary}} {{candidate.currency}}</span></td>
                        <td>{{candidate.currentWorkPlace}}</td>
                        <td>{{candidate.dm | dateFormat2:true}}</td>
                    </tr>
                    <tr ng-show="candidate.descr">
                        <td colspan="4" class="description-row"><span>↵</span>{{candidate.descr}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>