<div class="block-vacancies reports">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h4>{{'Choose vacancy to build a report'| translate}}</h4>
            </div>
            <div class="col-lg-12">
                <div class="search" ng-click="$event.stopPropagation()">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control"
                                   ng-enter-search
                                   ng-model="searchParam.words"
                                   placeholder="{{'search'|translate}}">
                            <div class="input-group-addon" ng-click="showAdvancedSearchFunc();$event.stopPropagation();">
                                <span ng-show="!showAdvancedSearch"><span class="grey">|</span> {{'More_criteria'|translate}} <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                <span ng-show="showAdvancedSearch"><span class="grey">|</span> {{'Less_criteria'|translate}} <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="advancedSearch" ng-show="showAdvancedSearch">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="">
                                    <input type="hidden" client-autocompleter id="clientAutocompleater">
                                </div>
                                <!--<input type="text" class="form-control" placeholder="Заказчик">-->
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="select">
                                    <select ng-model="searchParam.salaryName" ng-init="searchParam.salaryName = 'null'" class="form-control">
                                        <option value="null" selected translate="salary"></option>
                                        <option ng-selected="salary.name == searchParam.salaryName" value="{{salary.name}}" ng-repeat="salary in salaryObject">
                                            {{'searchParamSalaryAssoc.' + salary.name|translate}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix hidden-lg hidden-sm hidden-md"></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="select">
                                    <select ng-model="currentStatus" ng-selected="stat.value == currentStatus" class="form-control" ng-change="addSearchStatus(currentStatus)" ng-init="currentStatus = 'null'">
                                        <option value="null" selected>{{'status'|translate}}</option>
                                        <option ng-selected="stat.value == currentStatus" value="{{stat.value}}" ng-repeat=" stat in status">
                                            {{'vacancy_status_assoc.' + stat.value|translate}}
                                        </option>
                                    </select>
                                </div>
                                <div class="chosenStatus" ng-repeat=" status in chosenStatuses track by $index" ng-click="deleteSearchStatus($index)">
                                    {{'vacancy_status_assoc.' + status|translate}}
                                    <i class="fa fa-times pull-right"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="select">
                                    <select ng-class="{'greyColor': searchParam.personId == 'null'}"
                                            ng-model="searchParam.personId" class="form-control">
                                        <option class="greyColor" value="null">{{'responsible'|translate}}</option>
                                        <option class="othersColor" ng-selected="responsible == searchParam.responsibleId"
                                                ng-repeat="responsible in persons| orderBy:['status','cutFullName']"
                                                ng-if="responsible.cutFullName.length > 0 && responsible.cutFullName == $root.me.cutFullName"
                                                ng-class="{disable: (responsible.status != 'A')}"
                                                value="{{responsible.userId}}">
                                            ({{'Me' | translate}}) {{responsible.cutFullName}}
                                        </option>
                                        <option class="othersColor" ng-selected="responsible == searchParam.responsibleId"
                                                ng-repeat="responsible in persons| orderBy:['status','cutFullName']"
                                                ng-if="responsible.cutFullName.length > 0 && responsible.cutFullName != $root.me.cutFullName"
                                                ng-class="{disable: (responsible.status != 'A')}"
                                                value="{{responsible.userId}}">
                                            {{responsible.cutFullName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="margin-top col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="select">
                                    <select id="cs-region-filter-select" ng-model="searchParam.regionId" ng-focus="showRegionSearchInfoPop = true" ng-blur="showRegionSearchInfoPop = false" ng-selected="stat.value == searchParam.status" class="form-control">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <a class="btn btn-primary search" ng-click="clickSearch()">{{'Find' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 criterionSearchCandidate" ng-show="searchParam.searchCs">
                    <div>
                        <span class="count">{{'found'|translate}}: <span>{{objectSize}}</span></span>
                    </div>

                </div>
                <div class="vacancy-table">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table" id="mainTable" ng-table="tableParams"
                                   ng-show="vacanciesFound"
                                   template-pagination="custom/pager">
                                <thead>
                                <tr>
                                    <th>
                                        №
                                    </th>
                                    <th ng-click="tableParams.sorting({'position': tableParams.isSortBy('position', 'asc') ? 'desc' : 'asc'})">
                                        {{'vacancy' | translate}}
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th class="hidden-xs" ng-click="tableParams.sorting({'regionShort' : tableParams.isSortBy('regionShort', 'asc') ? 'desc' : 'asc'})">
                                        {{'region' | translate}}
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th class="hidden-xs" ng-click="tableParams.sorting({'clientId.name': tableParams.isSortBy('clientId.name', 'asc') ? 'desc' : 'asc'})">
                                        {{'client' | translate}}
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th class="hidden-sm hidden-xs" ng-show="$root['me']['recrutRole'] !== 'client'">
                                        {{'salary' | translate}}
                                        <!--<i class="fa fa-sort pull-right" aria-hidden="true"></i>-->
                                    </th>
                                    <th class="hidden-xs hidden-sm" ng-click="tableParams.sorting({'dateFinish': tableParams.isSortBy('dateFinish', 'asc') ? 'desc' : 'asc'})">
                                        {{'deadline' | translate}}
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th class="hidden-xs hidden-sm">
                                        {{'responsible' | translate}}
                                        <!--<i class="fa fa-sort pull-right" aria-hidden="true"></i>-->
                                    </th>
                                    <th ng-click="tableParams.sorting({'status': tableParams.isSortBy('status', 'asc') ? 'desc' : 'asc'})">
                                        {{'status' | translate}}
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="vacancy in vacancies"   highlights
                                    ng-click="toVacancyReport(vacancy.localId)"
                                    hgobject="vacancy" hgtablecollspan="7">
                                    <td class="clickable" data-title="'№'" ng-bind="(tableParams.page() - 1) * tableParams.count() + $index + 1"></td>
                                    <td data-title="'Vacancy'" sortable="position" class="vacancy-name clickable">
                                        <a href="#/reports/vacancy/{{::vacancy.localId}}" translate="{{::vacancy.position}}"></a>
                                    </td>
                                    <td class="clickable hidden-xs">{{::vacancy.regionShort}}</td>
                                    <td class="client-name hidden-xs" data-title="'Client'" sortable="clientId.name">
                                        <a class="image-link pull-left" bo-href="'#/clients/' + vacancy.clientId.localId" ng-if="$root.me.personParams.clientAccessLevel != 'hide'">
                                            <img ng-show="vacancy.clientId.logoId" ng-src="{{::serverAddress}}/getapp?id={{::vacancy.clientId.logoId}}&d={{::$root.me.personId}}" alt=""/>
                                        </a>
                                        <span ng-switch="$root.me.personParams.clientAccessLevel">
                                            <!--<span ng-switch-when="hide">{{vacancy.clientId.name}}, {{vacancy.clientId.region.fullName}}</span>-->
                                            <span ng-switch-default><a bo-href="'#/clients/' + vacancy.clientId.localId"><span><span>{{vacancy.clientId.name}}</span></a><span
                                                    ng-show="vacancy.clientId.region.displayCity">,&nbsp;</span><span
                                                    ng-show="vacancy.clientId.region.displayCity">{{::vacancy.clientId.region.displayCity}}</span></span>
                                        </span>
                                    </td>
                                    <td class="hidden-sm hidden-xs" data-title="'Salary'" ng-show="$root['me']['recrutRole'] !== 'client'">
                                        {{::vacancy.salaryFrom|salaryFormat:vacancy.salaryTo | numberSpacing}} {{::vacancy.currency}}
                                    </td>
                                    <td class="hidden-xs hidden-sm" data-title="'Finish date'" sortable="dateFinish" ng-bind-html="vacancy.dateFinish|dateCounter:'String'">
                                        <!--<br/>-->
                                        <!--<strong>20:00</strong>-->
                                    </td>
                                    <td class=" hidden-xs hidden-sm responsible">
                                        <a ng-repeat="responsible in vacancy.responsiblesPerson" ng-show="vacancy.responsiblesPerson" bo-href="'#/users/' + responsible.responsible.userId">
                                            <!--<img src="images/sprite/testprofile.png" class="img-circle" width="30" height="30">-->
                                            <div class="responsible-initials" title="{{::responsible.responsible.cutFullName}}">
                                                <span>{{getFirstLetters(responsible.responsible.fullName)}}</span>
                                            </div>
                                            <!--{{responsible.responsible.cutFullName}}-->
                                            <!--<span ng-show="!$last">, </span>-->
                                        </a>
                                    </td>
                                    <td class="status">
                                        <!--<span class="{{vacancy.status}}" bo-text="'vacancy_status_assoc.' + vacancy.status|translate">-->
                                        <!--</span>-->
                                        <div class="select">
                                            <select class="form-control"
                                                    ng-model="vacancyChangeStatus"
                                                    name="status"
                                                    required
                                                    ng-change="showChangeStatusOfVacancy(vacancyChangeStatus, vacancy)"
                                                    ng-class="{'open': vacancy.status == 'open', 'inwork': vacancy.status == 'inwork', 'otherColor' : vacancy.status == 'expects' || vacancy.status == 'payment' || vacancy.status == 'completed'}"
                                                    ng-init="vacancyChangeStatus = vacancy.status"
                                                    ng-selected="vacancyChangeStatus == vacancy.status">
                                                <option value="{{::stat.value}}" ng-show="stat.value != 'deleted'"
                                                        ng-repeat="stat in status">{{'vacancy_status_assoc.' + stat.value|translate}}
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>