<div class="controller-view">
    <div class="block-vacancy-reports">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/vacancies">{{'all_vacancies'|translate}}</a></li>
                <li class="active">
                    <a href="#/vacancies/{{vacancy.localId}}">{{vacancy.position}}</a>
                </li>
                <li>{{"Vacancy report" | translate}}</li>
            </ol>
        </div>
        <h3 class="main-title">
            {{'Vacancy report' | translate}} <a href="#/vacancies/{{vacancy.localId}}">{{vacancy.position}}</a><span ng-show="vacancy.clientId.name">, {{vacancy.clientId.name}}</span>
        </h3>
        <div class="row">
            <div class="col-xs-12 responsible">
                <h4>{{'Responsible' | translate}}:</h4>
                <div ng-repeat="respPerson in vacancy.responsiblesPerson" class="resp-preson">
                    <a href="#/users/{{respPerson.responsible.userId}}">{{respPerson.responsible.cutFullName}}<span ng-hide="$last">,&nbsp</span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 report-info">
                <div class="clearfix"></div>
                <div class="pull-left dateFrom">
                    <div class="field pull-left">
                        <label class="pull-left">{{'Date from' | translate}}</label>
                        <input id="dateFrom" class="datePicker pull-left" readonly placeholder="{{'day/month/year'|translate}}" type="text">
                        <div class="clearfix"></div>
                    </div>
                    <div class="field pull-left">
                        <label class="pull-left">{{'date to' | translate}}</label>
                        <input id="dateTo" class="datePicker pull-left" readonly placeholder="{{'day/month/year'|translate}}" type="text">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="filter" ng-show="vacancyFunnelMap">
                    <div class="switch">
                        <span>{{'Show reports by users' | translate}}</span>
                        <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="showUserReports">
                        <label for="cmn-toggle-9"></label>
                    </div>
                    <div class="responsible-list">
                        <select class="responsible-list" ng-model="userIndex">
                            <option value="{{$index}}" ng-repeat="user in actionUsers track by $index">{{user.name}}</option>
                            <option disabled value="" ng-selected="!userIndex">{{'choose_user2' | translate}}</option>
                        </select>
                        <button class="btn-add" ng-click="addUserInFunnelUsersList(userIndex)">+</button>
                    </div>
                </div>
                <div class="field update">
                    <button class="btn btn-primary search pull-right" ng-click="updateData()">{{'Update data' | translate}}</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12 no-padding" ng-if="vacancyFunnelMap">
                <div class="funnel-types">
                    <div class="funnel-type general" ng-if="vacancyFunnelMap" ng-class="{'active': statistics.type === 'default', 'full-width': !funnelActionUsers.length}" ng-click="setStatistics('default')">
                        <h5>{{'General Statistics' | translate}}</h5>
                    </div>
                    <div class="funnel-type" ng-class="{'active': statistics.user === user}"
                         ng-repeat="user in funnelActionUsers track by $index" ng-click="setStatistics('userFunnel', user)">
                        <h5>{{user.name}}</h5>
                        <span class="close" ng-click="removeUserInFunnelUsersList(user);$event.stopPropagation();">✖</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 funnelPanel" ng-show="vacancyFunnelMap">
                <div id="funnel">
                    <div style="min-height:150px">
                        <div class="funnel" ng-hide="!userFunnelData.userSeries.length && statistics.type === 'userFunnel'">
                            <table class="funnel-table no-caption">
                                <tbody>
                                    <tr>
                                        <th translate="Stages"></th>
                                    </tr>
                                    <tr class="abs">
                                        <td>
                                            <div class="line"></div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="stage in vacancyFunnelMap track by $index" class="hover">
                                        <td>
                                            <span class="vertical-align">{{stage.key | translate}}</span>
                                            <div ng-class="{'last': $last}" class="line"></div>
                                        </td>
                                        <td class="hover-stripe"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="funnel-chart" id="wrapper">
                                <h5 translate="Recruiting funnel"></h5>
                                <canvas ng-show="statistics.type === 'default'" id="mainFunnel"></canvas>
                                <canvas ng-show="statistics.type === 'userFunnel'" class="abs" id="userFunnel"></canvas>
                                <canvas id="buffer"></canvas>
                            </div>
                            <table class="funnel-table" ng-show="statistics.type === 'default' && hasFunnelChart">
                                <caption translate="Conversion for vacancy" class="conversion"></caption>
                                <tbody>
                                    <tr>
                                        <th translate="Candidates"></th>
                                        <th translate="Relative conversion"></th>
                                        <th translate="Absolute conversion"></th>
                                    </tr>
                                    <tr ng-repeat="candidateSeries in mainFunnel.data.candidateSeries track by $index" class="hover">
                                        <td><span>{{candidateSeries}}</span></td>
                                        <td><span>{{mainFunnel.data.RelConversion[$index]}}</span></td>
                                        <td><span>{{mainFunnel.data.AbsConversion[$index]}}</span></td>
                                        <td class="hover-stripe"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="funnel-table users-table" ng-show="usersColumn.users.length && statistics.type === 'default' && hasFunnelChart">
                                <caption translate="Candidates by users"></caption>
                                    <tr>
                                        <td ng-repeat="user in usersColumn.users track by $index">
                                            <table class="user-column-table">
                                                <tbody>
                                                    <tr>
                                                        <th>{{user.name}}</th>
                                                    </tr>
                                                    <tr ng-repeat="series in usersColumn.dataArray[$index] track by $index" class="hover">
                                                        <td>{{series || "0"}}</td>
                                                        <td class="hover-stripe"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="user-column-table">
                                                <tbody>
                                                <tr>
                                                    <th translate="Total in vacancy"></th>
                                                </tr>
                                                <tr ng-repeat="candidateSeries in mainFunnel.data.candidateSeries track by $index" class="hover">
                                                    <td>{{candidateSeries}}</td>
                                                    <td class="hover-stripe"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                            </table>
                            <table class="funnel-table" ng-show="statistics.type === 'userFunnel'">
                                <caption translate="Conversion" class="conversion"></caption>
                                <tr>
                                    <th translate="Relative conversion"></th>
                                    <th translate="Absolute conversion"></th>
                                </tr>
                                <tr ng-repeat="rel in userFunnelData.relConversion track by $index" class="hover">
                                    <td><span>{{rel}}</span></td>
                                    <td><span>{{userFunnelData.absConversion[$index]}}</span></td>
                                    <td class="hover-stripe"></td>
                                </tr>
                            </table>
                            <table class="funnel-table user-table" ng-show="statistics.type === 'userFunnel'">
                                <caption translate="Candidates"></caption>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th translate="Amount by user" translate-values='{ name: statistics.user.name}'></th>
                                            </tr>
                                            <tr ng-repeat="userSeries in userFunnelData.userSeries track by $index" class="hover">
                                                <td>{{userSeries}}</td>
                                                <td class="hover-stripe"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th translate="Total in vacancy"></th>
                                            </tr>
                                            <tr ng-repeat="vacancySeries in userFunnelData.vacancySeries track by $index" class="hover">
                                                <td>{{vacancySeries}}</td>
                                                <td class="hover-stripe"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th translate="Percent of total amount"></th>
                                            </tr>
                                            <tr ng-repeat="percent in userFunnelData.userPercentSeries() track by $index" class="hover">
                                                <td>{{percent}}%</td>
                                                <td class="hover-stripe"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="error" ng-show="!userFunnelData.userSeries.length && statistics.type === 'userFunnel'">
                            <div class="msg" translate="User did not add/change stages for candidates in the selected period for this vacancy"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <a style="display: none;" id="downloadPDF"></a>
                    <div class="text-center">
                        <a type="button" ng-click="downloadPDF()" class="btn btn-primary accept">
                            <span ng-show="!downloadPDFisPressed">{{'Download PDF' | translate}}</span>
                            <i ng-show="downloadPDFisPressed" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 funnel-info">
                <div class="ui vertically divided grid ">
                    <div class="sixteen wide column" style="padding-left:0px;padding-right:0px">
                        <div style="padding:6px;text-align: center;" ng-show="!hasFunnelChart || !vacancyFunnelMap">
                            ({{'No data for display'|translate}})
                        </div>
                        <p>{{'The recruiting funnel is based on the number of candidates on vacancy and on transitions between statuses'|translate}}</p>
                        <p>{{'The recruiting is funnel calculated considering the fact that all vacancy stages are consistent'|translate}}</p>
                        <p>{{'You can add/remove, swap, and customize all your vacancy stages, except Long list and Hired, in the Stages block on a vacancy page'|translate}}</p>
                        <p>{{'Recruiting funnel shows the conversion between the stages. Vacancy stages with the lowest conversion are the zone of growth. Thus recruiting funnel helps to identify bottlenecks and to focus on them'|translate}}</p>
                        <p>{{'It is useful to compare the recruiting funnel different recruiters to funnel recruiting of the company'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 tableUpdate" ng-repeat="item in vacancyHistory">
                <table class="table">
                    <thead>
                    <tr ng-class="{'hidden': $index != 0}">
                        <th>{{'Candidate'|translate}}</th>
                        <th>{{'salary'|translate}}</th>
                        <th>{{'Current company'|translate}}</th>
                        <th>{{'added_by_male'|translate}}</th>
                    </tr>
                    <tr>
                        <th class="no-background">
                            {{'Were on the stage' | translate}} {{item.key | translate}} - {{item.value.length}}
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="candidate in item.value">
                    <tr ng-show="!candidate.descr">
                        <td><span style="display: inline-flex"><a href="#/candidates/{{candidate.localId}}">{{candidate.fullName}}<span ng-show="candidate.db"></span><span ng-show="candidate.position">, {{candidate.position}}</span></a></span></td>
                        <td><span ng-show="candidate.salary > 0">{{candidate.salary}} {{candidate.currency}}</span></td>
                        <td>{{candidate.currentWorkPlace}}</td>
                        <td>{{candidate.dm | dateFormat2:true}}</td>
                    </tr>
                    <tr ng-show="candidate.descr" style="border-bottom: none">
                        <td><span><a href="#/candidates/{{candidate.localId}}">{{candidate.fullName}}<span ng-show="candidate.db">, {{candidate.db | ageOfDate}}</span><span ng-show="candidate.position">, {{candidate.position}}</span></a></span></td>
                        <td><span ng-show="candidate.salary > 0">{{candidate.salary}} {{candidate.currency}}</span></td>
                        <td>{{candidate.currentWorkPlace}}</td>
                        <td>{{candidate.dm | dateFormat2:true}}</td>
                    </tr>
                    <tr ng-show="candidate.descr">
                        <td colspan="4" class="description-row"><span>↵</span>{{candidate.descr}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>