<div class="container-fluid block-company-public-vacancies">
    <div class="row">
        <div class="col-xs-12 text-center cs-logo">
            <div class="company-info">
                <div class="logo" ng-show="orgParams.companyLogo">
                    <img src="{{serverAddress}}/getlogo?id={{orgParams.companyLogo}}" alt="">
                </div>

                <div class="info" ng-class="{'full-width': !orgParams.companyLogo}">
                    <h2 ng-class="{'margin-bot': !orgParams.companyLogo && (orgParams.linkToCompanySite || orgParams.linkToCompanyFaceBookPage)}"
                        uib-tooltip="{{orgParams.orgName}}" tooltip-class="phones-only">
                        {{orgParams.orgName}}
                    </h2>

                    <div class="info--site" ng-class="{'text-center' : !orgParams.companyLogo}" ng-show="orgParams.linkToCompanySite">
                        <img src="/images/sprite/company-site.png" alt="">
                        <a class="site" href="{{orgParams.linkToCompanySite}}" target="_blank">{{orgParams.linkToCompanySite| limitTo: 20}}{{orgParams.linkToCompanySite.length > 20 ? '...' :''}}</a>
                    </div>

                    <div class="info--site" ng-class="{'text-center' : !orgParams.companyLogo}" ng-show="orgParams.linkToCompanyFaceBookPage">
                        <img src="/images/sprite/company-fb.png" alt="">
                        <a href="{{orgParams.linkToCompanyFaceBookPage}}" target="_blank">{{orgParams.linkToCompanyFaceBookPage| limitTo: 20}}{{orgParams.linkToCompanyFaceBookPage.length > 20 ? '...' :''}}</a>
                    </div>
                </div>

            </div>

            <div class="social-icons">
                <!--<a class="linked" href="#">-->
                    <!--<i class="fa fa-linkedin" aria-hidden="true"></i>-->
                <!--</a>-->
                <!--<a class="twitter" href="#">-->
                    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
                <!--</a>-->
                <a class="fb" ng-show="orgParams.linkToCompanyFaceBookPage" href="{{orgParams.linkToCompanyFaceBookPage}}" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="vacancies-intro">
                <h2 ng-show="orgParams.size == 0">{{'We_do_not_have_open_vacancies_at_this_time'|translate}}.</h2>
                <h2 ng-show="orgParams.size != 0">{{'Our vacancies'|translate}}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="vacancies-filter">

                <div class="switch">
                    <label ng-click="hideFilter()">Show all</label>
                    <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-round" ng-change="toggleFilter()" type="checkbox" ng-model="showFilterSettings">
                    <label class=""  for="cmn-toggle-9"></label>
                    <label ng-click="showFilter()">{{'Search' | translate}}</label>
                </div>

                <div class="positions-wrap" ng-show="showFilterSettings">
                    <input class="vacancy-position" ng-class="{ 'error': errorHandler.vacanciesFilter.positionError }" ng-keyup="setAutoCompleteString($event)" placeholder="{{'Position' | translate}}" type="text">
                    <i class="fa fa-times" ng-click="resetPosition()" aria-hidden="true"></i>
                    <ul class="list-group" ng-hide="hideSearchPositions">
                        <li class="list-group-item auto-complete-position" ng-click="selectPosition(position)" ng-repeat="position in vacanciesPositionFiltered track by $index">
                            {{position}}
                        </li>
                    </ul>
                </div>

                <div class="locations-wrap" ng-show="showFilterSettings">
                    <select class="vacancies-location">
                        <option disabled selected value="">{{'Location' | translate}}</option>
                        <option class="accent" value="Any">Any</option>
                        <option ng-repeat="location in vacanciesLocation track by $index">{{location}}</option>
                    </select>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>

                <div class="filter-button" ng-show="showFilterSettings">
                    <button class="btn-modern apply" ng-click="showFilteredVacancies()">{{'Show' | translate}}</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="vacancies" ng-show="orgParams.size > 0 && (orgParams.objects | filter: filter).length > 0">
                <div class="vacancy" ng-repeat="publicVacancy in orgParams.objects | filter: filter">
                    <a ng-href="{{$location.$$host}}/i#/vacancy-{{publicVacancy.localId}}">

                        <div class="col-xs-12 col-sm-4 vacancy__name--wrap">
                            <span class="vacancy__name" ng-show="publicVacancy.position">{{publicVacancy.position}}</span>
                        </div>

                        <div class="col-xs-12 col-sm-4 vacancy__location--wrap">
                            <span class="vacancy__location" ng-show="publicVacancy.region.fullName">{{publicVacancy.region.fullName}}</span>
                        </div>

                        <div class="col-xs-12 col-sm-4 text-right vacancy__salary--wrap">
                            <div class="emp-salary" ng-show="publicVacancy.employmentType || publicVacancy.salaryFrom && publicVacancy.salaryTo">
                                <span class="vacancy__salary" ng-show="publicVacancy.salaryFrom && publicVacancy.salaryTo">
                                    {{publicVacancy.salaryFrom}}-{{publicVacancy.salaryTo}} {{publicVacancy.currency}}
                                    <span ng-if="publicVacancy.employmentType">,</span>
                                </span>

                                <span class="vacancy__employment" uib-tooltip="{{publicVacancy.employmentType | translate}}" ng-show="publicVacancy.employmentType">
                                    {{'employment_type_assoc.' + publicVacancy.employmentType|translate | employmentType}}
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            <div class="vacancies filter-error" ng-show="errorHandler.vacanciesFilter.error.show">
                <span>{{ errorHandler.vacanciesFilter.error.msg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="cleverstaff">
                <span>Powered by</span>
                <img src="/images/sprite/favicon.png" alt="CleverStaff">
                <span>CleverStaff</span>
            </div>
        </div>
    </div>
    <div class="background-animations">
        <img class="cloud-1 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-2 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-3 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-4 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="ball position" src="/images/sprite/public-vacancy/ball.png" alt="" ng-if="loaded">
        <img class="calendar position" src="/images/sprite/public-vacancy/calendar.png" alt="" ng-if="loaded">
        <img class="calendar-2 position" src="/images/sprite/public-vacancy/calendar.png" alt="" ng-if="loaded">
        <img class="spiral-line position" src="/images/sprite/public-vacancy/spiral-line.png" alt="" ng-if="loaded">
        <img class="person-3 position" src="/images/sprite/public-vacancy/person-3.png" alt="" ng-if="loaded">
        <img class="plane position" src="/images/sprite/public-vacancy/plane.png" alt="" ng-if="loaded">
        <img class="person-1 position" src="/images/sprite/public-vacancy/person-1.png" alt="" ng-if="loaded">
        <img class="person-2 position" src="/images/sprite/public-vacancy/person-2.png" alt="" ng-if="loaded">
    </div>
    <!--<div id="scrollup"><img alt="Прокрутить вверх" src="/images/sprite/up_racket.png"></div>-->
</div>
