<div class="block-public invoice-generation">

    <div class="container">

        <section class="invoice__intro">
            <a class="btn-transparent">
                <img src="/images/reports-img/long-arrow.png" alt="">
                {{'Go back' | translate}}
            </a>
            <h1 class="title" translate="Wire Transfer Invoice Generation"></h1>
        </section>

        <section class="section__block invoice__order-info">
            <h3 class="title" translate="Order Information"></h3>

            <table class="order-info__data">
                <thead>
                    <tr>
                        <th translate="Product"></th>
                        <th translate="Paid users"></th>
                        <th translate="Month"></th>
                        <th translate="Currency"></th>
                        <th translate="Total"></th>
                    </tr>
                </thead>
                
                <tr>
                    <td class="limit-width">
                        <span>{{'The access to use Cleverstaff software' | translate}}</span>
                    </td>
                    <td>
                        <!--<div class="paid-users">-->
                            <select name="paidUsers" id="paidUsers">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        <!--</div>-->
                    </td>
                    <td>
                        <select name="month">
                            <option value="{{month}}" ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index">
                                {{month}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="currency">
                            <option value="">USD</option>
                            <option value="">RU</option>
                            <option value="">UAH</option>
                        </select>
                    </td>
                    <td>
                        <span>$254</span>
                    </td>
                </tr>
            </table>
        </section>

        <section class="section__block invoice__customer-information">
            <span translate="Please fill in all the fields below:" class="section__tooltip"></span>
            <h3 class="title" translate="Customer Information"></h3>
            <form action="">
                <div class="form-group">
                    <label for="fullName" translate="Representative Full Name"></label>
                    <input type="text" id="fullName" placeholder="{{'full_name' | translate}}">
                </div>
                <div class="form-group">
                    <label for="position" translate="Representative Position"></label>
                    <input type="text" id="position">
                </div>
                <div class="form-group">
                    <label for="company" translate="Company Name"></label>
                    <input type="text" id="company">
                </div>
                <div class="form-group">
                    <label for="companyId" translate="Company Registration#"></label>
                    <input type="text" id="companyId">
                </div>
                <div class="form-group">
                    <label for="adress" translate="Address"></label>
                    <input type="text" id="adress">
                </div>
                <div class="form-group">
                    <label for="city" translate="City"></label>
                    <input type="text" id="city">
                </div>
                <div class="form-group">
                    <label for="country" translate="Country"></label>
                    <select name="country" id="country"></select>
                </div>
                <div class="form-group">
                    <label for="postalCode" translate="Postal Code"></label>
                    <input type="text" id="postalCode">
                </div>
            </form>
        </section>

        <section class="invoice__generate">
            <button translate="Generate invoice"></button>
        </section>

    </div>

</div>