<div class="block-public invoice-generation">

    <section class="invoice__intro">
        <button translate="Go back"></button>
        <h1 class="title" translate="Wire Transfer Invoice Generation"></h1>
    </section>

    <section class="invoice__order-information">
        <h3 class="title" translate="Order Information"></h3>
    </section>

    <section class="invoice__customer-information">
        <h3 class="title" translate="Customer Information"></h3>
    </section>

    <section class="invoice__generate">
        <button translate="Generate invoice"></button>
    </section>
</div>