<div class="container-fluid block-public block-public-test">
    <div class="row companyInfo" id="toggle-company-block" toggle-company-block ng-show="currentTab === 'start_test' && checkPreviousAnswers">
        <!--<img class="logo" src="/images/sprite/Angelina%20_Joli.png" alt=""/>-->
        <img class="logo" ng-if="companyInfo.logo" ng-src="{{serverAddress}}/getlogo?id={{companyInfo.logo}}" alt=""/>
        <div class="info">
            <h2 class="cutElementTextWidth">{{companyInfo.name}}</h2>

            <div class="info--site cutElementTextWidth">
                <img src="/images/sprite/company-site.png" alt="">
                <a href="{{companyPublicInfo.companyWebSite}}" target="_blank">{{companyInfo.website}}</a>
            </div>

            <div class="info--site cutElementTextWidth">
                <img src="/images/sprite/company-fb.png" alt="">
                <a href="{{companyPublicInfo.fb}}" target="_blank">{{companyInfo.fb}}</a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="block-intro">
                <div class="text-center intro-text">
                    <span class="vacancy">{{'Test' | translate}}</span>
                    <h2>{{getTestCandidate.testName}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-show="checkPreviousAnswers">
            <div class="block-info" ng-show="currentTab == 'start_test' && showFirstTest && !firstTestQuestion && !showEndMessage">

                <div class="block-accent">
                     <span class="content-description">{{getTestCandidate.description}}</span>
                  </div>

                <div class="info-additional">
                    <span class="time-limit" ng-show="getTestCandidate.timeLimit > 0">
                        <span class="bold">
                            {{'Time limit'|translate}}:</span>
                            <span ng-show="currentLang == 'ru' || currentLang == 'ua' || !currentLang" class="allTime">{{getTestCandidate.timeLimit | secondsToDateTime|date : "H 'часов' m 'минут'" }}.</span>
                            <span ng-show="currentLang == 'ru' || currentLang == 'ua' || !currentLang" class="hour">{{getTestCandidate.timeLimit | secondsToDateTime|date : "H 'часов'" }}.</span>
                            <span ng-show="currentLang == 'ru' || currentLang == 'ua' || !currentLang" class="min">{{getTestCandidate.timeLimit | secondsToDateTime|date : "m 'минут'" }}.</span>
                            <span ng-show="currentLang == 'en' || !currentLang" class="allTime">{{getTestCandidate.timeLimit | secondsToDateTime|date : "H 'hours' m 'minutes'" }}.</span>
                            <span ng-show="currentLang == 'en' || !currentLang" class="hour">{{getTestCandidate.timeLimit | secondsToDateTime|date : "H 'hours'" }}.</span>
                            <span ng-show="currentLang == 'en' || !currentLang" class="min">{{getTestCandidate.timeLimit | secondsToDateTime|date : "m 'minutes'" }}.</span>
                            <i class="fa fa-info-circle tooltip-icon" tooltip-class="customClass" uib-tooltip="{{'The timer will be displayed on the test page.In case you do not finish the test before the deadline, the test page will be closed, all the data entered will be saved and sent to the recruiter' | translate}}" aria-hidden="true"></i>
                    </span>
                    <span class="warning">{{'Once you pass the test, your answers will be sent to a recruiter. You have only one attempt to pass the test' | translate}}</span>
                </div>

                <button class="btn-new apply small send-test" ng-click="startTestFunc('first_test')">{{'Start the test' | translate }}</button>
            </div>

            <div class="block-info question"   ng-show="currentTab == 'first_test' && hideTest && firstTestQuestion && !showEndMessage">

                <div class="question-header">
                    <div ng-show="initialCountdown > 0" class="time-limit">
                        <span class="disabled-color">{{'Time left'|translate}}:</span>
                        <span class="time" ng-if="(currentLang == 'ru' || currentLang == 'ua') && countdown">{{countdown | secondsToDateTime | date:"HH 'ч.' mm 'мин.' ss 'сек'"}}.</span>
                        <span class="time" ng-if="(currentLang == 'en') && countdown">{{countdown | secondsToDateTime | date:"HH 'hr' mm 'min' ss 'sec'"}}.</span>
                    </div>
                    <div class="questions-amount">
                        <span>{{'Question' | translate}}&nbsp{{firstPage}}/{{firstTestQuestion.allPageCount}}</span>
                    </div>
                </div>

                <h3 class="question-name" ng-if="firstTestQuestion.object.question.text">{{firstTestQuestion.object.question.text}}?</h3>

                <div class="question-answers block-accent" ng-class="{'center' : firstTestQuestion.object.question.answerType === 'task_question' && !firstTestQuestion.object.question.imageId}">
                    <div class="multi-answers" ng-switch="firstTestQuestion.object.question.answerType">

                        <p ng-switch-when="one_answer">{{'Choose one option'|translate}}</p>
                        <span ng-switch-when="one_answer" ng-repeat="selectAnswer in firstTestQuestion.object.question.variantsArray track by $index"
                             ng-click="checkOneAnswer(selectAnswer);$event.preventDefault();">
                            <p>
                                <input class="custom" type="radio" id="single-{{selectAnswer}}" name="answers" ng-checked="checkAnswerText === selectAnswer">
                                <label for="single-{{selectAnswer}}">{{selectAnswer}}</label>
                            </p>
                        </span>

                        <p ng-switch-when="few_answers">{{'Choose multiple answers'|translate}}</p>
                        <span ng-switch-when="few_answers" ng-checked="variantsAnswer" ng-click="checkFewAnswer(selectAnswer);$event.stopPropagation();$event.preventDefault();" ng-repeat="selectAnswer in firstTestQuestion.object.question.variantsArray track by $index">
                            <p>
                                <input class="custom" id="few-{{selectAnswer}}" type="checkbox"  ng-checked="variantsAnswer.indexOf(selectAnswer) != -1">
                                <label for="few-{{selectAnswer}}">{{selectAnswer}}</label>
                            </p>
                        </span>

                        <textarea ng-switch-when="task_question" ng-keyup="textAnswer(textAnswers)" id="answersText" ng-model="textAnswers" class="form-control" placeholder="{{'Enter your answer'|translate}}" cols="50" rows="10"></textarea>
                    </div>
                    <div class="question-image" ng-show="firstTestQuestion.object.question.imageId">
                        <img class="image-to-zoom" ng-click="showModalImage()" ng-src="{{imageId}}" alt=""/>
                        <span>
                            <img ng-click="showModalImage()" class="zoom" src="/images/sprite/public-test/zoom.svg" alt="">
                            {{'Click on the picture to enlarge' | translate}}
                        </span>
                    </div>
                </div>
                <div class="buttons-wrap">
                    <button class="btn-new cancel small next-question" ng-class="{'left-side' : currentLang === 'ru'}" ng-show="firstPage && firstPage != 1" ng-click="nextTestQuestion('prev')">{{'Go back' | translate}}</button>
                    <button class="btn-new small next-question" ng-click="nextTestQuestion('next')">
                        <span ng-show="firstPage && firstPage === firstTestQuestion.allPageCount">{{'Finish the test' | translate}}</span>
                        <span ng-show="firstPage && firstPage !== firstTestQuestion.allPageCount">{{'Next question' | translate}}</span>
                    </button>
                </div>
            </div>

            <div class="block-info finish-test" ng-show="saveAnswersTest">
                <h3>{{'Do you want to finish the test?' | translate}}</h3>

                <div class="block-accent small">
                    <span class="warning">{{'Once you pass the test, your answers will be sent to a recruiter. You have only one attempt to pass the test' | translate}}</span>
                </div>

                <div class="buttons-wrap" ng-class="{'in-column' : currentLang === 'ru'}">
                    <button class="btn-new cancel small next-question" ng-click="previousTestQuestion()">{{'Go back' | translate}}</button>
                    <button class="btn-new small next-question" ng-click="endTestTimeOrSubmit('done')">{{'Save and finish the test' | translate}}</button>
                </div>
            </div>

            <div class="block-info thanks-message" ng-show="showEndMessage">
                <div class="block-accent text-center " ng-show="endTestMsg">
                    <span>{{endTestMsg | translate}}</span>
                </div>
                <div class="block-accent text-center success" ng-show="!endTestMsg">
                    <h3>{{'Thank you_1'|translate}}</h3>
                    <span>
                    {{'Your answers are saved and sent to the recruiter'|translate}}
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row absolute">
        <div class="col-xs-12 text-center">
            <div class="cleverstaff">
                <span>Powered by</span>
                <img src="/images/sprite/favicon.png" alt="CleverStaff">
                <span>CleverStaff</span>
            </div>
        </div>
    </div>

    <div id="question-modal" class="question-modal-image">
        <span class="close" ng-click="closeModalImage()">&times;</span>
        <img class="modal-content" ng-src="{{imageId}}">
    </div>

    <div class="background-animations">
        <img class="cloud-1 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-2 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-3 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="cloud-4 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loaded">
        <img class="plane-2 position" src="/images/sprite/public-vacancy/plane-2.png" alt="" ng-if="loaded">
        <img class="person-3 position" src="/images/sprite/public-vacancy/person-3.png" alt="" ng-if="loaded">
        <img class="plane position" src="/images/sprite/public-vacancy/plane.png" alt="" ng-if="loaded">
        <img class="person-1 position" src="/images/sprite/public-vacancy/person-1.png" alt="" ng-if="loaded">
        <img class="person-2 position" src="/images/sprite/public-vacancy/person-2.png" alt="" ng-if="loaded">
        <img class="flower position" src="/images/sprite/public-vacancy/flower.png" alt="" ng-if="loaded">
        <img class="finger-up position" src="/images/sprite/public-vacancy/fingerUp.png" alt="" ng-if="loaded">
    </div>
</div>

<!--<div class="block-test-candidate-public block-public">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 publicTest2" ng-show="currentTab == 'first_test' && hideTest && firstTestQuestion != undefined">-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding">-->
               <!--<div ng-show="initialCountdown > 0">-->
                   <!--<span class="bold">{{'Time left'|translate}}:</span>-->
                   <!--<span ng-show="(currentLang == 'ru' || currentLang == 'ua') && (countdown != null || countdown != undefined || countdown != NaN)">{{countdown | secondsToDateTime | date:"HH 'ч.' mm 'мин.' ss 'сек'"}}.</span>-->
                   <!--<span ng-show="(currentLang == 'en') && (countdown != null || countdown != undefined || countdown != NaN)">{{countdown | secondsToDateTime | date:"HH 'hr' mm 'min' ss 'sec'"}}.</span>-->
               <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-3 col-sm-3 col-xs-6 text-center">-->
                <!--<span class="bold">{{firstPage}}</span>/{{firstTestQuestion.allPageCount}}-->
            <!--</div>-->
            <!--<div class="tests2">-->
                <!--<h4>{{firstTesftQuestion.object.question.text}}?</h4>-->
                <!--<div class="checkboxBlock" ng-switch="firstTestQuestion.object.question.answerType">-->

                    <!--<p ng-switch-when="few_answers">{{'Choose multiple answers'|translate}}</p>-->
                    <!--<span ng-switch-when="few_answers" ng-checked="variantsAnswer" ng-click="checkFewAnswer(selectAnswer)" ng-repeat="selectAnswer in firstTestQuestion.object.question.variantsArray track by $index">-->
                        <!--<input type="checkbox" ng-checked="variantsAnswer.indexOf(selectAnswer) != -1"/>-->
                        <!--{{selectAnswer}}-->
                    <!--</span>-->

                    <!--<p ng-switch-when="one_answer">{{'Choose one option'|translate}}</p>-->
                    <!--<span ng-switch-when="one_answer" ng-click="checkOneAnswer(selectAnswer)" ng-checked="checkAnswerText" ng-repeat="selectAnswer in firstTestQuestion.object.question.variantsArray track by $index">-->
                        <!--<input type="radio" ng-checked="checkAnswerText==selectAnswer"/>-->
                        <!--{{selectAnswer}}-->
                    <!--</span>-->

                    <!--<textarea ng-switch-when="task_question" ng-keyup="textAnswer(textAnswers)" id="answersText" ng-model="textAnswers" class="form-control" placeholder="{{'Enter your answer'|translate}}" cols="30" rows="10"></textarea>-->
                <!--</div>-->
                <!--<div class="text-center button">-->
                    <!--<a type="button" class="btn btn-primary cancel" ng-show="firstPage != 1" ng-click="nextTestQuestion('prev')">{{'Previous'|translate}}</a>-->
                    <!--<a type="button" class="btn btn-primary accept" ng-click="nextTestQuestion('next')">{{'Next_1'|translate}}</a>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<footer class="text-center">-->
                <!--<p class="logo-cs">Powered by <a href="/" class="new-logo-cs" target="_blank"><span>CleverStaff</span></a></p>-->
                <!--<p>{{'All-in-One Software for Application Tracking and Recruitment Automation'|translate}}</p>-->
            <!--</footer>-->
        <!--</div>-->
        <!--<div class="col-lg-9 publicTest3" ng-show="saveAnswersTest">-->
            <!--<div class="text-center tests3">-->
                <!--<h3>{{'Do you want to finish the test'|translate}}</h3>-->
                <!--<p class="minWidth">-->
                    <!--{{'Once you finish the test, your answers will be sent to a recruiter'|translate}}-->
                    <!--<br/>-->
                    <!--<br/>-->
                    <!--{{'You have only one attempt to pass the test'|translate}}-->
                <!--</p>-->
                <!--<a type="button" class="btn btn-primary cancel" ng-click="previousTestQuestion()">{{'Go back'|translate}}</a>-->
                <!--<a type="button" class="btn btn-primary endTest" ng-click="endTestTimeOrSubmit('done')">{{'Save and finish the test'|translate}}</a>-->
                <!--<div class="powered-by text-center">-->
                    <!--<p class="logo-cs">Powered by <a href="/" class="new-logo-cs" target="_blank"><span>CleverStaff</span></a></p>-->
                    <!--<p>{{'All-in-One Software for Application Tracking and Recruitment Automation'|translate}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-9 publicTest4" ng-show="showThanksMessage">-->
            <!--<div class="text-center tests4">-->
                <!--<h3>{{'Thank you_1'|translate}}</h3>-->
                <!--<p class="minWidth">-->
                    <!--{{'Your answers are saved and sent to the recruiter'|translate}}-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="powered-by text-center">-->
                <!--<p class="logo-cs">Powered by <a href="/" class="new-logo-cs" target="_blank"><span>CleverStaff</span></a></p>-->
                <!--<p>{{'All-in-One Software for Application Tracking and Recruitment Automation'|translate}}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->