<div class="container-fluid block-company-public-vacancy">
  <div class="hidden-lg hidden-md companyInfo" ng-if="vacancy.status != 'payment' && vacancy.status != 'completed' && vacancy.status != 'deleted' && vacancy.status != 'canceled' && vacancy.descr.length > 30">
    <div ng-if="companyLogo || companyPublicInfo.companyWebSite || companyPublicInfo.fb || companyPublicInfo.orgName">

      <img class="logo" ng-if="vacancy.companyLogo" ng-src="{{serverAddress}}/getlogo?id={{vacancy.companyLogo}}" alt=""/>
      <div class="info">
        <h2 class="cutElementTextWidth">{{companyPublicInfo.orgName}}</h2>

        <div class="info--site cutElementTextWidth" ng-show="companyPublicInfo.companyWebSite">
          <img src="/images/sprite/public-vacancy/website.svg" alt="">
          <a href="{{companyPublicInfo.companyWebSite}}" target="_blank">{{companyPublicInfo.companyWebSite}}</a>
        </div>

        <div class="info--site cutElementTextWidth" ng-show="companyPublicInfo.fb">
          <img class="fb" src="/images/sprite/public-vacancy/facebook.svg" alt="">
          <a href="{{companyPublicInfo.fb}}" target="_blank">{{companyPublicInfo.fb | parseFacebookUrl}}</a>
        </div>

      </div>
    </div>
  </div>

  <div class="vacancies-intro" ng-if="vacancy.status != 'payment' && vacancy.status != 'completed' && vacancy.status != 'deleted' && vacancy.status != 'canceled' && vacancy.descr.length > 30">
    <div class="text-center intro-text">
      <span class="vacancy">{{'Vacancy' | translate}}</span>
      <h2>{{vacancy.position}}</h2>
    </div>
  </div>

  <div class="row" ng-if="vacancy.status != 'payment' && vacancy.status != 'completed' && vacancy.status != 'deleted' && vacancy.status != 'canceled' && vacancy.descr.length > 30">
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs companyInfo comp-abs" ng-mouseenter="companyInfoHoverIn()" ng-mouseleave="companyInfoHoverOut()">

      <div ng-if="companyLogo || companyPublicInfo.companyWebSite || companyPublicInfo.fb || companyPublicInfo.orgName">

        <img class="logo" ng-if="vacancy.companyLogo" ng-src="{{serverAddress}}/getlogo?id={{vacancy.companyLogo}}" alt=""/>
        <div class="info">
          <div class="name_wrap cutElementTextWidth">
            <h2 class="" ng-class="{'no-margin-bottom' : !companyPublicInfo.companyWebSite && !companyPublicInfo.fb}">{{companyPublicInfo.orgName}}</h2>
          </div>
          <div class="info--site" ng-show="companyPublicInfo.companyWebSite">
            <img src="/images/sprite/public-vacancy/website.svg" alt="">
            <a class="cutElementTextWidth" href="{{companyPublicInfo.companyWebSite}}" target="_blank">{{companyPublicInfo.companyWebSite}}</a>
          </div>

          <div class="info--site" ng-show="companyPublicInfo.fb">
            <img class="fb" src="/images/sprite/public-vacancy/facebook.svg" alt="">
            <a class="fb-link cutElementTextWidth" href="{{companyPublicInfo.fb}}" target="_blank">{{companyPublicInfo.fb | parseFacebookUrl}}</a>
          </div>

        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs width-for-absolute"></div>

    <div class="col-lg-8 col-md-9 col-xs-12 vacancy-info-wrap">
      <div class="vacancy-info">
            <div class="info--main">

              <div class="col-xs-12 col-sm-4 text-left" ng-if="vacancy.employmentType">
                <span class="employmentType">{{vacancy.employmentType | translate}}</span>
              </div>

              <div class="col-xs-12 col-sm-4 fixed-text-width"
                   ng-if="vacancy.salaryFrom || vacancy.salaryTo"
                   ng-class="{'text-left':!vacancy.employmentType, 'text-center': vacancy.employmentType}">
                <span class="salary">{{vacancy.salaryFrom|salaryFormat:vacancy.salaryTo}} {{vacancy.currency}}</span>
              </div>

              <div class="col-xs-12 col-sm-4 fixed-text-width"
                   ng-class="{'text-center': !vacancy.employmentType || !vacancy.salaryFrom || !vacancy.salaryTo,
                              'text-left': !vacancy.employmentType && !vacancy.salaryFrom && !vacancy.salaryTo,
                              'text-right': vacancy.employmentType && (vacancy.salaryFrom || vacancy.salaryTo)}"
                   ng-if="vacancy.region.displayFullName">
                  <span ng-class="{'no-margin': !vacancy.languages.length}" class="location">{{vacancy.region.displayFullName}}</span>
              </div>

              <div class="clearfix"></div>
            </div>

            <div class="info-additional col-xs-12">
              <!--<span class="manage">Managerial experience and customer orientation</span>-->
              <span class="languages" ng-if="vacancy.languages.length">
                  <span class="lang" ng-repeat="lang in vacancy.languages">
                    {{lang.name}}
                    <span class="level">{{lang.level | translate}}<span ng-if="vacancy.languages.length >=2">;</span></span>
                  </span>
              </span>
            </div>

            <div class="clearfix"></div>

            <div class="vacancy-description" ng-if="vacancy.descr">
              <span class="content-description" id="descr" description-treatment description="vacancy.descr"></span>
            </div>

            <!--<div class="share">-->
                <!--<span>{{'Help people to find new job' | translate}} {{'Share in your' | translate}}</span>-->
                <!--<a class="linked" ng-click="share('linkedin')" href="">-->
                  <!--<i class="fa fa-linkedin" aria-hidden="true"></i>-->
                <!--</a>-->
                <!--<a class="fb" ng-click="share('facebook')" ng-show="companyPublicInfo.fb" href="">-->
                  <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
                <!--</a>-->
            <!--</div>-->
          </div>
    </div>

    <div class="col-lg-2 col-xs-12">
      <div class="apply-buttons text-center">
          <button class="btn-modern apply" ng-click="showRecallFromModal()">{{'Apply now' | translate}}</button>
          <button class="btn-modern apply-via linkedin" ng-click="addRecallFromLinkedIn()">{{'Apply via' | translate}} <i class="fa fa-linkedin" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="social-icons" ng-if="vacancy.descr.length > 1000">
        <a class="linked" tooltip-placement="right" uib-tooltip="{{'Share vacancy via LinkedIn' | translate}}" ng-click="share('linkedin')" href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <!--<a class="twitter" href="#">-->
          <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
        <!--</a>-->
        <a class="fb" tooltip-placement="right" uib-tooltip="{{'Share vacancy via Facebook' | translate}}" ng-click="share('facebook')" ng-show="companyPublicInfo.fb" href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </div>

  </div>
  <div class="row text-center" ng-if="loadStatusForPublicVacancy && (vacancy.status == 'deleted' || vacancy.status == 'canceled' || vacancy.descr.length <= 30 || vacancy.status == 'payment' || vacancy.status == 'completed' || !vacancy.descr)">
    <div class="no-description-message">

      <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>

      <div class="message" ng-if="vacancy.descr.length <= 30 && vacancy.status != 'deleted' && vacancy.status != 'canceled' || !vacancy.descr">
        <span>{{'Unfortunately'|translate}}, <br> {{'this vacancy'| translate}} <br> <span class="vacancy-position">{{vacancy.position}}</span> {{'is currently unavailable because its description has not been completed yet'|translate}}</span>
        <img src="/images/sprite/public-vacancy/smile.png" alt="">
      </div>

      <div class="message" ng-if="vacancy.status == 'payment' || vacancy.status == 'completed'">
        <span>{{'Unfortunately'|translate}}, <br> {{'this vacancy'| translate}} <br> <span class="vacancy-position">{{vacancy.position}}</span> {{'is out-of-date'|translate}}</span>
        <img src="/images/sprite/public-vacancy/smile.png" alt="">
      </div>

      <div class="message" ng-if="vacancy.status == 'deleted' || vacancy.status == 'canceled'">
        <span>{{'Unfortunately'|translate}}, <br> {{'this vacancy'| translate}} <br> <span class="vacancy-position">{{vacancy.position}}</span> {{'is deleted'|translate}}</span>
        <img src="/images/sprite/public-vacancy/smile.png" alt="">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
        <div class="cleverstaff">
          <span>Powered by</span>
          <img src="/images/sprite/favicon.png" alt="CleverStaff">
          <span>CleverStaff</span>
        </div>
      </div>
  </div>

  <div class="background-animations">
    <img class="cloud-1 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="cloud-2 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="cloud-3 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="cloud-4 position" src="/images/sprite/public-vacancy/cloud.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="plane-2 position" src="/images/sprite/public-vacancy/plane-2.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="person-3 position" src="/images/sprite/public-vacancy/person-3.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="plane position" src="/images/sprite/public-vacancy/plane.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="person-1 position" src="/images/sprite/public-vacancy/person-1.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="person-2 position" src="/images/sprite/public-vacancy/person-2.png" alt="" ng-if="loadStatusForPublicVacancy">
    <img class="flower position" src="/images/sprite/public-vacancy/flower.png" alt="" ng-if="loadStatusForPublicVacancy">
  </div>
</div>

