<div class="block-finishreg" id="confirmRegistrationFailReconfirmation" style="display:none">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 finishregYou">
            <div class="alert alert-success" id="confirmRegistrationFailReconfirmation_ru" style="display:none">
                <strong>Поздравляем, Вы создали аккаунт компании в CleverStaff!</strong>
                <br/>
                Мы отправили Вам на почту письмо для активации этого аккаунта.
                <br/>
                Если письма нет, проверьте папку Спам или подождите минут 10, доставка письма может задерживаться.
                <br/>
                <a href="/">Перейти на главную</a>
            </div>
            <div class="alert alert-success" id="confirmRegistrationFailReconfirmation_en" style="display:none">
                <strong>Congratulations! You have created  account of in CleverStaff</strong>
                <br/>
                We have sent a confirmation mail on your email. Please check it to activate your new account.
                <br/>
                If no letter from CleverStaff in the inbox, check your Spam folder or wait for 10 minutes, letter delivery may be delayed.
                <br/>
                <a href="/">Home</a>
            </div>
        </div>
    </div>
</div>