<div class="block-invitereg container">
    <div class="row">
        <div class="registerForm" ng-show="showRestoreForm == true">
            <form name="restoreForm" ng-submit="submitForm()" class="question-form" novalidate autocomplete="off" id="signup">
                <div class="form-gr">
                    <input placeholder="{{'new_password'|translate}}" type="password" class="pull-left" check-password
                           password="password" id="password" ng-model="password" name="password" required>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center minusMarginTop" ng-show="showError">
                    {{errorMessage}}
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterPassword">
                    {{'Passwords strength'|translate}}: <span class="red">Abc</span> <span class="red">123</span> <span class="red">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterLatin">
                    {{'Passwords strength'|translate}}: <span class="red">Abc</span> <span class="green">123</span> <span class="green">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterNumber">
                    {{'Passwords strength'|translate}}: <span class="green">Abc</span> <span class="red">123</span> <span class="green">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center goodSuccess" ng-show="showErrorGoodSuccess">
                    {{'Passwords strength'|translate}}: <span class="green">Abc</span> <span class="green">123</span> <span class="green">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterNumberCharacters">
                    {{'Passwords strength'|translate}}: <span class="green">Abc</span> <span class="red">123</span> <span class="red">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterLatinCharacters">
                    {{'Passwords strength'|translate}}: <span class="red">Abc</span> <span class="green">123</span> <span class="red">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="error-password text-center" ng-show="showErrorEnterCharacters">
                    {{'Passwords strength'|translate}}: <span class="green">Abc</span> <span class="green">123</span> <span class="red">8-30 {{'characters'|translate}}</span>
                </div>
                <div class="form-gr">
                    <input placeholder="{{'confirm_new_password'|translate}}" class="pull-left" type="password"
                           name="password2" ng-model="password2" required>
                    <div class="clearfix"></div>
                    <div class="text-center minusMarginTop" ng-show="password != password2 && restoreForm.password.$dirty && restoreForm.password2.$dirty">
                        {{'wrong_password2'| translate}}
                    </div>
                </div>
                <a ng-click="restore()" class="orangeBtn create-account">
                    {{'Change password and Sign in'|translate}}
                </a>
            </form>
        </div>
        <div class="alert alert-success" ng-show="showRestoreForm == false">
            {{'You have already changed the password on this special link'|translate}}
            <a href="https://cleverstaff.net?q=restore">https://cleverstaff.net?q=restore</a>
        </div>
    </div>
</div>