<div class="col-lg-2" title="{{history.dc|dateFormat:true}}">
    <span class="time">
        {{history.dc|dateFormat:false}}
    </span>
    <a href="#/users/{{history.person.empId}}" class="user">
        <span>{{history.person.firstName}}</span>
        <span>{{history.person.lastName}}</span>
    </a>
</div>
<div class="col-lg-10" ng-show="history.newValue">
    {{'Salary has been changed' | translate}}
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span class="status">
        {{history.newValue}}
    </span>
</div>
<div class="col-lg-10" ng-show="!history.newValue || history.newValue == 0">
    <a href="#/users/{{history.person.empId}}">
        <span>{{history.person.firstName}}</span>
        <span>{{history.person.lastName}}</span>
    </a>
    <br/>
    {{'Salary is not specified' | translate}}
</div>