<div class="col-lg-3">
    <span class="time" ng-bind-html="vacancy.actions.objects[0].dm |dateFormat6:true |translate"></span>
</div>
<div class="col-lg-9">
    <a href="#/vacancies/{{vacancy.localId}}"  class="user">
        <span once-text="vacancy.position"></span>
    </a>
    <span class="coma">, {{vacancy.clientId.name}},</span>
    <a href="#/users/{{vacancy.creator.userId}}" >&nbsp;&nbsp;
        <i class="fa fa-user" aria-hidden="true"></i>
        {{vacancy.actions.objects[0].person.fullName}}
    </a>
    <br/>
    {{'candidates'|translate}} <span class="comma"><span ng-repeat="candidate in history.candidates"><a href="#/candidates/{{vacancy.actions.objects[0].candidate.localId}}">{{vacancy.actions.objects[0].candidate.fullName}}</a></span></span>
    <span ng-show="$root.currentLang =='ru' || $root.currentLang =='ua'">{{'by_vacancy'|translate}}</span>
    <span ng-show="$root.currentLang =='en'">{{'on vacancy'|translate}}</span> <a href="#/vacancies/{{vacancy.localId}}">{{vacancy.position}}</a>
    <span ng-show="candidatesLengts!=0">{{'and another'|translate}} {{candidatesLengts}}</span> {{'were sent to the Email'|translate}}
    <span class="comma">
        <span ng-repeat="mail in (vacancy.actions.objects[0].descr|stringToJson)">{{mail}}</span>
    </span>
</div>