<div class="add-coment">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <!--{{$root.addCandidateChangeStage}}-->
        <h4 class="modal-title">
            <span ng-if="$root.candidatesAddToVacancyIds.length == 1">
                {{'Add a comment to candidate'|translate}}
                <span ng-repeat="candidate in $root.addCandidateChangeStage track by $index" title="{{candidate.fullName}}">
                    {{candidate.fullName | limitTo:23}}{{::candidate.fullName.length > 23 ? '...' : ''}}
                </span>
            </span>
            <span ng-if="$root.candidatesAddToVacancyIds.length == 2">
                {{'Add a comment to candidates'|translate}}
                <span ng-repeat="candidate in $root.addCandidateChangeStage track by $index" title="{{candidate.fullName}}">
                    {{candidate.fullName | limitTo:23}}{{::candidate.fullName.length > 23 ? '...' : ''}} <span ng-show="$root.currentLang == 'en'">{{$last ? '' : ' and'}}</span><span ng-show="$root.currentLang == 'ru'">{{$last ? '' : ' и'}}</span>
                </span>
            </span>
            <span ng-if="$root.candidatesAddToVacancyIds.length > 2">
                {{'Add a comment to'|translate}}
                ({{$root.candidatesAddToVacancyIds.length}})
                <span ng-if="$root.currentLang == 'en'">{{'candidate_3'|translate}}</span>
            </span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="item taskText">
            <textarea placeholder="{{'write_a_comment'|translate}}" ng-model="$root.commentCandidate.comment" class="form-control"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept"  ng-click="$root.addCommentInCandidate();">{{'add'|translate}}</a>
        </div>
    </div>
</div>