<div class="add-coment">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">
            {{'history_info.message_to_candidate'|translate}}
            {{$root.chosenCandidate.candidateId.fullName}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="item taskText">
            <textarea placeholder="{{'write_a_comment'|translate}}" ng-model="$root.commentVacancyToCandidate.comment" class="form-control">
                {{$root.commentVacancyToCandidate.comment}}
            </textarea>
        </div>
        <!--<div class="toggleSwitcher">-->
            <!--<label ng-click="$root.getHistoryForTask('all actions');" ng-class="{'grey': !$root.showAllActions}" class="hideComment pull-left">{{'Hide_1'|translate}}</label>-->
            <!--<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round taskSwitcher" type="checkbox">-->
            <!--<label class="pull-left" ng-click="$root.getHistoryForTask('switch');" for="cmn-toggle-1"></label>-->
            <!--<label ng-click="$root.getHistoryForTask('comment');" ng-class="{'grey': $root.showAllActions}" class="showComment">{{'Show'|translate}}</label>-->
            <!--{{'this comment for Hiring managers'|translate}}-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept"  ng-click="$root.addCommentInVacancyToCandidate();">{{'add'|translate}}</a>
        </div>
    </div>
</div>