<div class="add-photo">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">
            {{'Add a photo' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="item">
            <h5>{{'You can select a photo on your computer' | translate}}</h5>
            <label for="photoFile" class="btn btn-primary accept text-center">
                <span>{{'Attach file'|translate}}</span>
            </label>
        </div>
        <div class="item">
            <h5>{{'Or provide a link to photos on the internet' | translate}}</h5>
            <input ng-model="photoUrl" type="text">

            <label ng-show="photoUrl.length>0" class="btn btn-primary accept" ng-click="addPhotoByReference(photoUrl)">
                <span>{{'save'|translate}}</span>
            </label>
            <div class="formats">{{'Supported formats' | translate}}: JPG, PNG</div>
        </div>
    </div>
</div>