<div class="adding-task">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <i class="fa fa-clone pull-left"></i>
        <h4 class="modal-title">{{'Adding a task' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="item">
            <form class="form-inline">
                <div class="input-group">
                    <input ng-model="$root.newTask.title" type="text" class="form-control" placeholder="{{'Header text'|translate}}">
                </div>
            </form>
        </div>
        <div class="threeTasksTypes pull-left">
            <a type="button" class="btn btn-primary btn-sm" ng-click="$root.changeTabOnTaskForNewTask('Task');" ng-class="{'active': $root.newTask.type == 'Task'}">{{'Task'|translate}}</a>
            <a type="button" class="btn btn-primary btn-sm" ng-click="$root.changeTabOnTaskForNewTask('Call');" ng-class="{'active': $root.newTask.type == 'Call'}">{{'Call'|translate}}</a>
            <a type="button" class="btn btn-primary btn-sm" ng-click="$root.changeTabOnTaskForNewTask('Meeting');" ng-class="{'active': $root.newTask.type == 'Meeting'}">{{'Meeting'|translate}}</a>
        </div>
        <div class="item">
            <form class="form-inline">
                <div class="input-group">
                    <input class="changeDateNewTask form-control" type="text" readonly placeholder="{{'Run on'|translate}}">
                    <div class="input-group-addon pull-left">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="performers">
            <span class="pull-left">
                <span class="addPerformer">{{'Add perfomer' | translate}}:</span>
                <i class="fa fa-plus-square-o" aria-hidden="true" title="{{'Add perfomer' | translate}}" hide-onclick-anywhere-but-here>
                    <div class="clever-window hideable responsible" ng-show="false">
                        <div class="clever-window-element"
                             ng-repeat="person in $root.persons | orderBy:'cutFullName'"
                             ng-show="person.status != 'N' &&  !person.notShown && (person.recrutRole == 'admin' || person.recrutRole == 'recruter' || person.recrutRole == 'freelancer' || person.recrutRole == 'salesmanager' || person.recrutRole == 'researcher')"
                             ng-click="$root.addResponsible(person)">
                            <span ng-if="person.userId == $root.me.userId">({{'Me' | translate}}) {{$root.me.cutFullName}}</span>
                        </div>
                        <div class="clever-window-element"
                             ng-repeat="person in $root.persons | orderBy:'cutFullName'"
                             ng-show="person.status != 'N' &&  !person.notShown"
                             ng-click="$root.addResponsible(person)">
                            <span ng-hide="person.userId == $root.me.userId">{{person.cutFullName}}</span>
                        </div>
                    </div>
                </i>
                <div class="clearfix"></div>
                <span class="pull-left deleteResponsibleCandidate" ng-repeat="responsible in $root.responsiblePersonsEdit">
                    <a target="_blank" href="#users/{{responsible.userId}}" style="cursor:pointer">{{responsible.fullName}}</a>
                    <i title="{{'Delete perfomer' | translate}}" ng-click="$root.deleteResponsible(responsible);$event.stopPropagation();" class="fa fa-times" aria-hidden="true"></i><span ng-show="!$last">,</span>
                </span>
            </span>

        </div>
        <div class="item taskText">
            <textarea class="form-control" ng-model="$root.newTask.text" placeholder="{{'Task text'|translate}}" ng-model="$root.vacancyChangeInterviewDate.comment"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept" ng-click="$root.saveNewTask()">{{'save'|translate}}</a>
        </div>
    </div>
</div>