<div class="block-invite-user">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">
            {{'Upgrade your plan to invite new user'|translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="item">
            <p translate="After 14 day Trial only one user is able to access the Free plan account (despite of Hiring Manager)"></p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-accent"  href="#/pay" ng-click="$root.closeModal();">{{'Go to payment page'|translate}}</a>
        </div>
    </div>
</div>