<div class="blockAccountHmNotPaid">
    <div class="modal-body">
        <h3 class="text-center">{{'Ooops'|translate}}!..</h3>
        <div class="imgForNotPaid"></div>
        <h5>{{'Now you cannot access your profile because the'|translate}} {{$root.me.orgName}} {{'account on CleverStaff was not paid'|translate}}.</h5>
        <p>{{'Please contact the Admin of this account сompany account, or to a person who invited you to this account'|translate}}.</p>
        <p>{{'Once this account is paid, you will be able to access to it'|translate}}.</p>
        <p>{{'If you have any questions -- email us at'|translate}} <a href="mailto:contact@cleverstaff.net">contact@cleverstaff.net</a> {{'or skype us'|translate}}: <a href="skype:cleverstaff?chat">cleverstaff</a>.</p>
        <h5>{{'Your friends at CleverStaff'|translate}}</h5>
    </div>
</div>