<div class="candidate-remove delete-vacancy">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title" ng-switch="$root.changeStateInCandidate.status">
            <span ng-switch-when="archived" ng-hide="deleteFromSystem">{{'Are you sure want change candidate status to Delete' | translate:{name: $root.changeStateInCandidate.fullName} }} </span>
            <span ng-switch-when="archived" ng-show="deleteFromSystem">{{'Are you sure want delete candidate from the system' | translate:{name: $root.changeStateInCandidate.fullName} }} </span>
            <span ng-switch-default><span>{{'change_candidate_status'|translate}}</span>
                <br/>
                <span> {{'candidate_status_assoc.' +$root.changeStateInCandidate.status_old|translate}} </span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <span>{{'candidate_status_assoc.' +$root.changeStateInCandidate.status|translate}}</span>
            </span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="item taskText">
            <textarea placeholder="{{$root.changeStateInCandidate.placeholder}}" ng-model="$root.changeStateInCandidate.comment" class="form-control"></textarea>
        </div>
        <div class="delete-candidate" ng-show="$root.me.recrutRole === 'admin' || $root.me.recrutRole === 'recruter'">
            <input type="checkbox" ng-model="deleteFromSystem" id="delete-candidate">
            <label for="delete-candidate" translate="Remove candidate from a system"></label>
            <i class="fa fa-info-circle"  uib-tooltip-html="$root.tooltips.deleteCandidateFromSystem" tooltip-class="tooltip-outer" aria-hidden="true"></i>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();" ng-switch="$root.changeStateInCandidate.status">
                <span ng-switch-when="archived"> {{'cancel'|translate}}</span>
                <span ng-switch-default>{{'cancel'|translate}}</span>
            </a>
            <a type="button" class="btn btn-primary accept"  ng-click="saveStatusOfCandidate(deleteFromSystem);" ng-switch="$root.changeStateInCandidate.status">
                <span ng-switch-when="archived"> {{'Delete'|translate}}</span>
                <span ng-switch-default>  {{'save'|translate}}</span>
            </a>
        </div>
    </div>
</div>