<div class="email-chat">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">
            История переписки с *ИМЯ+ФАМИЛИЯ КАНДИДАТА*
        </h4>
    </div>
    <div class="modal-body">
        <div class="item">
            <div class="title">
                Тема переписки #1
            </div>
            <div class="letter">
                <div class="header">
                    <span class="name">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
            <div class="letter letter-second">
                <div class="header pull-right">
                    <span class="name name-recruiter pull-right">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="clearfix"></div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                Тема переписки #1
            </div>
            <div class="letter">
                <div class="header">
                    <span class="name">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
            <div class="letter letter-second">
                <div class="header pull-right">
                    <span class="name name-recruiter pull-right">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="clearfix"></div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                Тема переписки #1
            </div>
            <div class="letter">
                <div class="header">
                    <span class="name">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
            <div class="letter letter-second">
                <div class="header pull-right">
                    <span class="name name-recruiter pull-right">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="clearfix"></div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                Тема переписки #1
            </div>
            <div class="letter">
                <div class="header">
                    <span class="name">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
            <div class="letter letter-second">
                <div class="header pull-right">
                    <span class="name name-recruiter pull-right">
                        *ИМЯ+ФАМИЛИЯ КАНДИДАТА*:
                    </span>
                    <br/>
                    <span class="emails">cc: email@email.com, email2@email.com, email3@email.com</span>
                </div>
                <div class="clearfix"></div>
                <div class="content row">
                    <div class="col-lg-10 col-md-10 text">
                        Добрый день!

                        Ббла блабла
                    </div>
                    <div class="col-lg-2 col-md-2 time">
                        02/17/16
                        04:47 p.m.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</div>