<div class="excel-history">
    <div class="intro">
        <h2>{{'Export to Excel' | translate }}</h2>
        <span>({{'up to 30 000 profiles' | translate}})</span>
    </div>
    <div class="export">
        <div class="export-image">
            <img src="/images/sprite/excel-history.png" alt="{{'Export to Excel' | translate }}">
        </div>
        <div class="export-type">
            <h5>{{'Please choose the candidate database export option' | translate}}</h5>
            <div class="type">
                <input type="checkbox" id="history-candidate">
                <label for="history-candidate">{{'Candidates' | translate}}</label>
            </div>
            <div class="type">
                <input type="checkbox" id="history-all">
                <label for="history-all">Кандидаты + комментарии + история действий</label>
            </div>
        </div>
        <div class="export-history">
            <a href="#/excelHistory" >Export History</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>