<div class="delete-responsible">
    <div class="modal-body">
        <div class="item taskText">
             <!--<h4>{{"After changing the user role to hiring manager you won't be able to return the role within 7 days" | translate}}</h4>-->
            {{"After changing the user role to hiring manager you won't be able to return the role within 7 days" | translate}}.
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept" ng-click="$root.saveNewRole('client',true);$root.closeModal();">{{'OK' | translate}}</a>
        </div>
    </div>
</div>