<div class="delete-mailing">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="modalInstance.close()"></i>
        <h4 class="modal-title" translate="Are you sure you`ve double checked all details?" ></h4>
    </div>
    <div class="modal-body">
        <div>
            <span>{{sendMailingParams | mailingServiceMessageParser:candidatesForMailing.length}}</span>
            <br>
            <a ng-show="!sendMailingParams.available" class="orange-button" ng-href="#/pay">{{'Go to payment service' | translate}}</a>
        </div>

    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="modalInstance.close()" translate="Edited_1"></a>
            <a type="button" class="btn btn-primary accept" translate="Send mailing" ng-click="confirmSendMailing()"></a>
        </div>
    </div>
</div>