<div class="delete-mailing">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="modalInstance.close()"></i>
        <h4 class="modal-title" translate="Are you sure you`ve double checked all details?" ></h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="modalInstance.close()" translate="Edited_1"></a>
            <a type="button" class="btn btn-primary accept" translate="Send mailing!" ng-click="confirmSendMailing()"></a>
        </div>
    </div>
</div>