<div class="delete-candidate-from-vacancy">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">Удалить Атаманчук Руслан Вікторович из вакансии?</h4>
    </div>
    <div class="modal-body">
        <div class="item taskText">
            <textarea placeholder="Напишите комментарий (не обязательно)" class="form-control"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel">Отменить</a>
            <a type="button" class="btn btn-primary accept">Сохранить</a>
        </div>
    </div>
</div>