<div class="delete-vacancy">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">{{'Are you sure that you want to delete candidates' | translate:{amount : candidatesAddToVacancyIds.length} }}
        </h4>
    </div>
    <div class="modal-body">
        <textarea placeholder="{{'write_a_comment' | translate}}" ng-model="deleteCandidatesComment" class="form-control"></textarea>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept"  ng-click="deleteCandidates()">{{'Delete'|translate}}</a>
        </div>
    </div>
</div>