<div class="disabled-btn-for-test-account">
    <div class="modal-body">
        <i ng-click="$root.closeNavModal();" class="fa fa-times pull-right" aria-hidden="true"></i>
        <h4 class="text-center">{{'Upgrade your plan to use this feature'|translate}}</h4>
        <p class="text-center">
            {{'Being a Free Plan user, you have free access to this feature for the first 7 days of your Trial'|translate}}
        </p>
        <p class="text-center">
            <a type="button" class="btn btn-primary accept" ng-click="$root.closeModalForTestAccount();">
                {{'What will I get with account upgrade'|translate}}?
            </a>
        </p>
    </div>
</div>