<div class="mailingServiceInfo">
    <div class="modal-header">
        <h4>
            Великолепный заголовок
            <i class="fa fa-info-circle tooltip-icon" title="" tooltip-placement="bottom-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.fbNewsModal" aria-hidden="true"></i>
        </h4>
    </div>
    <div class="modal-body" >
        Великолепный текст
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" href="#/news" ng-click="$root.closeModal()">{{'Cancel' | translate}}</a>
            <a type="button" class="btn btn-primary accept" href="" ng-click="$root.closeModal()">{{'Got it' | translate}}</a>
        </div>
    </div>
</div>