<div class="mailingServiceInfo">
    <div class="modal-header">
        <h2 class="text-center" translate="Mailings"></h2>
    </div>
    <div class="modal-body" >
        <p translate="With the help of mailings you can send letters to candidates, get the reports on emails delivery and views"></p>
        <p translate="Customizable templates with variables allow you to send personalized emails and the analytics will show the effectiveness of your mailings."></p>
        <p translate="You can even implement the A/B test and determine which letters work best."></p>
        <p translate="The cost of each letter is 0.01 USD (100 letters - 1 USD). Unlimited tariff - $ 300/month or $ 3000/year."></p>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn accept" href="" ng-click="closeModal()">{{'Got it' | translate}}</a>
        </div>
    </div>
</div>