<div class="mailingServiceInfo">
    <div class="modal-header">
        <h2 class="text-center">
            Рассылки
            <!--<i class="fa fa-info-circle tooltip-icon" title="" tooltip-placement="bottom-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.fbNewsModal" aria-hidden="true"></i>-->
        </h2>
    </div>
    <div class="modal-body" >
        <p>
            С помощью рассылок вы можете массово отправлять письма кандидатам, а также смотреть отчёты о доставке, просмотрах и переходам по ссылкам в письмах.
        </p>
        <p>
            Настраиваемые шаблоны с переменными позволят вам отправлять персонализированные письма, а аналитика покажет эффективность писем.
        </p>
        <p>
            Вы даже сможете реализовать A/B тест и определить какие письма лучше работают.
        </p>
        <p>
            Стоимость каждого письма составляет 0,01 USD (100 писем - 1 USD). Безлимитный тариф - 300 долларов в месяц или 3000 долларов в год.
        </p>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn accept" href="" ng-click="closeModal()">{{'Got it' | translate}}</a>
        </div>
    </div>
</div>