<div class="news-fb-modal">
    <div class="modal-header">
        <h4>
            {{'Important News from CleverStaff' | translate}}
            <i class="fa fa-info-circle tooltip-icon" title="" tooltip-placement="bottom-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.fbNewsModal" aria-hidden="true"></i>
        </h4>
    </div>
    <div class="modal-body news-modal" >
        <div ng-repeat="post in $root.news track by $index" class="fb-post" data-href="https://www.facebook.com/cleverstaff/posts/{{post}}">
            {{(post)}}
        </div>

    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" href="#/news" ng-click="$root.closeModal()">{{'Show previous news' | translate}}</a>
            <a type="button" class="btn btn-primary accept" href="" ng-click="$root.closeModal()">{{'Got it' | translate}}</a>
        </div>
    </div>
</div>