<div class="delete-responsible">
    <div class="modal-body">
        <div class="item taskText">
             <h4>{{'You did not not integrate your email with CleverStaff account' | translate}}</h4>
            {{'This feature works only after you integrate your email with your CleverStaff account' | translate}}.
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary accept" href="#/email-integration" ng-click="$root.closeModal()">{{'Integrate with email' | translate}}</a>
        </div>
    </div>
</div>