<div class="notHaveIntegrationWith-FB">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title"> {{'First_you_need_to_add_CleverStaff_integration_with_your'|translate}}</h4>
    </div>
    <div class="modal-body text-center">
        <a href="#/company/settings/&q1=facebook">{{'Go_to_settings'|translate}}</a>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary" ng-click="$root.closeModal()">{{'cancel'|translate}}</a>
        </div>
    </div>
</div>