<div class="add-coment">
    <div class="modal-header">
        <i class="fa fa-times pull-right"  ng-click="modalInstance.close()"></i>
        <h4 class="modal-title" translate="Are you sure you want to remove this source?" translate-values="{source_name: removableSource}">
        </h4>
    </div>
    <div class="modal-body" translate="It will also be removed from other candidate profiles">

    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="modalInstance.close()">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept"  ng-click="confirmDeleteOrigin()" translate="Yes, remove everywhere"></a>
        </div>
    </div>
</div>