<div class="pipeline-descr">
    <div class="modal-header">
        <h4>
            Pipeline
        </h4>
    </div>
    <div class="modal-body">
       <p>
           {{'The Pipeline report helps you define problem vacancies, bottlenecks, and enhance the work on them in advance. The report illustrates'| translate}}:
       </p>
        <p>
            -{{"active vacancies ('New' and 'In progress' status) with responsible recruiters"| translate}};
            <br/>
            -{{"2 last active stages, the last day of any activity, and the number of candidates processed that day"| translate}};
            <br/>
            -{{"the number of candidates hired and refused"| translate}};
            <br/>
            -<span translate="vacancies with hired candidates marked with green color"></span>
            <br/>
            -<span translate="'hot' vacancies sorted by deadline date marked with red color"></span>
            <br/>
            -<span translate="vacancies with no activity within 5 days marked with yellow color"></span>
        </p>
    </div>

</div>