<div class="change-price-block">
    <div class="modal-header">
        <h4 class="text-left"></h4>
    </div>
    <div class="modal-body">
        <p>
            Dear friends, we are increasing the cost of CleverStaff by 20% in 2018 - <b>from 25 USD to 30 USD for each user.</b></p>
        <p>
            In 2017, we made a large number of improvements to the system: 32 major releases are described on our company blog: <a target="_blank" href="https://cleverstaff.net/news">https://cleverstaff.net/news</a>.
        </p>
        <p>
            CleverStaff is cheaper than many competitors but our development velocity is greater.
            This price increase will help us to boost the development even more and to continue working on our value and competitive advantage enhancement for our customers.
        <p>
            <b>
                Up till January 1st, 2018, you can pay for CleverStaff at the old rate.
            </b>
        </p>
        <p>
            We also remind you that if you pay for 1 year in advance you`ll receive a <b>20% bonus</b> on your account.
        </p>
        <p>
            Thank you for being with us!
            We really appreciate it!
        </p>
        <p>
            <i>PS: We are preparing even more cool features in CleverStaff for you in 2018!</i>
        </p>

    </div>
    <div class="modal-footer">
        <div class="text-left">

        </div>
        <div class="text-center button">
            <a type="button" class="btn btn-green" ng-click="acceptChangesPrice(false)">Pay now, before the price increase</a>
            <a type="button" class="btn btn-grey" ng-click="acceptChangesPrice(true)"> I`ll pay later</a>
        </div>
    </div>
</div>