<div class="public-vacancy-form">
    <div class="closeModal" ng-click="$root.closeModal()">x</div>
    <div class="form">
        <span class="form-name">{{'Application form' | translate}}</span>
        <form class="recallForm" name="recallForm" ng-submit="submitForm()" novalidate>
            <input type="text" class="form-control margin-right"
                   name="name"
                   ng-class="{'error': recallForm.name.$invalid && !recallForm.name.$pristine}"
                   required
                   ng-model="request.name"
                   placeholder="{{'name' | translate}}">
            <input type="text" class="form-control"
                   placeholder="{{'last_name' | translate}}"
                   required
                   ng-class="{'error': recallForm.last_name.$invalid && !recallForm.last_name.$pristine}"
                   name="last_name"
                   ng-model="request.lastName">
            <input type="text"
                   class="form-control  margin-right"
                   placeholder="{{'email'|translate}}"
                   ng-class="{'error': showErrorEmailMessage}"
                   ng-model="request.email"
                   id="email2" name="email2">
            <input type="number"
                   class="form-control"
                   placeholder="{{'phone' | translate}}"
                   ng-class="{'error': recallForm.phone.$invalid && !recallForm.phone.$pristine ||showErrorPhoneMessage}"
                   ng-model="request.phone"
                   id="phone" name="phone"
                   required>
            <div class="recallForm__error margin-right text-center"
                 ng-class="{'ru-text-width': localStorage.getItem('NG_TRANSLATE_LANG_KEY') == 'ru'}">
                <span ng-show="recallForm.email2.$invalid && !recallForm.email2.$pristine || showErrorEmailMessage">{{'wrong_email'|translate}}</span>
            </div>
            <div class="recallForm__error text-center"
                 ng-class="{'margin-left': !recallForm.email2.$invalid && recallForm.email2.$pristine || !showErrorEmailMessage}">
                <span ng-show="recallForm.phone.$invalid && !recallForm.phone.$pristine || showErrorPhoneMessage">{{'Incorrect phone number'|translate}}</span>
            </div>
            <textarea type="text" class="form-control"
                      placeholder="{{'message' | translate}}"
                      ng-model="request.message">
        </textarea>
            <div class="attachFile">
                <img src="/images/sprite/public-vacancy/atachment.png" alt="">
                <input ng-disabled="filesForRecall.length == 2" type="file" oi-file="options" id="file" class="hidden"/>
                <label for="file" href="#">{{'Attach document'|translate}}</label>
                <div ng-repeat="file in filesForRecall">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    <span title="{{file.fileName}}" bo-href="serverAddress+'/getapp?id='+file.attId+'&d=true'" target="_blank"">
                    {{file.name| cut:true:18:'...'}}
                    </span>
                    <i class="fa fa-times pull-right" ng-click="removeFile(file.attId)" aria-hidden="true"></i>
                </div>
            </div>
        </form>
        <button class="btn-modern apply pull-right" ng-click="sendRequest(recallForm)">{{'send'|translate}}</button>
        <div class="clearfix"></div>
    </div>
</div>
