<div class="public-vacancy-form">
    <div class="closeModal" ng-click="$root.closeModal()">x</div>
    <div class="form">
        <span class="form-name">{{'Application form' | translate}}</span>
        <form class="recallForm" name="recallForm" ng-submit="submitForm()" novalidate>
            <div class="error_block error_form">
                <div class="recallForm__error margin-right text-center pull-left" ng-show="recallForm.name.$invalid && !recallForm.name.$pristine">
                    <span>{{'Please enter your Name'|translate}}</span>
                </div>
                <div class="recallForm__error text-center pull-right" ng-show="recallForm.last_name.$invalid && !recallForm.last_name.$pristine">
                    <span>{{'Please enter your Last Name'|translate}}</span>
                </div>
            </div>
            <input type="text" class="form-control margin-right"
                   name="name"
                   ng-class="{'error': recallForm.name.$invalid && !recallForm.name.$pristine}"
                   required
                   ng-model="request.name"
                   placeholder="{{'name' | translate}}*">
            <input type="text" class="form-control pull-right"
                   placeholder="{{'last_name' | translate}}*"
                   required
                   ng-class="{'error': recallForm.last_name.$invalid && !recallForm.last_name.$pristine}"
                   name="last_name"
                   ng-model="request.lastName">
            <div class="error_block">
                <div class="recallForm__error text-center pull-left email" ng-show="recallForm.email2.$invalid && !recallForm.email2.$pristine || showErrorEmailMessage">
                    <span>{{'wrong_email'|translate}}</span>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="recallForm__error text-center pull-right phone" ng-show="recallForm.phone.$invalid && !recallForm.phone.$pristine || showErrorPhoneMessage">
                    <span ng-if="incorrectPhoneNumber">{{'Incorrect phone number'|translate}}</span>
                    <span ng-if="enterPhoneNumber">{{'Enter phone number'|translate}}</span>
                </div>
            </div>
            <input type="text"
                   class="form-control  margin-right pull-left"
                   placeholder="{{'email'|translate}}*"
                   ng-class="{'error': showErrorEmailMessage}"
                   ng-model="request.email" ng-change="$root.changeEmail(request.email)"
                   id="email2" name="email2" style="clear: both;">
            <input type="text"
                   class="form-control pull-right"
                   ng-change="changePhone(request.phone)"
                   placeholder="{{'phone' | translate}}*"
                   ng-class="{'error': recallForm.phone.$invalid && !recallForm.phone.$pristine || showErrorPhoneMessage}"
                   ng-model="request.phone"
                   oninput="this.value = this.value.replace(/[^0-9\+\s]/g, '');"
                   pattern="^[0-9\+\s]*$"
                   id="phone" name="phone"
                   required>
            <textarea type="text" class="form-control"
                      placeholder="{{'message' | translate}}"
                      ng-model="request.message">
            </textarea>
            <div class="pull-left message" ng-show="filesForRecall.length == 0 && showErrorCvFileMessage">
                <span>{{'Please attach your CV file'|translate}}</span>
            </div>
            <div class="attachFile">
                <img src="/images/sprite/public-vacancy/atachment.png" alt="">
                <input ng-disabled="filesForRecall.length == 2" type="file" oi-file="options" id="file" class="hidden"/>
                <label for="file" href="#">{{'Attach document'|translate}}</label>
                <span class="star-right">*</span>
                <div ng-repeat="file in filesForRecall">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    <span title="{{file.fileName}}" bo-href="serverAddress+'/getapp?id='+file.attId+'&d=true'" target="_blank">
                    {{file.name| cut:true:18:'...'}}
                    </span>
                    <i class="fa fa-times pull-right" ng-click="removeFile(file.attId)" aria-hidden="true"></i>
                </div>
            </div>
            <div class="access-person-data">
                <input type="checkbox"  name="access-person-data" required ng-model="accessPreson">
                <span>{{"I give my consent for my personal data processing for this and other vacancies"|translate}}</span>
            </div>
        </form>
        <button class="btn-primary-new apply pull-right" ng-click="sendRequest(recallForm, accessPreson)">{{'send'|translate}}</button>
        <div class="clearfix"></div>
    </div>
</div>
