<div class="delete-responsible">
    <div class="modal-body">
        <div class="item taskText">
            <h4>{{'email_error' | translate}}</h4>
            {{'Please reset your email integration.' | translate}}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary accept" href="#/email-integration" ng-click="closeModal()">{{'Integrate with email' | translate}}</a>
        </div>
    </div>
</div>