<div class="candidate-add-in-vacancy">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title" ng-if="candidatesAddToVacancyIds.length > 0">
            <span ng-if="candidatesAddToVacancyIds.length == 1" ng-repeat="candidate in $root.addCandidateChangeStage track by $index">
                {{candidate.fullName}}
            </span>
            <span ng-if="candidatesAddToVacancyIds.length == 2" title="{{candidate.fullName}}" ng-repeat="candidate in $root.addCandidateChangeStage track by $index">
                {{candidate.fullName | limitTo:23}}{{::candidate.fullName.length > 23 ? '...' : ''}} <span ng-show="$root.currentLang == 'en'">{{$last ? '' : ' and'}}</span><span ng-show="$root.currentLang == 'ru'">{{$last ? '' : ' и'}}</span>
            </span>
            <span ng-if="candidatesAddToVacancyIds.length > 2">
                {{'candidates'|translate}} ({{candidatesAddToVacancyIds.length}})
            </span>
        </h4>
        <h4 class="modal-title" ng-if="candidatesAddToVacancyIds.length == 0">
            {{$root.changeStatusOfInterviewInVacancy.candidate.candidateId.fullName}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="item">
            <select class="form-control" ng-model="$root.changeStatus"
                    ng-change="$root.toChangeStatusInterview($root.changeStatus, $root.addCandidateChangeStage)"
            ng-if="candidatesAddToVacancyIds.length > 0">
                <option value="" selected style="display: none">{{'choose_stage'|translate}}</option>
                <option ng-repeat="status in $root.VacancyStatusFiltered"
                        class="{{status.active_color}}"
                        ng-disabled="activeName == status.value || activeCustomStageName == status.value ||
                        ((status.type == 'interview' || status.value == 'interview' || status.value == 'interview_with_the_client' || status.value == 'tech_interview' ||
                        status.value == 'hr_interview' || status.value == 'Interview with CEO' || status.value == 'interview_with_the_boss' || status.value == 'approved') && candidatesAddToVacancyIds.length > 1)"
                        ng-show="$root.changeStatusOfInterviewInVacancy.candidate.state != status.value"
                        ng-value="status.value"
                        ng-class="{disabled_status:activeName == status.value}"> {{status.value|translate}}
                </option>
            </select>
            <select class="form-control" ng-model="$root.changeStatus"
                    ng-change="$root.toChangeStatusInterview($root.changeStatus, $root.changeStatusOfInterviewInVacancy.candidate)"
                    ng-if="candidatesAddToVacancyIds.length == 0">
                <option value="" selected style="display: none">{{'choose_stage'|translate}}</option>
                <option ng-repeat="status in $root.VacancyStatusFiltered"
                        class="{{status.active_color}}"
                        ng-disabled="activeName == status.value || activeCustomStageName == status.value ||
                        ((status.type == 'interview' || status.value == 'interview' || status.value == 'interview_with_the_client' || status.value == 'tech_interview' ||
                        status.value == 'hr_interview' || status.value == 'Interview with CEO' || status.value == 'interview_with_the_boss' || status.value == 'approved') && candidatesAddToVacancyIds.length > 1)"
                        ng-show="$root.changeStatusOfInterviewInVacancy.candidate.state != status.value"
                        ng-value="status.value"
                        ng-class="{disabled_status:activeName == status.value}"> {{status.value|translate}}
                </option>
            </select>
        </div>
        <div class="item"  ng-show="$root.changeStatusOfInterviewInVacancy.status.withDate || $root.showEmployedFields || $root.changeStatusOfInterviewInVacancy.status.type == 'interview' || $root.changeStatusOfInterviewInVacancy.status.value == 'approved'">
            <form class="form-inline">
                <div class="input-group">
                    <input ng-show="!$root.showEmployedFields" type="text" placeholder="{{'Choose date and time'|translate}}" class="form-control changeStatusOfInterviewInVacancyPick1" style="background-image: url('images/sprite/calendar.png');background-position: right center;background-repeat: no-repeat;">
                    <input ng-show="$root.showEmployedFields" type="text" placeholder="{{'Choose date and time'|translate}}" class="form-control changeStatusOfInterviewEmployed1">
                    <!--<div class="input-group-addon">-->
                        <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                    <!--</div>-->
                </div>
            </form>
        </div>
        <div ng-show="$root.showEmployedFields || $root.changeStatusOfInterviewInVacancy.status.value == 'approved'" class="item">
            <label>{{'Probationary period'|translate}}</label>
            <select ng-model="$root.probationaryPeriod">
                <option value="week_2">{{'2 weeks'|translate}}</option>
                <option value="month_1">{{'1 month'|translate}}</option>
                <option value="month_2">{{'2 months'|translate}}</option>
                <option value="month_3">{{'3 months'|translate}}</option>
            </select>
        </div>
        <div class="item">
             <textarea placeholder="{{$root.changeStatusOfInterviewInVacancy.status.value|modalchangestatusplaceholder}}"
                       ng-model="$root.changeStatusOfInterviewInVacancy.comment"></textarea>
        </div>
        <div class="item link-input"
             ng-show="$root.changeStatusOfInterviewInVacancy.status.withDate ||
             $root.changeStatusOfInterviewInVacancy.status.value == 'interview' ||
             $root.changeStatusOfInterviewInVacancy.status.value == 'notafit' ||
             $root.changeStatusOfInterviewInVacancy.status.value == 'declinedoffer' ||
             $root.changeStatusOfInterviewInVacancy.status.value == 'no_response' ||
             $root.changeStatusOfInterviewInVacancy.status.value == 'no_contacts' ||
             $root.changeStatusOfInterviewInVacancy.status.type == 'refuse' ||
             $root.changeStatusOfInterviewInVacancy.status.type == 'interview'">
            <label ng-click="$root.candnotify.show = !$root.candnotify.show;$root.candnotifyClick()">
                {{'Notify the candidate'|translate}}
            </label>
            <i class="fa fa-chevron-down" ng-click="$root.candnotify.show = !$root.candnotify.show;$root.candnotifyClick()"></i>
        </div>
       <div ng-show="$root.candnotify.show">
           <div class="alert alert-danger" ng-show="$root.me.emails.length == 0">
               <a href="#/email-integration" target='_blank'>{{"add integration with email"|translate}}</a>
               {{"To send a letter from your mailbox, you need to"|translate}}
           </div>
           <div class="item">
               <span class="title">{{"Candidate's email"|translate}}</span>
               <input class="form-control" ng-model="$root.candnotify.sendMail" type="text">
           </div>
           <div class="item mail-checkbox" ng-show="$root.candnotify.show">
               <div ng-show="$root.me.emails.length == 1" class="field">
                   <label>{{"Send from"|translate}} {{$root.me.emails[0].email}}</label>
               </div>
               <div ng-show="$root.me.emails.length > 1" class="field">
                   <label>{{"Select email"|translate}}</label>
                   <div ng-click="$root.addEmailFromWhatSend(email)"
                        ng-repeat="email in $root.me.emails">
                       <input ng-checked="email.email == $root.emailTemplateInModal.email" type="checkbox">
                       <label>{{email.email}}</label>
                   </div>
               </div>
           </div>
           <div class="item" ng-show="$root.candnotify.show">
               <span class="title">{{'Letter subject' | translate}}</span>
               <input class="form-control" ng-model="$root.emailTemplateInModal.title" type="text">
           </div>
           <div class="item" ng-show="$root.candnotify.show">
               <textarea id="modalMCE" name="ModalMce"></textarea>
               <label ng-show="$root.fileForSave.length == 0" for="file">
                   <span>{{'Attach file'|translate}}</span>
               </label>
            <span class="item" ng-repeat="file in $root.fileForSave">
                <a ng-href="{{serverAddress}}/getapp/{{ file.fileId}}/{{ file.fileName}}" style="color:#000000;"
                   title="{{ file.fileName}}">
                    {{file.fileName| fileNameCut:0:30}}
                </a>
                <i class="fa fa-times" ng-click="removeFile(file.attId);$event.stopPropagation();"></i>
            </span>
           </div>
       </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
        <div class="text-center button">
            <a type="button" ng-click="$root.closeModal()" class="btn btn-primary cancel">{{'cancel'|translate}}</a>
            <a ng-click="$root.saveStatusInterviewInVacancy()" type="button" class="btn btn-primary changeStage">{{'change_status'|translate}}</a>
            <a ng-click=" $root.me.emails.length > 0 && $root.candnotify.send ? $root.saveStatusInterviewInVacancy(null, true): false"
               ng-show="$root.candnotify.show"
               ng-class="$root.me.emails.length > 0 && $root.candnotify.send ? 'accept' : 'cancel'"
               type="button" class="btn btn-primary cancel margin-mobile">
                {{'Change stage and notify'|translate}}
            </a>
        </div>
    </div>
</div>