<div class="vacancy-suggestion-fields">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h3>{{'Fill in the information necessary for the selection of candidates' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form  name="requiredFieldsForm" class="required-fields">
            <div class="field" ng-if="vacancyEmptyRequiredFields.indexOf('salaryFrom') !== -1 || vacancyEmptyRequiredFields.indexOf('salaryTo') !== -1">
                <label for="salaryFrom">{{'salary' | translate}}&nbsp(min)</label>
                <input id="salaryFrom" type="number" min="0" max="99999999"
                       ng-model="vacancy.salaryFrom"
                       ng-class="{'error': requiredFieldsForm.salaryFrom.$invalid && !requiredFieldsForm.salaryFrom.$pristine}"
                       ng-keypress="validSalary($event)">
                <label for="salaryTo">{{'salary' | translate}}&nbsp(max)</label>
                <input id="salaryTo" type="number" min="0" max="99999999"
                       ng-model="vacancy.salaryTo"
                       ng-class="{'error': requiredFieldsForm.salaryTo.$invalid && !requiredFieldsForm.salaryTo.$pristine}"
                       ng-keypress="validSalary($event)">
                <select class="currency" ng-model="vacancy.currency">
                    <option value="{{currency.value}}" ng-repeat="currency in currency">{{currency.value}}</option>
                </select>
            </div>
            <div class="field" ng-if="vacancyEmptyRequiredFields.indexOf('region') !== -1">
                <label for="pac-input">{{'Country and city' | translate}}*</label>
                <input id="pac-input" placeholder="{{'Enter the address'|translate}}"
                       ng-model="regionInput" googleplace>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <a type="button" class="btn cancel" ng-click="closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary" ng-click="saveVacancyFromSuggestion()">{{'Select candidates'|translate}}</a>
        </div>
    </div>
</div>