<div class="delete-vacancy">
    <div class="modal-header">
        <i class="fa fa-times pull-right" ng-click="$root.closeModal()"></i>
        <h4 class="modal-title">{{'Delete'|translate}} {{$root.client.candidateId.fullName}} {{'from vacancy'|translate}}?
        </h4>
    </div>
    <div class="modal-body">
        <div class="item taskText">
            <textarea placeholder="{{'Write a comment (not required)' | translate}}" ng-model="$root.deleteInterview.comment" class="form-control"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>
            <a type="button" class="btn btn-primary accept"  ng-click="$root.deleteInterview()">{{'yes, remove'|translate}}</a>
        </div>
    </div>
</div>