<div class="container-fluid sent-mailing-block" ng-click="readerListToggle($event)">
    <div class="breadcrumbs" breadcrumbs crumbs="$root.breadCrumbs"></div>
    <div class="row header">
        <div class="col-lg-12">
            <h3>
                <span translate="Mailing"></span>
                "<span ng-bind="::sentMailing.internalName"></span>"
            </h3>
            <button class="cancel-button" translate="Go back" history-back></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 main-info">
            <div class="row sender">
                <div class="col-lg-4 text-right" translate="Sender name and email"></div>
                <div class="col-lg-8 text-left" >
                    <span ng-bind="::sentMailing.fromName"></span>
                    <<span ng-bind="::sentMailing.fromEmail"></span>>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-right" translate="Subject line"></div>
                <div class="col-lg-8 text-left" ng-bind="::sentMailing.name"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-right" translate="Send date"></div>
                <div class="col-lg-8 text-left">{{(sentMailing.sendDate)|dateFormat7:true}}</div>
            </div>
            <div class="row email-text">
                <div class="col-lg-4 text-right" translate="Text of the letter"></div>
                <div class="col-lg-8 text-left">
                    <div class="text-block-wrapper">
                        <div class="text-block" ng-bind-html="::sentMailing.html">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clone">
                <div class="col-lg-4 text-right">
                </div>
                <div class="col-lg-8">
                    <a translate="Clone mailing" ng-click="cloneModal()"></a>
                    <i class="fa fa-info-circle tooltip-icon" title="" tooltip-placement="top-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.mailingClone" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row recipients">
                <div class="col-lg-12">
                    <h5 class="text-center recipients-title" translate="Recipients_all"></h5>
                    <div class="recipients-table">
                        <div class="row recipients-header">
                            <div class="col-lg-6" translate="full_name"></div>
                            <div class="col-lg-6" translate="email"></div>
                        </div>
                        <div class="recipients-scrollable">
                            <div class="row recipients-list" ng-repeat="receiver in ::sentMailing.receivers">
                                <div class="col-lg-6"><a ng-href="!#/candidates/{{receiver.localId}}" target="_blank" ng-bind="receiver.fullName"></a></div>
                                <div class="col-lg-6" ng-bind="receiver.email"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Analytics -->
    <div class="row not-yet" ng-if="currentDate - sendDate <= 600000">
        <h4 translate="Email delivery statistics will appear in a few minutes" class="text-left"></h4>
    </div>
    <div class="row statistics" ng-show="statistics.sent > 0 && statistics.sent >= readers.length && statistics.sent >= notReceived.length && currentDate - sendDate > 600000">
        <div class="col-lg-12 statistics-top">
            <div class="col-lg-4 statistics-types">
                <div translate="Sent_stat"></div>
                <div ng-bind="statistics.sent"></div>
            </div>
            <div class="col-lg-4 read statistics-types">
                <div translate="Opened_stat"></div>
                <div  class="count opened" ng-class="{'clickable': readers.length > 0}">
                    <span ng-bind="readers.length"></span>
                    <span class="toggle-button" ng-show="!opensListFlag.opened && readers.length > 0">({{"Show"|translate}})</span>
                    <span class="toggle-button" ng-show="opensListFlag.opened && readers.length > 0">({{"hide"|translate}})</span>
                </div>
                <slide-statistic-list-col-3 ng-if="statistics.opens > 0" class="slide-list read prevent-toggle" candidates-list="readers" ng-class="{'show': opensListFlag.opened}"></slide-statistic-list-col-3>
            </div>
            <div class="col-lg-4 statistics-types">
                <div translate="Not delivered"></div>
                <div ng-class="{'clickable': notReceived.length > 0}" class="count undelivered">
                    <span>
                        <span ng-bind="notReceived.length"></span>
                    <span class="toggle-button" ng-show="!opensListFlag.undelivered && notReceived.length > 0"> ({{"Show"|translate}})</span>
                    <span class="toggle-button" ng-show="opensListFlag.undelivered && notReceived.length > 0"> ({{"hide"|translate}})</span>
                    </span>
                </div>
                <slide-statistic-list-col-2 ng-if="statistics.undelivered > 0" class="slide-list undelivered prevent-toggle" candidates-list="notReceived" ng-class="{'show': opensListFlag.undelivered}"></slide-statistic-list-col-2>
            </div>
        </div>
        <div class="col-lg-12">

            <div class="row charts">
                <div class="col-lg-6" id="commonStat"></div>
                <div class="col-lg-6" id="failsStat" ng-show="notReceived.length > 0"></div>
            </div>
        </div>
    </div>
    <div class="row go-back">
        <button class="cancel-button" translate="Go back" history-back></button>
    </div>
</div>