<div class="quest-modal">
    <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">-->
            <!--{{'add_vacancy_comment_header'|translate}}-->
        <!--</h4>-->
    <!--</div>-->
    <div class="modal-body text-center">
        <h2>{{"Woop Woop" | translate}}!</h2>
       <p>
           {{"So great to see your candidates’ database grow" | translate}}!
       </p>
        <p>
            <strong>
                {{"Also, you’ve passed 38% of an Onboarding Quest" | translate}}!
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <!--<a type="button" class="btn btn-primary cancel" ng-click="$root.closeModal();">{{'cancel'|translate}}</a>-->
            <a type="button" class="btn btn-primary accept" ng-click="$root.continueQuest();">
                {{"What does it mean" | translate}}?
            </a>
        </div>
    </div>
</div>