<div class="quest-modal">
    <div class="modal-body text-center">
        <h2>{{"Grow Your Database in Seconds" | translate}}!</h2>
       <h4>
           {{"First, let's import your database" | translate}}
       </h4>
        <h4>
            {{"Upload thousands of CVs as an archive, import from email, or add them 1-by-1" | translate}}.
        </h4>
        <h4>
            {{"Also, you can find & add candidates via embedded search on LinkedIn" | translate}}.
        </h4>
    </div>
    <div class="modal-footer">
        <div class="text-center button">
            <a type="button" class="btn btn-primary cancel" ng-click="$root.doItLater();">{{'I’ll do it later'|translate}}</a>
            <a type="button" class="btn btn-primary accept" ng-click="$root.continueQuest();">
                {{"Add candidates" | translate}}
            </a>
        </div>
    </div>
</div>