<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    {{'Information about the candidate'|translate}}
    <a href="#/candidates/{{history.candidate.localId}}">
        <span once-text="history.candidate.fullName"></span>
    </a>
    {{'of the updated file'|translate}}
     <span  style="color:#DAA10F">{{history.descr| fileNameCut:0:50}}</span>
</div>