<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    {{'Tag'| translate}} <span style="border-radius: 5px;padding-left: 4px;padding-right: 4px;color:white;background-color:#6ECFF5">{{history.descr}}</span> {{'history_info.candidate_remove_from_group'|translate}}.
    <!--<a href="#/candidates/{{history.candidate.localId}}">-->
        <!--<span once-text="history.candidate.fullName"></span>-->
    <!--</a>-->
</div>