<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    <span style="color: #ff00ff">
        <span style="border-radius: 5px;padding-left: 4px;padding-right: 4px;color:white;background-color:#cccccc">{{'history_info.removed'|translate}}</span>
    </span>
    <span>{{'history_info.from vacancy'|translate}}</span>
    <a href="#/vacancies/{{history.vacancy.localId}}" once-text="history.vacancy.position"></a>
    <br>
    <span class="ui tiny header"> </span>
    <span bo-show="history.targetDate">
        <span  bo-text="'interview_times'|translate">:</span>
        <span bo-text="history.targetDate|dateFormat:true">
        </span>
    </span>
    <div><span ng-bind-html="history.descr|textForNotice:false"></span></div>
</div>