<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    <a class="pull-right editMessage" title="{{'Edit post' | translate}}" ng-show="$root.me.fullName == history.person.fullName"
       href="" ng-click="history.editCommentFlag = !history.editCommentFlag">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <span class="pull-left">{{'history_info.changed_the_status'|translate}}</span>
    <br>
    <span class="status  passed {{history.stateOld}}">
        {{history.stateOld | translate}}
    </span>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span class="status {{history.stateNew}}">
        {{history.stateNew | translate}}
    </span>
    <br>
    <span ng-show="!history.editCommentFlag" ng-bind-html="history.descr|textForNotice:false"></span>
    <div class="textField" ng-show="history.editCommentFlag">
        <div class="field">
            <textarea class="editCommentArea" ng-model="history.descr"></textarea>
        </div>
        <div ng-click="history.editCommentFlag = false" class="btn btn-primary cancel">
            {{'cancel'|translate}}
        </div>
        <div ng-click="changeComment(history)" class="btn btn-primary accept">
            {{'save'|translate}}
        </div>
    </div>
</div>