<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    <a class="editMessage pull-right" title="{{'Edit post' | translate}}" ng-show="$root.me.fullName == history.person.fullName" href=""
       ng-click="history.editCommentFlag = !history.editCommentFlag">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <span class="pull-left">
         <a href="#/users/{{history.targetPerson.userId}}" once-text="history.targetPerson.cutFullName"></a>
        {{'history_info.remove2'|translate}}
    {{'history_info.from_responsible_in_vacancy'|translate}}  <a href="#/vacancies/{{history.vacancy.localId}}"
                                                                 once-text="history.vacancy.position"></a>
    </span>
    <br>
    <span ng-show="!history.editCommentFlag" ng-bind-html="history.descr|textForNotice:false"></span>
    <div class="textField" ng-show="history.editCommentFlag">
        <div class="field">
            <textarea class="editCommentArea" ng-model="history.descr"></textarea>
        </div>
        <div class="btn cancel" ng-click="history.editCommentFlag = false">
            {{'cancel'|translate}}
        </div>
        <div class="btn accept" ng-click="changeComment(history)">
            {{'save'|translate}}
        </div>
    </div>
</div>
