<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" once-text="history.person.cutFullName" class="text-left user"></a>
</div>
<div class="col-lg-10">
    <a href="#/users/{{history.targetPerson.userId}}" once-text="history.targetPerson.cutFullName" class="text-left user"></a>
    {{'history_info.assigned'|translate}}
    {{'history_info.as_responsible_in_client'|translate}} <a href="#/clients/{{history.client.localId}}" once-text="history.client.name"></a>

</div>