<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10 margin-top">
    <a ng-href="#/candidates/{{history.candidate.localId}}">
        {{history.candidate.fullName}}
    </a>
    {{'history_info.was moved from'|translate}}
    <span class="status  passed {{history.stateOldName}}" ng-if="history.stateOldName">
        {{history.stateOldName | translate}}
    </span>
     <span class="status  passed {{history.stateOld}}" ng-if="!history.stateOldName">
        {{history.stateOld | translate}}
    </span>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="status {{history.stateNewName}}" ng-if="history.stateNewName">
        {{history.stateNewName | translate}}
    </span>
     <span class="status {{history.stateNew}}" ng-if="!history.stateNewName">
        {{history.stateNew | translate}}
    </span>
    {{'history_info.stage to vacancy'|translate}}
    <a ng-href="#/vacancies/{{ history.vacancy.localId}}">
        {{history.vacancy.position}}
    </a>
    <a title="{{'Edit post' | translate}}" ng-show="$root.me.fullName == history.person.fullName" href=""
       ng-click="changeCommentFlag(history)" class="editMessage pull-right">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <span ng-show="history.descr">
        <br>
        {{'history_info.message'|translate}}:
        <br/>
        <span ng-bind-html="history.descr|textForNotice:false"></span>
    </span>
    <div class="textField" ng-show="history.editCommentFlag">
        <div class="field">
            <textarea class="editCommentArea" ng-model="editComment"></textarea>
        </div>
        <div ng-click="history.editCommentFlag = false" class="btn btn-primary cancel">
            {{'cancel'|translate}}
        </div>
        <div ng-click="changeComment(history, editComment)" class="btn btn-primary accept">
            {{'save'|translate}}
        </div>
    </div>
</div>