<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10">
    {{'candidates'|translate}}
    <span class="comma">
        <span ng-repeat="candidate in history.candidates | limitTo: history.candidatesToShow">
            <a href="#/candidates/{{candidate.localId}}">{{candidate.fullName}}
                <span ng-if="history.candidates.indexOf(candidate) < history.candidatesToShow - 1">,</span>
            </a>
        </span>
    </span>
    <span ng-show="$root.currentLang =='ru' || $root.currentLang =='ua'">{{'by_vacancy'|translate}}</span>
    <span ng-show="$root.currentLang =='en'">{{'for vacancy'|translate}}</span> <a href="#/vacancies/{{history.vacancy.localId}}">{{history.vacancy.position}}</a>
    <a class="show-more-candidates"
       ng-show="history.candidates.length > 5">
        <span ng-click="toggleHistoryCandidatesLimit(history)" ng-show="history.candidatesToShow <= 5"><span class="default">{{'and' | translate}}&nbsp</span>{{'another'|translate}} ({{history.candidates.length - 5}})</span>
        <span ng-click="toggleHistoryCandidatesLimit(history)" ng-show="history.candidatesToShow > 5">&nbsp({{'Hide_1'|translate}})</span>
    </a> {{'were sent to the Email'|translate}}
    <span ng-switch="$root.me.personParams.clientAccessLevel">
        <span ng-switch-when="hide">{{history.client.name}}</span>
        <span ng-switch-default>
            <a href="#/clients/{{history.client.localId}}">{{history.client.name}}</a>
        </span>
    </span>
    <span class="comma">
        <span ng-repeat="mail in (history.descr|stringToJson)">{{mail}}</span>
    </span>
</div>
