<div class="block-integration-with-email">
    <div class="row integration-with-email">
        <div class="col-lg-12 fullName-position">
            <span>{{'Integration with email' | translate}}</span>
            <div class="button" ng-show="!showAddEmail && !editEmail && emails.length > 0">
                <a type="button" class="btn btn-primary" ng-click="showAddEmail = true;setDefault();">{{'Add Email' | translate}}</a>
            </div>
            <!--<p>Следующая проверка через <span>23 минуты</span></p>-->
        </div>
        <div class="col-lg-12 firstTable" ng-show="!showAddEmail && !editEmail">
            <div class="row bodies">
                <table class="table" ng-show="emails.length">
                    <tbody>
                    <tr ng-click="editMailBox(email)" ng-repeat="email in emails track by $index">
                        <td class="mailAndData">
                            <a>{{email.email}}</a><span>, {{email.dm|dateFormat:false}}</span>
                        </td>
                        <td class="settingsForUsers">
                            <div>
                                    <span>
                                        {{'Email Access1'|translate}} -
                                        <span ng-show="email.permitParsing" class="yes">{{'yes'|translate}}</span>
                                        <span ng-show="!email.permitParsing" class="no">{{'no'|translate}}</span>
                                    </span>
                            </div>
                            <div>
                                    <span>
                                        {{'Email Access3'|translate}} -
                                        <span ng-show="email.permitSend" class="yes">{{'yes'|translate}}</span>
                                        <span ng-show="!email.permitSend" class="no">{{'no'|translate}}</span>
                                    </span>
                            </div>
                            <div>
                                    <span>
                                        {{'Ability to use the mailing tool'|translate}} -
                                        <span ng-show="email.permitMailing" class="yes">{{'yes'|translate}}</span>
                                        <span ng-show="!email.permitMailing" class="no">{{'no'|translate}}</span>
                                    </span>
                            </div>
                            <div class="error" ng-if="email.status === 'incorrect_password'">{{'incorrect_password_integration'| translate}}</div>
                        </td>
                        <td class="howMuchResumes">
                                <span>
                                    {{'CVs added'|translate}} {{email.resumeCount}}<span ng-show="email.lastResumeDate">|</span><span class="grey">{{email.lastResumeDate| dateFormat2:false}}</span>
                                </span>
                        </td>
                        <td class="editIntegrationAddress">
                            <a title="{{'Change integration settings'|translate}}">
                                {{'Edit' | translate}}
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="editIntegrationAddress" ng-click="showRemoveEmail(email);$event.stopPropagation();"  title="{{'Edit'|translate}}">
                            <a title="{{'Cancel integration'|translate}}" href="">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container add-email">
           <form class="form-signin" ng-show="showAddEmail || editEmail || emails.length === 0" ng-init="obj={checkFields: false}">
               <h5 ng-show="showPassword">{{addedEmail.email}}</h5>
               <input class="form-control" ng-class="{'wrong-email': wrongEmail}" ng-click="wrongEmail = false" ng-show="!showPassword && !$root.showAdvancedFields" type="text" name="email" ng-model="addedEmail.email" click-on-enter="#addEmailButton .next-step" placeholder="E-mail address" ng-readonly="showPassword || $root.showAdvancedFields">
               <div class="text-center wrong-email-notification" ng-show="wrongEmail">{{'wrong_email' | translate}}</div>
               <div class="exchange" ng-show="!showPassword && !$root.showAdvancedFields" >
                   <input type="checkbox" id="exchange" ng-model="isExchange">
                   <label for="exchange">Microsoft Exchange</label>
               </div>
               <input class="form-control" ng-if="showPassword" autocomplete="off" ng-class="{'wrong-email': (obj.checkFields && !$root.addedEmail.password)}" type="password" ng-model="addedEmail.password" click-on-enter="#addEmailButton .next-step" name="password" placeholder="{{'password'|translate}}" ng-focus="obj.checkFields = false">
               <div class="text-center wrong-email-notification" ng-show="!$root.addedEmail.password && obj.checkFields && showPassword">{{'Please enter your password' | translate}}</div>
               <input class="form-control" ng-if="$root.showAdvancedFields && !isExchange" ng-class="{'wrong-email': (obj.checkFields && !$root.addedEmail.smtp.host)}" type="text" ng-model="$root.addedEmail.smtp.host" name="smtpHost" click-on-enter="#addEmailButton .next-step" placeholder="smtp Host" ng-focus="obj.checkFields = false">
               <div class="text-center wrong-email-notification" ng-show="!$root.addedEmail.smtp.host && obj.checkFields && showPassword && !isExchange">{{'Please fill in this field' | translate}}</div>
               <input class="form-control" ng-if="$root.showAdvancedFields && !isExchange" ng-class="{'wrong-email': (obj.checkFields && !$root.addedEmail.smtp.port)}" type="number" ng-model="$root.addedEmail.smtp.port" name="smtpPort" click-on-enter="#addEmailButton .next-step" placeholder="smtp Port" ng-focus="obj.checkFields = false">
               <div class="text-center wrong-email-notification" ng-show="!$root.addedEmail.smtp.port && obj.checkFields && showPassword && !isExchange">{{'Please fill in this field' | translate}}</div>
               <div class="buttons" ng-show="$root.showAdvancedFields && !isExchange">
                   <button type="button" class="btn btn-secondary" ng-class="{'active': $root.addedEmail.smtp.secure == 'SSL'}" ng-click="$root.addedEmail.smtp.secure = 'SSL'">SSL</button>
                   <button type="button" class="btn btn-secondary" ng-class="{'active': $root.addedEmail.smtp.secure == 'TLS'}" ng-click="$root.addedEmail.smtp.secure = 'TLS'">TLS</button>
               </div>
               <div ng-if="$root.showAdvancedFields && isExchange" class="exchange-input">
                   <input class="form-control" type="text" ng-model="$root.addedEmail.domainSlashUsername" name="domainSlashUsername" click-on-enter="#addEmailButton .next-step" placeholder="{{'Domain/user name'|translate}}" ng-focus="obj.checkFields = false">
                   <i class="fa fa-info-circle profilesMerge" tooltip-placement="bottom-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.exchangeDomain" aria-hidden="true"></i>
               </div>
               <div ng-if="$root.showAdvancedFields && isExchange" class="exchange-input">
                   <input class="form-control" type="text" ng-model="$root.addedEmail.exchangeHost" name="exchangeHost" click-on-enter="#addEmailButton .next-step" placeholder="{{'The server URL'|translate}}" ng-focus="obj.checkFields = false">
                   <i class="fa fa-info-circle profilesMerge" tooltip-placement="bottom-left" tooltip-class="tooltip-outer" uib-tooltip-html="$root.tooltips.exchangeHost" aria-hidden="true"></i>
               </div>

               <select class="exchange-version" ng-model="$root.addedEmail.exchangeVersion" ng-class="{'wrong-email': (obj.checkFields && !$root.addedEmail.exchangeVersion)}"  ng-init="$root.addedEmail.exchangeVersion = ''" ng-if="$root.showAdvancedFields && isExchange">
                   <option value="" translate="Exchange version"></option>
                   <option value="Exchange2007_SP1">Exchange2007 SP1</option>
                   <option value="Exchange2010">Exchange2010</option>
                   <option value="Exchange2010_SP1">Exchange2010 SP1</option>
                   <option value="Exchange2010_SP2">Exchange2010 SP2</option>
                   <option value="other">Other</option>
               </select>
               <div class="buttons text-center" id="addEmailButton">
                   <button class="btn btn-lg btn-default" ng-click="goBack()">{{'Back' | translate}}</button>
                   <button class="btn btn-lg btn-primary next-step" ng-click="addEmail()" ng-if="(($root.addedEmail.password && $root.addedEmail.smtp.host && $root.addedEmail.smtp.port) || ($root.addedEmail.password && isExchange && $root.addedEmail.exchangeVersion)) || !showPassword">
                       <span ng-show="!showPassword && !$root.showAdvancedFields">{{'Next' | translate}}</span>
                       <span ng-show="showPassword" >{{'Add Email' | translate}}</span>
                   </button>
                   <button class="btn btn-lg btn-primary next-step" ng-if="(((!$root.addedEmail.password || !$root.addedEmail.smtp.host || !$root.addedEmail.smtp.port) && !isExchange) || !$root.addedEmail.password || (!$root.addedEmail.exchangeVersion && isExchange)) && showPassword" ng-click="obj.checkFields = true">
                       <span >{{'Add Email' | translate}}</span>
                   </button>
               </div>
           </form>
        </div>
    </div>
</div>