.calendar-access {
	.modal-header {
		& > h4 {
			@include bold();
		}
		& > i {
			@include close-item();
		}
	}
	.modal-body {
		padding: 15px 15px 10px 15px;
		p {
			margin-bottom: 5px;
		}
		a {
			display: inline-block;
			margin: 8px 0;
		}
	}
	.modal-footer {
		border-top: none;
		.accept {
			@include button-green-styling();
		}
	}
}