.delete-responsible {
	.modal-header {
		& > h4 {
			@include bold();
		}
		i {
			@include close-item();
		}
	}
	.modal-body {
		.fa-times {
			@include close-item();
		}
		& > .taskText {
			& > .form-control {
				height: 200px;
				max-height: 380px;

				resize: vertical;
			}
		}
		&.news-modal {
			overflow-x: hidden;
		}
	}
	.modal-footer {
		.btn {
			@include button-green-styling();
		}
		.del {
			@include button-styling();
		}
		.accept {
			@include button-green-styling();
		}
		.cancel {
			@include button-styling-cancel();
		}
	}
}