.export-database-modal {
	position: relative;

	width: 700px;
	margin-left: -50px;
	padding: 20px 30px 5px 30px;

	border-radius: 7px;
	background-color: #e3f2dd;
	span.form-name {
		font-family: "Helvetica-Medium";
		font-size: 20px;

		display: block;
		margin-bottom: 30px;

		text-align: center;
	}
	& > .form {
		width: 77%;
		margin-bottom: 20px;

		background-color: rgba(241, 249, 238, 0.6);
		.paragraphWidth {
			width: 55%;
			p {
				@include bold();

				color: $theme-dark;
			}
		}
		.history {
			//margin-right: -45px;
			width: 26%;
			margin-top: 15px;
			a {
				position: relative;
				top: 8px;
				left: 3px;

				display: inline-block;
				width: 36%;
			}
		}
	}
	& > .applyOrClose {
		.btn-modern {
			font-family: "Helvetica-Regular";
			font-size: 18px;

			padding: 10px 37px;

			transition: all 0.3s;
			text-align: center;

			color: #fff;
			border: 1px solid #00b549;
			border-radius: 25px;
			background-color: #00b549;
			&.apply:hover {
				color: #00b549;
				border: 1px solid #00b549;
				background-color: #fff;
			}
			&:focus {
				border: none;
				outline: none;
			}
		}
		a {
			margin-left: 10px;

			color: $theme-dark;
		}
	}
	.closeModal {
		font-size: 15px;

		position: absolute;
		top: 3px;
		right: 5px;
		&:hover {
			cursor: pointer;
		}
	}
}