.no-access {
	padding: 20px;
	.loginmodal-container {
		h1 {
			font-size: 1.4em;

			margin-top: 0;
		}
		input[type=submit] {
			font-size: 16px;

			display: block;
			margin: 0 auto;
			margin-top: 8px;
			padding: 10px 20px;

			text-decoration: none;

			color: white;
			border-radius: 35px;
		}
		a {
			font-weight: 400;

			display: inline-block;

			transition: opacity ease 0.5s;
			text-align: center;
			text-decoration: none;

			opacity: 0.6;
			color: #666;
		}
		.socials {
			margin-top: 10px;

			text-align: center;
			.google-icon {
				font-weight: 500;

				display: inline-block;
				width: 135px;
				height: 34px;
				margin-right: 10px;
				margin-left: 5px;
				padding-top: 6px;
				padding-left: 10px;

				cursor: pointer;
				vertical-align: middle;

				color: #646465;
				border: 1px solid #ccc;
				border-radius: 35px;
				background: url(../../external/img/svg/btn_google.svg);
				background-color: #fcfcfc;
				background-repeat: no-repeat;
				background-position: 8px 7px;
				background-size: 18px 18px;
			}
			.fb-icon {
				position: relative;

				display: inline-block;
				width: 135px;
				height: 34px;
				padding-top: 6px;
				padding-left: 25px;

				cursor: pointer;
				vertical-align: middle;

				color: white;
				border: 1px solid #ccc;
				border-radius: 35px;
				background-color: #4267b2;
			}
			.google-icon:hover {
				transition: all 0.3s;

				background-color: #f4f4f4;
			}
			.fb-icon:hover {
				transition: all 0.3s;

				background-color: #365899;
			}
			.fb-icon i {
				font-size: 22px;

				position: absolute;
				top: 5px;
				left: 14px;

				color: white;
			}
		}
	}

	input[type=password] {
		margin: 15px auto;
	}
	input[type=text] {
		margin: 0 auto;
	}
	input:not([type=submit]) {
		position: relative;
		z-index: 15;

		width: 60%;
		padding: 5px 15px 5px 20px;

		border: 1px solid #e5e5e6;
		border-radius: 30px;
		background-color: #fcfcfc;
	}

	.loginmodal {
		font-family: "Arial", sans-serif;
		font-size: 14px;
		font-weight: 700;

		height: 36px;
		padding: 0 8px;

		text-align: center;
	}

	.loginmodal-submit {
		@include button-styling();
	}
}