.notHaveIntegrationWith-FB {
	.modal-header {
		& > h4 {
			@include bold();
		}
		i {
			@include close-item();
		}
	}
	.modal-body {
		& > a {
			@include link-styling();
		}
	}
	.modal-footer {
		.btn {
			@include button-styling();
		}
		.accept {
			color: $theme-white;
			background-color: $theme-dark-green;
		}
		.cancel {
			color: #585859;
			background-color: #e3e3e3;
		}
	}
}