.open-promo-logo {
	.modal-body {
		.preview-logo-vacancy {
			width: 20%;
			#crop-block {
				#wrapperForPng {
					margin-bottom: 10px;
					img {
						display: block;
						margin: 0 auto;
					}
					#cancel {
						@include button-styling-cancel();

						font-weight: normal;

						margin-top: 15px;
						padding: 3px 4px;
					}
					#download {
						@include button-green-styling();

						font-weight: normal;

						margin-top: 15px;
						margin-left: 12px;
						padding: 3px 4px;
					}
				}
				#cropper-wrap {
					margin: 10px 0;

					text-align: center;

					border-radius: 5px;
					#close {
						@include button-styling-cancel();

						font-weight: normal;

						padding: 3px 9px;
					}
					#cropp {
						@include button-green-styling();

						font-weight: normal;

						padding: 3px 9px;
					}
					#img-wrapper {
						margin: 0 auto 20px auto;
					}
				}
			}
		}
	}
}