.invoice-confirm {
	border-right: 4px;
	background: #e3f2dd;
	.modal-header {
		.fa-times {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.modal-body {
		background: #eff7ee;
	}
	.modal-footer {
		.btn-cancel {
			@include btn-cancel();

			font-family: "Helvetica-Medium";

			margin-right: 35px;
		}
		.btn-primary-new {
			@include btn-primary-new();

			font-family: "Helvetica-Medium";
		}
	}
}