.invoice-confirm {
	border-radius: 4px;
	background: #e3f2dd;
	.modal-header {
		border-bottom: none;
		h4 {
			font-family: "Helvetica-Bold";
		}
		.fa-times {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.modal-body {
		background: #eff7ee;
		p {
			font-family: "Helvetica-Light";
		}
	}
	.modal-footer {
		padding-bottom: 20px;

		border: none;
		.btn-cancel {
			@include btn-cancel();

			font-family: "Helvetica-Medium";

			margin-right: 35px;
		}
		.btn-primary-new {
			@include btn-primary-new();

			font-family: "Helvetica-Medium";
		}
	}
}