body.modal-open-public-vacancy-form {
	.modal-content {
		border-radius: 16px;
	}
}

.public-vacancy-form {
	position: relative;

	padding: 30px 50px;

	border-radius: 16px;
	background-color: #e3f2dd;
	span.form-name {
		font-family: "Helvetica-Medium";
		font-size: 20px;

		display: block;
		margin-bottom: 30px;

		text-align: center;
	}
	.form {
		padding: 0;

		border-radius: 0;
		background: none;
		.btn-primary-new {
			@include btn-primary-new();
		}
	}
	.recallForm {
		input,
		textarea {
			display: inline-block;
			max-width: 45%;
			height: 28px;
			margin-bottom: 10px;
			padding: 5px 10px;

			color: #000;
			border: 1px solid #c2bcbc;
			border-radius: 13px;
			outline: none;
			//&.margin-right {
			//	margin-right: 9%;
			//}
			&.error {
				border: 1px solid #dd514c;
				background-color: rgb(255, 246, 247);
			}
		}
		textarea {
			max-width: 100%;
			height: 85px;
			min-height: 100px;
			margin: 0;

			resize: vertical;
		}
		.attachFile {
			margin: 20px 0 0 10px;
			& label {
				margin-left: 3px;
				&:hover {
					cursor: pointer;
				}
			}
			& img:hover {
				cursor: pointer;
			}
		}
		.error_block {
			display: block;
			.recallForm__error {
				font-size: 11px;
				line-height: 10px;

				display: inline-block;
				width: 45%;
				max-height: 20px;
				margin-bottom: 9px;

				white-space: nowrap;
				& span {
					padding: 5px 10px;

					color: #a94442;
					border-radius: 13px;
				}
			}
			.email {
				clear: both;
			}
			.phone {
				clear: right;
			}
		}
		.message {
			font-size: 11px;
			line-height: 20px;

			display: inline-block;
			width: 45%;
			max-height: 20px;
			margin-left: 18px;

			white-space: nowrap;
			& span {
				padding: 5px 10px;

				color: #a94442;
				border-radius: 13px;
			}
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		.error_form {
			display: inline-block;
			width: 100%;
			.recallForm__error {
				margin-bottom: 5px;
			}
		}
	}
	.closeModal {
		font-size: 15px;
		font-weight: 600;

		position: absolute;
		top: 7px;
		right: 15px;

		color: #000;
		&:hover {
			cursor: pointer;
		}
	}
}

@media (max-width: 600px) {
	.public-vacancy-form .recallForm input,
	.public-vacancy-form .recallForm textarea {
		min-width: 100%;
	}
	.public-vacancy-form .recallForm .recallForm__error {
		width: 100%;

		text-align: center;
	}
	.btn-primary-new {
		display: block;
		float: none!important;
		margin: 15px auto 0;
	}
}