.tag-remove {
	h4 {
		font-weight: bold;
	}
	p {
		font-weight: normal;
	}
	a.accept {
		&:hover {
			color: #202021;
			background-color: #fdd14a;
		}
	}
	a.cancel {
		&:hover {
			color: #202021;
			background-color: #e3e3e3;
		}
	}
}