<div id="helpZip3" class="helpZip">
    <div>
        <div class="ui vertically divided grid ">
            <div class="sixteen wide column">
                <div class="questionsOuter">
                    <div class="zipTextOuter">
                        <span class="textZip">
                            {{"If you have any candidates in the program E-Staff, they can be exported in two steps"|translate}}.
                            <br/>
                            <br/>
                            <div>
                                1.{{"Create a script export (Menu -> Tools -> Administration -> Other -> Scripts exports). Uploaded types of objects - the candidate. Specify the name of the script and save"|translate}}.
                                <br/>
                                <br/>
                                2.{{"Upload (Menu -> Tools -> Export -> Your script that you received from p.1. You will receive a folder with files of the candidate-0x0A1234E567C890A0.xml. All you need to pack a folder in the ZIP-archive and send it here. So the candidates of the E-Staff will take a CleverStaff."|translate}}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>