<div id="helpZip2" class="helpZip">
    <div>
        <div class="ui vertically divided grid ">
            <div class="sixteen wide column">
                <div class="questionsOuter">
                    <div class="zipTextOuter">
                        <span class="textZip">
                           {{"If your resumes folders like in the picture:"|translate}}
                            <br/>
                            <br/>
                             <img src="../images/sprite/ZipArchive1.png"/>
                            <br/>
                            {{"simply pack the root folder in the ZIP-archive. This is a good option"|translate}}.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>