<div id="helpZip1" class="helpZip">
    <div>
        <div class="ui vertically divided grid ">
            <div class="sixteen wide column">
                <div class="questionsOuter">
                    <div class="zipTextOuter">
                         <span class="textZip">
                            {{"You can just upload all resumes in one big folder and pack"|translate}}.
                            <br/>
                            <br/>
                            <img src="../images/sprite/ZipArchive2.png"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
