<div class="event" ng-repeat="history in $root.previewHistory|limitTo:1" ng-switch="history.type">
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_add" >
        <ng-include src="'partials/activity/preview_candidate/candidate_add.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_edit">
        <ng-include src="'partials/activity/preview_candidate/candidate_edit.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_change_state">
        <ng-include src="'partials/activity/preview_candidate/candidate_change_state.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_set_responsible">
        <ng-include src="'partials/activity/preview_candidate/candidate_set_responsible.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_add_file">
        <ng-include src="'partials/activity/preview_candidate/candidate_add_file.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_remove_file">
        <ng-include src="'partials/activity/preview_candidate/candidate_remove_file.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="interview_add">
        <ng-include src="'partials/activity/preview_candidate/interview_add.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="interview_edit">
        <ng-include src="'partials/activity/preview_candidate/interview_edit.html?b=1'"></ng-include>
    </div>

    <div class="col-lg-12 previewBlock" ng-switch-when="candidate_message">
        <ng-include src="'partials/activity/preview_candidate/candidate_message.html?b=1'"></ng-include>
    </div>
    <div class="col-lg-12 previewBlock" ng-switch-when="interview_edit_date">
        <ng-include src="'partials/activity/preview_candidate/interview_edit_date.html?b=1'"></ng-include>
    </div>
</div>