<ng-include src="'partials/activity/preview_candidate/header.html?b=1'"></ng-include>
<div class="summary small">
    <a href="#/users/{{history.targetPerson.userId}}"><span
            once-text="history.targetPerson.cutFullName"></span></a>
    {{'history_info.assigned'|translate}}

    {{'history_info.as_responsible'|translate}} <a href="#/vacancies/{{history.vacancy.localId}}"><span
            once-text="history.vacancy.position"></span></a>
    <br>
    <div ng-class="{'fixed-comment-width' : history.descr.length > 270}">
        <span ng-bind-html="history.descr|textForNotice:false"></span>
    </div>
</div>