<div class="ui vertically divided grid ">
    <div class="sixteen wide column"
         style="color: #999;color: #999;border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding-left:0px">
        <span class="ui small header" style="/* margin: 0px; */font-weight: inherit;" translate="last_event"> </span>

        <span class="date small" style="float:none;padding-left: 3px;">{{history.dm|dateFormat:false}}</span>
        <a style="color: #999;font-size: 13px;" href="#/users/{{history.person.userId}}">
            <span class="small" once-text="history.person.firstName"></span>
            <span class="small" once-text="history.person.lastName"></span>
        </a>
    </div>
</div>