<ng-include src="'partials/activity/preview_candidate/header.html?b=1'"></ng-include>
<div class="summary small">
    {{'Postponement of the date of interview'|translate}}
    {{'history_info.in__vacancy'|translate}}
    <a href="#/vacancies/{{history.vacancy.localId}}" once-text="history.vacancy.position"></a>
    <br>
    <span>{{history.oldTargetDate|dateFormat:true}}</span>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span> {{history.targetDate|dateFormat:true}}</span>
    <br>
    <div ng-class="{'fixed-comment-width' : history.descr.length > 270}">
        <div>{{history.descr|textForNotice:false}}</div>
    </div>
</div>