<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>
<div class="col-lg-10 margin-top">
    <span>
        <span translate="Mailing"></span>
        <a ng-bind="history.descr" ng-click="toSentPreview(history.compaignId)"></a>
        <span translate="was sent"></span>
        <span ng-if="history.candidates.length == 1">
            {{'candidate_5'|translate}}
             <a ng-href="#/candidates/{{history.candidates[0].localId}}">
                 {{history.candidates[0].fullName}}
             </a>
        </span>
        <span ng-if="history.candidates.length == 2">
            <span translate="to_candidates"></span>
            <a ng-href="#/candidates/{{history.candidates[0].localId}}">
                {{history.candidates[0].fullName}}
            </a> {{'and'|translate}} <a ng-href="#/candidates/{{history.candidates[1].localId}}">
                {{history.candidates[1].fullName}}
            </a>
        </span>
        <span class="manyCandidates" ng-if="history.candidates.length > 3">
            <span class="boldTxt" ng-click="openMenuWithCandidates(history)">{{'to_candidates'|translate}} (<span class="blueLink">{{history.candidates.length}}</span>)</span>
        </span>
        <span translate="on stage" ng-if="history.stageName"></span>
        <span ng-if="history.stageName">
            "<span translate="{{history.stageName}}"></span>"
        </span>
        <span translate="history_info.on_vacancy" ng-if="history.vacancy"></span>
        <a href="#/vacancies/{{ history.vacancy.localId}}" ng-if="history.vacancy">
            {{history.vacancy.position}}
        </a>
    </span>
    <span class="manyCandidates" ng-if="history.candidates.length > 2">
        <div ng-show="history.showAllCandidates">
            <span ng-repeat="candidate in history.candidates" class="menuCandidate">
                <a ng-href="#/candidates/{{candidate.localId}}" title="{{candidate.fullName}}">
                    {{candidate.fullName}}
                </a>
            </span>
        </div>
    </span>
</div>