<div class="col-lg-2" title="{{history.dm|dateFormat:true}}">
    <div class="time-comment">
        {{history.dm|dateFormat:false}}
    </div>
    <a href="#/users/{{history.person.userId}}" class="text-left user">
        <span once-text="history.person.firstName"></span>
        <span once-text="history.person.lastName"></span>
    </a>
</div>

<div class="col-lg-10" ng-show="user.personId">
    <span>{{"user"|translate}}</span>
    <span class="remove-user" error-popup data-error="User deleted from account">{{history.targetPerson.fullName}}</span>
    <span>{{"was removed from the account"|translate}}</span>
</div>
<div class="col-lg-10" ng-show="!user.personId">
    <span>{{"user"|translate}}</span>
    <span class="remove-user" error-popup data-error="User deleted from account">{{history.targetPerson.fullName}}</span>
    <span>{{"was removed from the account"|translate}}</span>
    <span>{{"byUser"|translate}}</span>
    <a href="#/users/{{history.person.userId}}" >{{history.person.fullName}}</a>
</div>
